#tab-create-user{
    .form-content{
        width: 690px;
        max-width: 100%;
        .row{
            .row:first-child{
               padding-right: 2rem;
            }
        }
        .col-email,
        .col-phone{
            .input-custome{
                width: 100%;
            }
            
        }
        .col-email{
            position: relative;
            
            .form-error{
                position: absolute;
                bottom: 0;
                color: red;
            }
            
        } 
        .error-active{
            padding-bottom: 15px;
        }
    }
    
    .form-content-chkbox{
        .row{
            .form-label{
                width: 15%;
                max-width: 20%;
            }
            .row-chkbox{
                padding-top: 0.5rem;
                .checkbox{
                    margin-right: 1rem;
                }
            }
        }
    }

    .form-content-table{
        display: flex;
        .table-titel{
            font: rem(28px) 'Barlow', medium;
            margin-bottom: 20px;
        }
        .table{
            .table-custome{
                border-radius: 0;
                .container-chkbox{
                    margin-bottom: 0;
                }
                .thead-content{
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border-radius: 0;
                    
                    &::after{
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        border-radius: 0;
                    }
                    th{
                        color: #899CA4;
                        width: 200px;
                        padding: 0.5rem 0.9rem 0.4rem ;
                        &:nth-child(2n+2) {
                            background-color: #F5F5F5;
                            color: #306D7C;
                        }
                    }
                    th:first-child {
                        width: 20%;
                    }
                }
                .tbody-content{
                    background-color: #DDE1E4;
                    height: 500px;
                    display: block;
                    overflow: auto;
                    
                    tr{
                        td{
                            border-right: 0px;
                            width: 200px;
                            .container-chkbox{
                                padding-top: 1px;
                                margin-bottom: 0;
                            }
                            &:nth-child(2){
   
                                .container-chkbox{
                                    margin-bottom: 10px;
                                }
                                
                            }
                        }
                        td:first-child {
                            width: 19%;
                        }
                    }
                    tr:nth-child(2n+2){
                        background-color: #C7D0D4;
                        td{
                            .container-chkbox{
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }

        .content-table-left{
            margin-right: 50px;
            max-width: 640px;
            .table{
                width: 100%;
                .thead-content{
                    tr{
                        th:first-child {
                            width: 30%;
                            text-align: left;
                        }
                        th:last-child{
                            width: 100px;
                        }
                    }
                }
                .tbody-content{
                    tr{
                        background: #C1C9CC;
                        td{
                            height: 37px;
                            padding: 0.3rem 0.5rem 0.3rem 0.5rem;
                            &:first-child {
                                padding: 0.3rem 0.5rem 0.3rem 0.9rem;
                                width: 29%;
                            }
                            &:nth-child(2){
                                background: #9BABB2 0% 0% no-repeat padding-box;
                            }
                            &:last-child{
                                width: 113px;
                                text-align: center;
                            }
                        }
                        &:nth-child(2){
                           background-color:  #EFEFEF;
                            td{
                                &:nth-child(2){
                                    background: #C0CCD1 0% 0% no-repeat padding-box;
                                }
                            }
                        }
                    }
                    .btn-display-teach{
                        background: transparent linear-gradient(180deg, #306D7C 0%, #18373E 100%) 0% 0% no-repeat padding-box;
                        border-radius: 6px;
                        border: 0;
                        color: white;
                    }
                }
            }
        }

        .content-table-right{
            max-width: 830px;
            .table{
                width: 100%;
                .table-custome{
                    .thead-content{
                        th{
                            text-align: left;
                            &:first-child {
                                width: 15%;
                            }
                            &:nth-child(2){
                                width: 90px;
                            }
                        }
                    }
                    .tbody-content{
                        
                        tr{
                            height: 37px;
                            background-color: #BAC4C9;
                            &:nth-child(2){
                                background-color: #E3E3E3;
                            }
                        }
                        td {
                            &:first-child {
                                padding: 0.3rem 0.5rem 0.3rem 0.9rem;
                                width: 14%;
                            }
                            &:nth-child(2){
                                width: 85px;
                            }
                        }
                    } 
                } 
            }
        }
    }
    .form-content-btn{
        text-align: end;
        margin-top: 30px;
    }
    
}

@media (max-width: rem(1440px))  {
    #tab-create-user{
        .form-content-table {
            .content-table-left{
                .table .table-custome .thead-content::after{
                    height: 48px;
                }

            }
        }
        
    } 

}

@media (max-width: rem(1250px))   {

    #tab-create-user{
       
        .form-content-table {
            display: block;
            .content-table-left{
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
                .table .table-custome .thead-content::after{
                    height: 32px;
                }
            }
            .content-table-right{
                max-width: 100%;
            }
        }
    } 
    
}



 /* Tablette */
 @media (max-width: rem(900px)) {
    #tab-create-user{
        .form-content {
            & >.row:first-child{
                display: block;
                .row:first-child {
                    padding-right: 0rem;
                }
            }
            .input-custome{
                width: 100%;
            }
            .container-chkbox {
                padding-right: 12px;
            }
            
        }
        
    } 
}