#setting-user{
    margin-left: 2.5%;
    .setting-user-table{
        margin-top: 20px;
    }
    
    .tab-content-title{
        h3{
            &::after{
                display: none;
            }
        }
    }

    .table{
        .table-custome{
            .thead-content{
                th{
                   width: 50px;
                    &:first-child{
                        
                    }
                }
            }
            .tbody-content{
                td{
                    width: 50px;
                    &:first-child{
                        
                    }
                }
            }
        }
    }
}