{% extends 'media.html.twig' %}

{% block title "Modification - Média" %}

{% block maincontent %}

    <article id="picture" class="tab-content current media-show">

        <div class="tab_content_body_top">

            <div class="tab_content_body_top_item container tab_content_body_title_container">
                <p class="tab_content_body_title">ModifierMédia</p>
                <p class="media_name">{{ media.name }}</p>
            </div>

            <div class="tab_content_body_top_item container actions_buttons_container">

                <div class="container">
                    <p>Medias : </p>
                </div>

                <div class="container">
                    <button type="button" class="btn modify_media_btn media_action_btn" disabled><i class="fas fa-pen"></i>Modifier</button>
                </div>

                <div class="container">
                    <button type="button" class="btn duplicate_media_btn media_action_btn" disabled><i class="fas fa-plus"></i>Dupliquer</button>
                </div>

                <div class="container">
                    <button type="button" class="btn tags-table media_action_btn" disabled>TAG</button>
                </div>

                <div class="container">
                    <button type="button" class="btn delete_media_btn media_action_btn" disabled><i class="fas fa-trash"></i>Supprimer</button>
                </div>

            </div>

        </div>


        <div class="tab_content_body">

            {% include "/media/show_media.html.twig" %}

        </div>

    </article>

    {% include "/popups/loadingPopup/popup_loading.twig" %}

    {% include "/popups/associations/product_association/popup_product_association.html.twig" %}

    {% include "/popups/associations/tag_association/popup_tag_association.html.twig" %}

    {% include "/popups/mediaExpandedMiniaturePopup/media_expanded_miniature_popup.html.twig" %}

    {% include "/popups/deletingMedia/popup_delete_media.html.twig" %}

{% endblock %}

