{% extends 'media.html.twig' %}


{% block maincontent %}
    <section class="wrapper_tabcontent">
        <article id="picture" class="tab-content current">
            <article class="display site-display ">
                <div class="display-content">
                    <div>
                        <button type="button" class="btn btn-upload add-table"><i class="fas fa-plus"></i>UPLOAD</button>
                    </div>
                    <div class="display-content-columns">
                        <div class="display-content-poste">
                            <button type="button" class="drop-btn" >Afficher des colonnes <div class="drop-btn-icone"><i class="fas fa-angle-down"></i></div></button>
                            <div class="display-content-down">
                                <div class="product-select-col">
                                    <label class="mutliselect-chkbox" > Société / Marque
                                        <input type="checkbox"  checked name="satut"  data-tableDeleteCol="Societe" value="" >
                                        <span class="mutliselect-check"></span>
                                    </label>
                                </div>
                                <div class="product-select-col">
                                    <label class="mutliselect-chkbox"> Groupe de prix
                                        <input type="checkbox"  checked name="satut"  data-tableDeleteCol="Groupe" value="">
                                        <span class="mutliselect-check"></span>
                                    </label>
                                </div>
                                <div class="product-select-col">
                                    <label class="mutliselect-chkbox"> Critéré sélectif obligatoire</span>
                                        <input type="checkbox"  name="satut"  data-tableDeleteCol="selectif" value="">
                                        <span class="mutliselect-check"></span>
                                    </label>
                                </div>
                                <div class="product-select-col">
                                    <label class="mutliselect-chkbox"> Critérés
                                        <input type="checkbox"  checked name="satut"  data-tableDeleteCol="critere" value="">
                                        <span class="mutliselect-check"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="display-btn">
                        <p>Prodits : </p>
                        <button type="button" class="btn add-table"><i class="fas fa-plus"></i>Ajouter</button>
                        <button type="button" class="btn duplicate-table"><i class="fas fa-plus"></i>Dupliquer</button>
                        <button type="button" class="btn modified-table"><i class="far fa-edit"></i>Modifier</button>
                        <button type="button" class="btn delete-table"><i class="fas fa-trash"></i>Supprimer</button>
                        <button type="button" class="tags-table">TAG</button>
                    </div>
                </div>
            </article > 



            <article class="add-popup">
            
                <div class="modal">

                    <div class="header-modal">
                        <div>
                            <p class="upload-title">Préparation de l'Upload</p>
                            <button type="button" class="btn btn-popupclose upload_abort">X</button>
                        </div>
                    </div>

                    <div class="model-upload-file files_selection">

                        <div class="upload-file">
                            <form id="uploadForm">
                                <label for="uploadmedia">selectionner vos fichiers</label>
                                <input type="file" id="uploadmedia" class="uploadbtn" name="uploadmedia" multiple>
                            </form>
                        </div>

                        <div class="upload-info">

                            <div class="table">
                                <table class="table-custome" >
                                    <thead  class="table-info thead-content">
                                        <tr>
                                            <th>Liste des médias déposés :</th>    
                                            <th></th>
                                            <th>Formats acceptés</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody tbody-content scrollbar-table">

                                    </tbody>  
                                </table>    
                            </div> 

                        </div>
                        
                        <div class="start-upload-container">
                            <span class="error error_over-max-file"></span>
                            <button type="button" class="product-btn-add start_upload_button" style="display: none">Démarrer l'upload</button>
                        </div>
                        
                    </div>
                    
                    <div class="modal-upload-download on_progress" style="display: none">

                        <div class="upload_list_container">
                            <table class="upload_list">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody-content tbody">

                                </tbody>
                            </table>
                        </div>

                        <div class="download-file">
                            <button type="button" class="btn btn-popupclose upload_abort">Annuler</button>
                            <button type="button" class="product-btn-add show_media_edit_container" style="display: none;">Suivant</button>
                        </div>

                    </div>

                    <div class="edit_media_info" style="display: none">

                        <div class="media_list_container">

                            <div class="table media_list">

                                <div class="thead">
                                    <div class="tr">
                                        <div class="td">Médias</div>
                                        <div class="td">Caractéristiques</div>
                                        <div class="td">Nom</div>
                                        <div class="td">Date de diffusion</div>
                                        <div class="td">Affecter TAGS</div>
                                        <div class="td">Associer produits</div>
                                        <div class="td">Incruste de prix</div>
                                    </div>
                                </div>

                                <div class="tbody">

                                </div>

                            </div>
                        </div>

                        <div>
                            <button type="button" class="btn-popupclose">Annuler</button>
                            <button type="button" class="save-media-modif">Enregistrer</button>
                        </div>

                    </div>

                </div>
            </article>
        </article>
    </section>

{% endblock %}