{% extends 'media.html.twig' %}


{% block maincontent %}
    <section class="wrapper_tabcontent">
        <article id="picture" class="tab-content current">
            <article class="display site-display ">
                <div class="display-content">
                    {% if uploadIsAuthorizedOnPage is defined and uploadIsAuthorizedOnPage is not same as(false) %}
                    <div>
                        <button type="button" class="btn btn-upload add-table"><i class="fas fa-plus"></i>UPLOAD</button>
                    </div>
                    {% endif %}
                    <div class="display-content-columns">
                        <div class="display-content-poste">
                            <button type="button" class="drop-btn" >Afficher des colonnes <div class="drop-btn-icone"><i class="fas fa-angle-down"></i></div></button>
                            <div class="display-content-down">
                                <div class="product-select-col">
                                    <label class="mutliselect-chkbox" > Société / Marque
                                        <input type="checkbox"  checked name="satut"  data-tableDeleteCol="Societe" value="" >
                                        <span class="mutliselect-check"></span>
                                    </label>
                                </div>
                                <div class="product-select-col">
                                    <label class="mutliselect-chkbox"> Groupe de prix
                                        <input type="checkbox"  checked name="satut"  data-tableDeleteCol="Groupe" value="">
                                        <span class="mutliselect-check"></span>
                                    </label>
                                </div>
                                <div class="product-select-col">
                                    <label class="mutliselect-chkbox"> Critéré sélectif obligatoire</span>
                                        <input type="checkbox"  name="satut"  data-tableDeleteCol="selectif" value="">
                                        <span class="mutliselect-check"></span>
                                    </label>
                                </div>
                                <div class="product-select-col">
                                    <label class="mutliselect-chkbox"> Critérés
                                        <input type="checkbox"  checked name="satut"  data-tableDeleteCol="critere" value="">
                                        <span class="mutliselect-check"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="display-btn">
                        <p>Produits : </p>
                        <button type="button" class="btn add-table"><i class="fas fa-plus"></i>Ajouter</button>
                        <button type="button" class="btn duplicate-table"><i class="fas fa-plus"></i>Dupliquer</button>
                        <button type="button" class="btn modified-table"><i class="far fa-edit"></i>Modifier</button>
                        <button type="button" class="btn delete-table"><i class="fas fa-trash"></i>Supprimer</button>
                        <button type="button" class="tags-table">TAG</button>
                    </div>
                </div>
            </article >

            {% if uploadIsAuthorizedOnPage is defined and uploadIsAuthorizedOnPage is same as(true) %}

                {% include "/popups/upload-popup.html.twig" %}

            {% endif %}
        </article>
    </section>

{% endblock %}