{% extends 'setting.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block maincontent %}

<section class="wrapper_tabcontent">

        <article id="setting-tags" class="tab-content current">
        </article>
        
    <h1>Edit Tag</h1>

    {{ include('tags/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tags_index') }}">back to list</a>

    {{ include('tags/_delete_form.html.twig') }}

<section>        
    
{% endblock %}
