{% extends "base.html.twig" %}

{% block title "Inscription terminée !" %}

{% block body %}

    <h4>Votre inscription est terminée et confirmée ! Vous pouvez vous <a href="{{ path('user::login') }}">connecter</a> dès maintenant. </h4>

{% endblock %}