<article class="add-popup add-popup-allergens">
    <div class="modal">

        <div class="header-modal">
            <p class="upload-title">Affecter allergènes à :</p>
            <button type="button" class="btn btn-popupclose2 ">X</button>
        </div>

        <div class="content-popup-allergens table" >
            <table class="table-custome">
                <thead>
                </thead>
                <tbody class="tbody">
                <tr>
                    <td>
                        <label class="container-input">
                            <input type="checkbox">
                            {# {{ form_widget(tag, {'attr': {'class': 'chkbox-tag'}} ) }} #}
                            <span class="container-rdo-tags"></span>
                        </label>
                    </td>
                    <td>
                        <img class="icon-allergen" src="" alt="">
                    </td>
                    <td>
                        <p class="desc">Poissons et produits à base de poissons</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <button type="button" class="btn btn-add-">Affecter au site</button>
        </div>

    </div>
</article>