<article class="add-popup add-popup-criterions ">
    <div class="modal">

        <div class="header-modal">
            <p class="upload-title">Critères affectés à :</p>
            <button type="button" class="btn btn-popupclose2 ">X</button>
        </div>

        <div class="content-popup-criterions" >
            {# <article class="content-criteres">
                <ul>
                    {%  for criterions_list in criterions_lists  %}
                        <li class="row-criterion">
                            {{ include('settings/criterions_lists/_criterions_list.html.twig') }}
                        </li>
                    {% endfor %}
                </ul>
            <article> #}
        </div>

        <div>
            <button type="button" class="btn btn-add-site">Affecter au site</button>
        </div>

    </div>
</article>