.display{
    padding-top: rem(58px);
    position: relative;

    .display-content{
        display: flex;
        flex-direction: column;
        width: 100%;

        .display-content-columns{
            display: flex;
            .drop-btn{
                background-color: #FFFFFF ;
                padding: 0.2rem 0.9rem;
                border: rem(1px) solid #4D646D;
                border-radius: rem(6px);
                font: rem(16px) 'Segoe UI', sans-serif;
                height: rem(31px);
                max-width: 100%;
                text-align: left;
                .drop-btn-icone{
                    position: absolute;
                    right: rem(8px);
                    top: rem(-5px);
                    color: #899CA4;
                    font-size: rem(30px);
                }
            }
            .display-content-down{
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 100%;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                padding: rem(6px);
                // .mutliselect-chkbox{
                //     font: rem(14px) 'Segoe UI', sans-serif;
                //     margin-bottom: 0.2rem;
                // }
            }
            
            .display-content-poste,
            .display-dates{
                position: relative;
                display: inline-block;
                &:hover .display-content-down {
                    display: block;
                  }
            }
            .display-content-poste{
                margin-right: 2rem;
                .drop-btn{
                    width: rem(210px);
        
                }
            }
            .display-dates{
                .drop-btn{
                    width: rem(115px);
                }
            }
        }

        button {
            cursor: pointer;
        }

        .top{
            width: 100%;
            margin-bottom: 1%;

            &::after {
                content: '';
                //top: rem(5px);
                left: 0%;
                width: 99%;
                border: rem(1px) solid #4D646D;
                position: relative;
                display: block;
            }

            .actions-btn-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-bottom: 1%;

                .container:not(:last-child) {
                    margin-right: 2%;
                }

                .left-btns, .right-btns{
                    display: flex;
                    flex-direction: row;
                }

                .left-btns{
                    width: 65%;

                    .show-media-waiting-incrustation-container  {
                        position: relative;

                        .media-waiting-incrustation-number {
                            background-color: #FF5722;
                            color: #FFF;
                            position: absolute;
                        }

                    }

                    .show-archived-media-container{
                        position: relative;

                        .archived-medias-number {
                            background-color: #4f9bae;
                            color: #FFF;
                            position: absolute;
                        }
                    }

                }

                .right-btns{
                    width: 35%;
                }

            }

        }

        .body{

            .filters-container{
                display: flex;
                flex-direction: row;
                width: 100%;

                .filter {
                    cursor: pointer;
                }

                .left-filter-container {
                    width: 70%;
                    display: flex;
                    flex-direction: row;

                    .filter-by-orientation-or-type-container {
                        background-color: #FFF;
                        border: 1px solid #C0CCD1;
                        display: flex;
                        flex-direction: row;
                        width: 30%;
                        justify-content: space-around;
                        text-align: center;

                        i{
                            font-size: 30px;
                            color: #00B8F5;
                        }

                        .filter.active {
                            border: 3px solid #00B8F5;;
                        }

                    }

                    .filter-by-characteristics-container {
                        background-color: #E3E3E3;
                        border: 1px solid #C0CCD1;
                        display: flex;
                        flex-direction: row;
                        width: 70%;
                        justify-content: space-around;

                        .filter-validation-btn-container {

                            .filter-validation-btn{
                                text-transform: uppercase;
                            }

                        }

                    }

                }

                .right-filter-container {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .pagination-container{
                        display: flex;
                        flex-direction: row;

                        .pages-container {

                            .page{
                                color: #000;
                                text-decoration: none;

                                &.current_page{
                                    color: #4F9BAE;
                                    text-decoration: underline;
                                }

                            }
                        }

                    }

                }

            }

            .medias-list-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 3% 0 3% 0;
                height: 950px;
                overflow: auto;

                .card{
                    width: 16rem;
                    height: 18rem;
                    background-color: #E3E3E3;
                    cursor: pointer;
                    padding: 1% 1% 0 1%;
                    display: flex;
                    flex-direction: column;
                    margin-right: 3%;
                    margin-bottom: 3%;

                    &:hover{
                        background-color: #B1C1C8;
                    }

                    &.hidden{
                        display: none;
                    }

                    .card-header{
                        display: flex;
                        flex-direction: row;
                        height: 5%;
                        margin-bottom: 3%;

                        .select-media-input-container{
                            width: 50%;
                        }

                        .media-actions-shorcuts-container{
                            width: 50%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            .shorcut{
                                width: 30%;
                                height: 100%;
                                background-color: #4F9BAE;
                                color: #FFF;
                                text-align: center;

                                &:not(:last-child) {
                                    margin-right: 5%;
                                }

                            }

                            .shorcut-diff-date-modification.date-coming-soon {
                                background-color: #F57171;
                                color: #FFF;
                            }

                        }

                    }

                    .card-body{
                        height: 95%;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 5%;

                        .media-miniature-container{
                            width: 100%;
                            height: 75%;
                            margin-bottom: 3%;

                            .media-miniature{
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                                max-width: 100%;
                                height: 100%;
                                min-height: 100%;
                                object-fit: contain;
                            }

                        }

                        .media-name-container {
                            background-color: #FFF;
                            color: #000;
                            text-align: center;
                            height: 10%;
                            margin-bottom: 3%;
                        }

                        .media-associated-items-container {
                            display: flex;
                            flex-direction: column;
                            height: 15%;
                            margin-bottom: 3%;

                            .associated-item{
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;

                                p.criterion{
                                    width: 50%;
                                }

                                p.tag{
                                    width: 50%;
                                }

                            }

                        }

                    }

                }

            }

        }

        


    }

    .display-btn{
        display: flex;
        /*position: absolute;
        right: 0;*/
        &::after{
            border: rem(1px) solid #4D646D;
        }
        p{
            margin-right: 1rem;
            margin-top: rem(5px);
            font: rem(20px) 'Barlow', lighter;
        }
        .btn{
            height: rem(31px);
            padding: 0.20rem 0.5rem 0.4rem;
            font: rem(17px) 'Barlow', lighter;
            background: transparent linear-gradient(180deg, #2598AE 0%, #438492 100%) 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border: rem(1px) solid #FFFFFF;
            border-radius: rem(6px);
            margin-right: rem(10px);
            &:hover{
                background: transparent linear-gradient(180deg, #395C65 0%, #18373E 100%) 0% 0% no-repeat padding-box;
            }
        }
        svg{
            font-size: rem(15px);
            margin-right: rem(8px);
        }
        .tags-table{
            position: relative;
            height: rem(31px);
            width: rem(108px);
            background: #F57171 0% 0% no-repeat padding-box;
            box-shadow: rem(2px) rem(2px) rem(2px) #00000029;
            border: rem(1px) solid #FFFFFF;
            border-radius: rem(6px) 0 0 rem(6px);
            color: #FFFFFF;
            font: rem(18px) 'Segoe UI', sans-serif;
            &::before{
                content: '';
                position: absolute;
                left: rem(10px);
                top: rem(10px);
                width: rem(9px);
                height: rem(9px);
                background:#e8e4e4 0% 0% no-repeat padding-box;
                box-shadow: rem(2px) rem(2px) rem(2px) #00000029;
                border: rem(1px) solid #FFFFFF;
                opacity: 1;
                border-radius: 50%;
                margin-right: 0.6rem;
            }
        }
    }
}