.display{
    padding-top: rem(58px);
    position: relative;

    .display-content{
        display: flex;
        flex-direction: column;
        width: 100%;

        .display-content-columns{
            display: flex;
            .drop-btn{
                background-color: #FFFFFF ;
                padding: 0.2rem 0.9rem;
                border: rem(1px) solid #4D646D;
                border-radius: rem(6px);
                font: rem(16px) 'Segoe UI', sans-serif;
                height: rem(31px);
                max-width: 100%;
                text-align: left;
                .drop-btn-icone{
                    position: absolute;
                    right: rem(8px);
                    top: rem(-5px);
                    color: #899CA4;
                    font-size: rem(30px);
                }
            }
            .display-content-down{
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 100%;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                padding: rem(6px);
                // .mutliselect-chkbox{
                //     font: rem(14px) 'Segoe UI', sans-serif;
                //     margin-bottom: 0.2rem;
                // }
            }
            
            .display-content-poste,
            .display-dates{
                position: relative;
                display: inline-block;
                &:hover .display-content-down {
                    display: block;
                  }
            }
            .display-content-poste{
                margin-right: 2rem;
                .drop-btn{
                    width: rem(210px);
        
                }
            }
            .display-dates{
                .drop-btn{
                    width: rem(115px);
                }
            }
        }

        button {
            cursor: pointer;
        }

        .top{
            width: 100%;
            margin-bottom: 1%;

            &::after {
                content: '';
                //top: rem(5px);
                left: 0%;
                width: 99%;
                border: rem(1px) solid #4D646D;
                position: relative;
                display: block;
            }

            .actions-btn-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-bottom: 1%;

                .container:not(:last-child) {
                    margin-right: 2%;
                }

                .left-btns, .right-btns{
                    display: flex;
                    flex-direction: row;
                }

                .left-btns{
                    width: 65%;

                    #show-media-waiting-incrustation-container  {
                        position: relative;

                        .media-waiting-incrustation-number {
                            background-color: #FF5722;
                            color: #FFF;
                            position: absolute;
                        }

                    }

                }

                .right-btns{
                    width: 35%;
                }

            }

        }

        .body{

            .filters-container{
                display: flex;
                flex-direction: row;
                width: 100%;
                
                .filter {
                    cursor: pointer;
                }

                .left-filter-container {
                    width: 70%;
                    display: flex;
                    flex-direction: row;

                    .filter-by-orientation-or-type-container {
                        background-color: #FFF;
                        border: 1px solid #C0CCD1;
                        display: flex;
                        flex-direction: row;
                        width: 30%;
                        justify-content: space-around;
                        text-align: center;

                        i{
                            font-size: 30px;
                            color: #00B8F5;
                        }

                    }

                    .filter-by-characteristics-container {
                        background-color: #E3E3E3;
                        border: 1px solid #C0CCD1;
                        display: flex;
                        flex-direction: row;
                        width: 70%;
                        justify-content: space-around;
                    }

                }

                .right-filter-container {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }

            }

            .medias-list-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .card{
                    width: 250px;
                    height: 280px;
                }

            }

        }

        


    }

    .display-btn{
        display: flex;
        /*position: absolute;
        right: 0;*/
        &::after{
            border: rem(1px) solid #4D646D;
        }
        p{
            margin-right: 1rem;
            margin-top: rem(5px);
            font: rem(20px) 'Barlow', lighter;
        }
        .btn{
            height: rem(31px);
            padding: 0.20rem 0.5rem 0.4rem;
            font: rem(17px) 'Barlow', lighter;
            background: transparent linear-gradient(180deg, #2598AE 0%, #438492 100%) 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border: rem(1px) solid #FFFFFF;
            border-radius: rem(6px);
            margin-right: rem(10px);
            &:hover{
                background: transparent linear-gradient(180deg, #395C65 0%, #18373E 100%) 0% 0% no-repeat padding-box;
            }
        }
        svg{
            font-size: rem(15px);
            margin-right: rem(8px);
        }
        .tags-table{
            position: relative;
            height: rem(31px);
            width: rem(108px);
            background: #F57171 0% 0% no-repeat padding-box;
            box-shadow: rem(2px) rem(2px) rem(2px) #00000029;
            border: rem(1px) solid #FFFFFF;
            border-radius: rem(6px) 0 0 rem(6px);
            color: #FFFFFF;
            font: rem(18px) 'Segoe UI', sans-serif;
            &::before{
                content: '';
                position: absolute;
                left: rem(10px);
                top: rem(10px);
                width: rem(9px);
                height: rem(9px);
                background:#e8e4e4 0% 0% no-repeat padding-box;
                box-shadow: rem(2px) rem(2px) rem(2px) #00000029;
                border: rem(1px) solid #FFFFFF;
                opacity: 1;
                border-radius: 50%;
                margin-right: 0.6rem;
            }
        }
    }
}