/*.multi-select{
    width: 65%;
    .logo-icone{
        padding-top: 0.1rem;
        font-size: rem(25px);
    }
    
    .select-down {
        position: absolute;
        width: 239px;
    }

    span.value {
        display: none;
    }
    .btn-dropdown {
        background-color: #FFFFFF;
        display: block;
        overflow: hidden;
        border: 0.06rem solid #C0CCD1;
        border-radius: 0.4rem;
        padding: 0.2rem 0.4rem 0.4rem 1rem;
        font: 1rem 'Barlow', lighter;
        color: #4D646D;
        text-decoration: none;
        outline: none;
        position: relative;
        height: 2rem;
        width: 100%;
        text-align: left;
    }

    ul {
        background: #FFFFFF ;
        color: #4D646D;;
        display: none;
        left: 0;
        padding: 9px 15px 2px 7px;
        position: absolute;
        top: 0px;
        width: 16.8rem;
        max-width: 100%;
        list-style: none;
        height: 8.25rem;
        overflow: auto;
        border: 0.06rem solid #C0CCD1;
        border-top: 0rem;
        z-index: 1;
        li{
            cursor: pointer;
        }
        li a {
            padding: 0.3rem;
            display: block;
        }
    }
    a span{
        cursor: pointer;
        display: inline-block;
        padding: 0 0.2rem 0.1px 0;
    }
    .multiSel {
        position: relative;
        display: flex;
        span {
            cursor: pointer;
            display: inline-block;
            padding: 0 0.2rem 0.1px 0px;
        }  
    }
}*/

.multi-select{
  width: 15rem;
  background-color: white;
  font-size: 14px;
  .multi-select-content{
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: .2rem 0;
    .multi-select-choices-container{
      position: absolute;
      left: 0;
    }
    .multi-select-unwrapper{
      padding: 0 .2rem;
      background-color: #c0ccd1;
      margin: 0 .2rem;
      display: flex;
      i{
        font-size: 20px;
        color: white;
      }
    }
  }
}


  