/** Function for converting  px to rem **/
@function rem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

.add-popup {
    position: absolute;
    //height: 105%;
    //width: 109.1%;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    pointer-events: none;
    opacity: 0;
    //top: -8.1rem;
    //left: -10rem;
    top: 0;
    left: 0;
    z-index:10000;
    // transition: all 0.5s cubic-bezier(0.59, -0.17, 0.3, 1.67);
    &.is-open {
      opacity: 1;
      pointer-events: auto;
      .modal {
        // transform: translate(0px, 0px);
      }
    }
}

.modal {
    margin-top: 10%;
    // transform: translate(0px, -100px);
    // transition: all 0.9s cubic-bezier(0.59, -0.17, 0.3, 1.67);
    position: relative;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    color: #231D23;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
    .lead {
      font-size: 24px;
      margin-top: 10px;
    }
    .tagline {
      margin-bottom: 40px;
      color: firebrick;
      font-size: 18px;
    }
    .close-btn {
        position: absolute;
        padding: 3px 9px;
        font-size: 24px;
        text-align: center;
        background: #ccc;
        color: #9c9c9c;
        top: -1px;
        right: 0;
        cursor: pointer;
        // transition: all 0.3s ease-in-out;
        &:hover {
            // transform: scale(1.2);
        }
    }
}



.popup-confirmation{
    .add-popup{
        background: transparent;
        width: 100%;
        top: 0rem;
        left: 0rem;
        height: 100%;
        .modal {
              margin: 0 auto;
              margin-top: 10%;
              position: relative;
              border: 1px solid #4D646D;
              padding: 0px;
              width: 35%;
              height: auto;
              max-height: 40%;
              background-color: #ddd;
              color: #231D23;
              text-align: center;
              overflow: hidden;
              box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
              border-radius: 10px 10px 0px 0px;
        }
        .header-modal{
              background: #4D646D 0% 0% no-repeat padding-box;
              display: grid;
              padding:14px;
              color: white;
              text-align: center;
             button{
                  position: absolute;
                  top: 19px;
                  right: 12px;
                  background-color: white;
                  box-shadow: none;
                  padding: 0;
                  margin: 0;
                  border: 0;
                  height: 16px;
                  width: 18px;
                  i,svg{
                      right: 3px;
                      color: #F57171;
                      font-size: 22px;
                      position: relative;
                      top: -3px;
                  }
            }
        }
        .content-modal{
              background-color: white;
            height: 60%;
            padding: 20px;
            .selected-tags-list{
                height: auto;
                max-height: 100px;
                display: block;
                overflow: auto;
          }
      }
      .footer-modal{
          background: #E3E3E3 0% 0% no-repeat padding-box;
          padding: 11px;
          .delete-tag{
              margin-right: 20px;
          }
          .btn{
              background: transparent linear-gradient(180deg, #2598AE 0%, #438492 100%) 0% 0% no-repeat padding-box;
              &:hover{
                  background: transparent linear-gradient(180deg, #306D7C 0%, #18373E 100%) 0% 0% no-repeat padding-box;
              }
          }
      }
  }
}
