
/******************************************************** TABLE **********************************************************************/

.table{
    width: 100%;
    .table-custome{
        border-collapse: collapse;
        border-radius: 0.5rem 0 0 0;
        overflow: hidden;
        width: 100%;
        thead, .tbody tr{
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        .thead-info,
        .thead-content {
            position: relative;
            background: #899CA4 0% 0% no-repeat padding-box;
            border-top: 1px solid #4D646D;
            border-left: 1px solid #4D646D;
            width: calc( 100% - 18px );
            &::after{
                content: "";
                background: #899CA4 0% 0% no-repeat padding-box;
                height: 100%;
                width: 18px;
                position: absolute;
                right: -18px;
                top: -1px;
                border-radius: 0 0.5rem 0 0;
                border-top: 1px solid #4D646D;
                border-right: 1px solid #4D646D;
                border-bottom: 1px solid #4D646D;
            }
            th{
                font: 0.8rem 'Barlow', medium;
                color: #FFFFFF;
                padding: 0.5rem 1rem;
                position: relative;
                //width: 273px;
                &:first-child{
                    width: 15%;
                }
                span{
                    font: 14px 'Barlow';
                }
                input{
                    margin: 0px;
                    margin-right: 5px;
                }
            }
        }

        .tbody-content{
            
            border: 1px solid #4D646D;
            tr:nth-child(2n+2) {
                background: #ffffff 0% 0% no-repeat padding-box;
            }
            td {
                padding: 0.2rem 0.5rem 0.6rem 0.5rem;
                border-right: 1px solid #AAAAAA;
                width: 273px;
                &:first-child{
                    width: 15%;
                }
                input{
                    margin: 0;
                    margin-right: 15px;
                }
            }
        } 
    }
}


.table{
    .table-associations{
        width: 100%;

        thead, tbody tr{
            display: table;
            width: 100%;
            table-layout: fixed;
            color: #4D646D;
        }

        .thead-associations{
            background: #C0CCD1 0% 0% no-repeat padding-box;
            border: 1px solid #899CA4;
            position: relative;
            th{
                font: 0.8rem 'Barlow', medium;
                padding: 1rem 1rem;
                position: relative;
                &:nth-child(1){
                    width: 40%;
                    border: 0;
                    text-align: center;
                    font-size: 23px;
                }
                &:nth-child(2){
                    width: 60%;
                    text-align: right;
                }
            }
        }

        .thead-associations{
            height: 500px;
            max-height: 500px;
            overflow: auto;
            display: block;
            border: 1px solid #899CA4;
            border-top: 0px;
            .content-assigned-image{
                width: 171px;
                height: 109px;
                border: 1px solid #707070;
                border-radius: 6px;
                padding: 1px;
                margin-left: 1rem;
                .img-product{
                    width: 100%;
                    height: 100%;
                    padding: 0.1rem;
                    border-radius: 6px;
                }
            }

            tr{
                font-size: 17px;
                td{
                    padding: 1rem;
                    &:nth-child(1){
                        width: 40%;
                    }
                    &:nth-child(2){
                        position: relative;
                        vertical-align: middle;
                    }
                }
                .td-custome_padding{
                    padding: 0.9rem 3.5rem 0.9rem 3.5rem;
                }
                &:nth-child(even){
                    background: #FFF 0% 0% no-repeat padding-box;
                }
            }
        }
    }

    .container-input{
        font-size: 17px;
        color: #4D646D;
        .container-rdo {
            position: absolute;
            top: -1px;
            left: 93%;
            height: 23px;
            width: 23px;
            background: #4D646D;
            border-radius: 3px;
            border: 1px solid #4D646D;
            &:after {
                content: "x";
                color: white;
                font-size: 26px;
                font-weight: 600;
                position: absolute;
                top: -14px;
                left: 4px;
                width: 19px;
                height: 19px;
                border-radius: 3px;
                background: none;
            }
        }
    }
}






