<section class="popup_container popup_loading_container ">

    <article class="popup popup_loading">

        <div class="popup_header">

            <div class="left_side popup_header_item">

                <div class="item title_container">
                    <p class="title">Chargement</p>
                </div>

            </div>

        </div>

        <div class="popup_body">

            <div class="popup_body_item container">
                <img src="{{ asset('/build/images/loading.gif') }}" alt="loading.gif">
            </div>

            <div class="popup_body_item container">
                <p class="loading_message">Veuillez patienter...</p>
            </div>

        </div>

    </article>

</section>