{% block home_company %}
    <div class="company">
        <div class="company-bloc">
            <p class="border--line">
                Vous gérez <span class="col-right"><span class="bold">14</span> enseigne</span>
            </P>
            <div class="col-right1 company-info company-info-have">
                <p><span class="bold">180</span> sites</p>
            </div>
        </div>
    </div>
{% endblock %}
