{% block home_info_contact %}

    <div class="info_contact-nom">
        <p class="border--line">Votre contact<span>Simon Pommeret</span></p>
        <p>01 45 23 45 99</p>
    </div>
    
    <div class="info_contact-hotline">
        <p class="border--line bold">Hotline</p>
        <p>01 45 23 34 58</p>
    </div>

{% endblock %}