{% block home_company %}
    <div class="company" style="display: none">
        <div class="company-bloc">
            <p class="border--line">
                Vous gérez <span class="col-right"><span class="bold">14</span> enseigne</span>
            </P>
            <div class="col-right1 company-info company-info-have">
                <p><span class="bold">180</span> sites</p>
            </div>
        </div>
    </div>

    <div class="company">
        <div class="company_diffusion">
            <div class="company_diffusion_col company_diffusion_enseigne">
                <p class="border--line">
                    Vous gérez <span class="col-right"><span class="bold">14</span> enseigne</span>
                </P>
                <div class="col-right1 company-info company-info-have">
                    <p><span class="bold">180</span> sites</p>
                </div>
            </div>
            <div class="company_diffusion_col company_diffusion_screen">
                <p class="border--line">
                    700 écrans
                </p>
                <div class="col-right1 company-info company-info-have">
                    <p><span class="bold">12</span> alertes</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
