{% block home_company %}
    
    <div class="company-bloc">
        <p class="border--line">
            Vous avez <span class="col-right"><span class="bold">140</span> sites</span>
        </P>
        <div class="col-right1 company-info company-info-have">
            <p><span class="bold">700</span> ecran</p>
            <p><span class="bold">700</span> Flux Menuboard</p>
            <p><span class="bold">700</span> Flux priceborad</p>
            <p><span class="bold">700</span> Flux Tv</p>
        </div>
    </div>

    <div class="company-bloc">
        <p class="border--line">
            Catégories <span class="col-right"><span class="bold">5</span> catégories</span>
        </P>
        <div class="col-right1 company-info company-info-categories">
            <p>ecran</p>
            <p>Flux Menuboard</p>
            <p>Flux priceborad</p>
            <p>Flux Tv</p>
        </div>
    </div>

    <div class="company-bloc">
        <p class="border--line ">
            Groupes de prix <span class="col-right"><span class="bold">3</span> type de prix</span>
        </P>
        <div class="col-right1 company-info company-info-groups">
            <p class="bold">ecran</p>
            <p class="bold">Flux Menuboard</p>
            <p class="bold">Flux priceborad</p>
            <p class="bold">Flux Tv</p>
        </div>
    </div>

{% endblock %}
