<div class="popup_body_child container step step_2" data-step="2">

    <form id="medias_list_form" name="medias_list">

        <table>
            <thead>
            <tr>
                <th>Fichier</th>
                <th>Téléchargement</th>
                <th>Médias</th>
                <th>Caractéristiques</th>
                <th>Nom</th>
                <th>Date de diffusion</th>
                <th>Critères</th>
                <th>Associer Tags</th>
                <th>Associer Produits</th>
                <th>Incrustations</th>
            </tr>
            </thead>

            {#{{ form_start(uploadMediaForm) }}
            <tbody class="file_to_characterisation_list medias_collection">
            {{ form_row(uploadMediaForm) }}
            </tbody>
            {{ form_end(uploadMediaForm) }}#}

            <tbody class="file_to_characterisation_list medias_collection">

{#                #}{#<tr data-index="0" id="upload_0" class="unregistered "><td> <p title="400-1080x960.jpeg"><i class="fas fa-trash-alt cancel-upload" aria-hidden="true"></i> 400-1080x960</p> </td>#}
{#                    <td>#}
{#                        <progress class="progress_bar" id="progress_0" max="100" value="100"></progress>#}
{#                        <i class="fas fa-check" aria-hidden="true"></i>#}
{#                    </td>#}
{#                    <td>#}
{#                        <img class="preview" src="/miniatures/kfc/image/diff/low/39.png" alt="/miniatures/kfc/image/diff/low/39.png">#}
{#                        <i class="fas fa-expand-alt show_expanded_miniature" data-media_id="39" aria-hidden="true"></i>#}
{#                    </td>#}
{#                    <td>#}
{#                        <span>jpeg</span> <br> <span>1080 * 960 px</span> <br> <span>72 dpi</span>#}
{#                    </td>#}
{#                    <td class="media_name_container">#}
{#                        <input type="hidden" class="media_id" name="medias_list[medias][0][id]" value="39">#}
{#                        <span class="error hidden"></span> <br>#}
{#                        <input type="text" name="medias_list[medias][0][name]" class="form_input media_name" placeholder="Nom du media" value="400-1080x960" required=""> </td>#}
{#                    <td class="media_diff_date_container">#}
{#                        <div class="diff_start_container">#}
{#                            <span class="error hidden"></span> <br>#}
{#                            <label for="media_0_diff_start">Du</label>#}
{#                            <input type="date" name="medias_list[medias][0][diffusionStart]" id="media_0_diff_start" class="diffusion_dates start form_input" value="2020-09-02">#}
{#                        </div>#}

{#                        <div class="diff_end_container">#}
{#                            <span class="error hidden"></span> <br>#}
{#                            <label for="media_0_diff_end">Au</label>#}
{#                            <input type="date" name="medias_list[medias][0][diffusionEnd]" id="media_0_diff_end" class="diffusion_dates end form_input" min="2020-09-02" value="2030-09-02">#}
{#                        </div>#}
{#                    </td>#}
{#                    <td class="associated_criterions_container">#}

{#                    </td>#}
{#                    <td class="tags_affectation_container">#}
{#                        <button type="button" class="btn tag_association_btn association_btn">Associer tags</button>#}
{#                        <div class="associated_tags_container">#}
{#                            <input type="checkbox" id="medias_list_medias_0_tags_0" name="medias_list[medias][0][tags][]&quot;" value="1">#}
{#                            <label for="medias_list_medias_0_tags_0">Tag1</label><input type="checkbox" id="medias_list_medias_0_tags_1" name="medias_list[medias][0][tags][]&quot;" value="2">#}
{#                            <label for="medias_list_medias_0_tags_1">Halal</label>#}
{#                        </div>#}
{#                    </td>#}
{#                    <td class="products_affectation_container">#}
{#                        <button type="button" class="btn product_association_btn association_btn">Associer produits</button>#}
{#                        <div class="associated_products_container">#}
{#                            <input type="checkbox" id="medias_list_medias_0_products_0" name="medias_list[medias][0][products][]&quot;" value="1">#}
{#                            <label for="medias_list_medias_0_products_0">Produit de test</label>#}
{#                        </div>#}
{#                    </td>#}
{#                    <td>#}
{#                        <label class=""><input type="radio" name="medias_list[medias][0][containIncrustations]" class="form_input media_contain_incruste" value="1">Oui</label>#}
{#                        <label class=""><input type="radio" name="medias_list[medias][0][containIncrustations]" class="form_input media_contain_incruste" value="0" checked="">Non</label>#}
{#                    </td></tr>#}
{#                <tr data-index="1" id="upload_1" class="unregistered "><td> <p title="640x720.jpeg"><i class="fas fa-trash-alt cancel-upload" aria-hidden="true"></i> 640x720</p> </td>#}
{#                    <td>#}
{#                        <progress class="progress_bar" id="progress_1" max="100" value="100"></progress>#}
{#                        <i class="fas fa-check" aria-hidden="true"></i>#}
{#                    </td>#}
{#                    <td>#}
{#                        <img class="preview" src="/miniatures/kfc/image/diff/low/40.png" alt="/miniatures/kfc/image/diff/low/40.png">#}
{#                        <i class="fas fa-expand-alt show_expanded_miniature" data-media_id="40" aria-hidden="true"></i>#}
{#                    </td>#}
{#                    <td>#}
{#                        <span>jpeg</span> <br> <span>640 * 720 px</span> <br> <span>72 dpi</span>#}
{#                    </td>#}
{#                    <td class="media_name_container">#}
{#                        <input type="hidden" class="media_id" name="medias_list[medias][1][id]" value="40">#}
{#                        <span class="error hidden"></span> <br>#}
{#                        <input type="text" name="medias_list[medias][1][name]" class="form_input media_name" placeholder="Nom du media" value="640x720" required=""> </td>#}
{#                    <td class="media_diff_date_container">#}
{#                        <div class="diff_start_container">#}
{#                            <span class="error hidden"></span> <br>#}
{#                            <label for="media_1_diff_start">Du</label>#}
{#                            <input type="date" name="medias_list[medias][1][diffusionStart]" id="media_1_diff_start" class="diffusion_dates start form_input" value="2020-09-02">#}
{#                        </div>#}

{#                        <div class="diff_end_container">#}
{#                            <span class="error hidden"></span> <br>#}
{#                            <label for="media_1_diff_end">Au</label>#}
{#                            <input type="date" name="medias_list[medias][1][diffusionEnd]" id="media_1_diff_end" class="diffusion_dates end form_input" min="2020-09-02" value="2030-09-02">#}
{#                        </div>#}
{#                    </td>#}
{#                    <td class="associated_criterions_container">#}

{#                    </td>#}
{#                    <td class="tags_affectation_container">#}
{#                        <button type="button" class="btn tag_association_btn association_btn">Associer tags</button>#}
{#                        <div class="associated_tags_container">#}
{#                            <input type="checkbox" id="medias_list_medias_1_tags_0" name="medias_list[medias][1][tags][]&quot;" value="1">#}
{#                            <label for="medias_list_medias_1_tags_0">Tag1</label><input type="checkbox" id="medias_list_medias_1_tags_1" name="medias_list[medias][1][tags][]&quot;" value="2">#}
{#                            <label for="medias_list_medias_1_tags_1">Halal</label>#}
{#                        </div>#}
{#                    </td>#}
{#                    <td class="products_affectation_container">#}
{#                        <button type="button" class="btn product_association_btn association_btn">Associer produits</button>#}
{#                        <div class="associated_products_container">#}
{#                            <input type="checkbox" id="medias_list_medias_1_products_0" name="medias_list[medias][1][products][]&quot;" value="1">#}
{#                            <label for="medias_list_medias_1_products_0">Produit de test</label>#}
{#                        </div>#}
{#                    </td>#}
{#                    <td>#}
{#                        <label class=""><input type="radio" name="medias_list[medias][1][containIncrustations]" class="form_input media_contain_incruste" value="1">Oui</label>#}
{#                        <label class=""><input type="radio" name="medias_list[medias][1][containIncrustations]" class="form_input media_contain_incruste" value="0" checked="">Non</label>#}
{#                    </td></tr>#}
{#                <tr data-index="2" id="upload_2" class="unregistered "><td> <p title="720x1280.jpeg"><i class="fas fa-trash-alt cancel-upload" aria-hidden="true"></i> 720x1280</p> </td>#}
{#                    <td>#}
{#                        <progress class="progress_bar" id="progress_2" max="100" value="100"></progress>#}
{#                        <i class="fas fa-check" aria-hidden="true"></i>#}
{#                    </td>#}
{#                    <td>#}
{#                        <img class="preview" src="/miniatures/kfc/image/diff/low/41.png" alt="/miniatures/kfc/image/diff/low/41.png">#}
{#                        <i class="fas fa-expand-alt show_expanded_miniature" data-media_id="41" aria-hidden="true"></i>#}
{#                    </td>#}
{#                    <td>#}
{#                        <span>jpeg</span> <br> <span>720 * 1280 px</span> <br> <span>72 dpi</span>#}
{#                    </td>#}
{#                    <td class="media_name_container">#}
{#                        <input type="hidden" class="media_id" name="medias_list[medias][2][id]" value="41">#}
{#                        <span class="error hidden"></span> <br>#}
{#                        <input type="text" name="medias_list[medias][2][name]" class="form_input media_name" placeholder="Nom du media" value="720x1280" required=""> </td>#}
{#                    <td class="media_diff_date_container">#}
{#                        <div class="diff_start_container">#}
{#                            <span class="error hidden"></span> <br>#}
{#                            <label for="media_2_diff_start">Du</label>#}
{#                            <input type="date" name="medias_list[medias][2][diffusionStart]" id="media_2_diff_start" class="diffusion_dates start form_input" value="2020-09-02">#}
{#                        </div>#}

{#                        <div class="diff_end_container">#}
{#                            <span class="error hidden"></span> <br>#}
{#                            <label for="media_2_diff_end">Au</label>#}
{#                            <input type="date" name="medias_list[medias][2][diffusionEnd]" id="media_2_diff_end" class="diffusion_dates end form_input" min="2020-09-02" value="2030-09-02">#}
{#                        </div>#}
{#                    </td>#}
{#                    <td class="associated_criterions_container">#}

{#                    </td>#}
{#                    <td class="tags_affectation_container">#}
{#                        <button type="button" class="btn tag_association_btn association_btn">Associer tags</button>#}
{#                        <div class="associated_tags_container">#}
{#                            <input type="checkbox" id="medias_list_medias_2_tags_0" name="medias_list[medias][2][tags][]&quot;" value="1">#}
{#                            <label for="medias_list_medias_2_tags_0">Tag1</label><input type="checkbox" id="medias_list_medias_2_tags_1" name="medias_list[medias][2][tags][]&quot;" value="2">#}
{#                            <label for="medias_list_medias_2_tags_1">Halal</label>#}
{#                        </div>#}
{#                    </td>#}
{#                    <td class="products_affectation_container">#}
{#                        <button type="button" class="btn product_association_btn association_btn">Associer produits</button>#}
{#                        <div class="associated_products_container">#}
{#                            <input type="checkbox" id="medias_list_medias_2_products_0" name="medias_list[medias][2][products][]&quot;" value="1">#}
{#                            <label for="medias_list_medias_2_products_0">Produit de test</label>#}
{#                        </div>#}
{#                    </td>#}
{#                    <td>#}
{#                        <label class=""><input type="radio" name="medias_list[medias][2][containIncrustations]" class="form_input media_contain_incruste" value="1">Oui</label>#}
{#                        <label class=""><input type="radio" name="medias_list[medias][2][containIncrustations]" class="form_input media_contain_incruste" value="0" checked="">Non</label>#}
{#                    </td></tr>#}

            </tbody>

        </table>

    </form>

</div>

<div class="popup_body_child container step step_3" data-step="3">

    <table class="table_step_3">
        <thead>
        <tr>
            <th>Médias</th>
            <th>Nom</th>
            <th>Critères</th>
            <th>Tags affectés</th>
            <th>Produits associés</th>
            <th>Prix et Rupture</th>
        </tr>
        </thead>

        <tbody class="media_characterisation_resume_list">

        </tbody>
    </table>

</div>