.popup_loading_container{
  &.is_open{
    z-index: 4000;
    .popup{

      height: 30%;
      width: 30%;
      .popup_header{
        height: 13%;
      }

      .popup_body{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FFF;

      }

    }

  }

}