.popup_loading_container{
  height: 300px;
  width: 500px;
  left: 30%;

  &.is_open{

    .popup{

      .popup_header{
        height: 10%;
      }

      .popup_body{
        height: 90%;
        display: flex;
        flex-direction: row;

        .popup_body_item{
          height: 100%;
          width: 50%;
        }

      }

    }

  }

}