<section class="popup_container media_expanded_miniature_popup_container">
    <article class="popup popup_media_expanded_miniature">

        <div class="popup_header">

            <div class="left_side popup_header_item">

                <div class="item title_container">
                    <p class="title">Média</p>
                </div>

                <div class="item media_name_container">
                    <p class="media_name"></p>
                </div>

            </div>

            <div class="right_side popup_header_item">

                <div class="item close_popup_button_container">
                    <button type="button" class="close_modal_button">X</button>
                </div>

            </div>

        </div>

        <div class="popup_body">

        </div>

    </article>
</section>