.popup_container{

    margin-top: 8%;
    position: absolute;
    height: 650px;
    width: 1654px;
    background-color: transparent;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    top: 10%;
    left: 0.5%;
    z-index: 10000;
    transition: all 0.5s cubic-bezier(0.59, -0.17, 0.3, 1.67);
    &.is_open {
      opacity: 1;
      pointer-events: auto;

      .popup{

        transform: translate(0px, -100px);
        transition: all 0.9s cubic-bezier(0.59, -0.17, 0.3, 1.67);
        position: relative;
        padding: 30px;
        width: 100%;
        height: 100%;
        background-color: #ddd;
        color: #231D23;
        text-align: center;
        overflow: hidden;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
        padding: 0;

        .popup_header{
          background: #4D646D 0% 0% no-repeat padding-box;
          color: white;
          display: flex;
          flex-direction: row;
          height: 8%;
          width: 100%;

          .popup_header_item{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 3vh;

            &.right_side{
              justify-content: flex-end;
            }

          }

          .left_side{

            .item{
              margin-left: 3%;

              &.title_container{
                display: flex;
                flex-direction: row;

                &::after{
                  content: '';
                  border-right: 1px solid #FFF;
                  margin-left: 20px;
                  height: 20px;
                  margin: auto 0 auto 20px;
                }
              }

            }

          }

          .right_side{

            .item{

              &.close_popup_button_container{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                margin-right: 2%;

                button{
                  background-color: #F27171;
                  color: #FFF;
                  font-size: 60%;
                  cursor: pointer;
                  border: 1px solid #F27171;
                  border-radius: 6px;
                }

              }

            }

          }

        }

      }

    }

}