.popup_container{
    margin-top: 8%;
    position: absolute;
    height: 650px;
    width: 1654px;
    background-color: transparent;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    top: 10%;
    left: 0.5%;
    z-index: 10000;
    transition: all 0.5s cubic-bezier(0.59, -0.17, 0.3, 1.67);

  .popup_header{
    background: #4D646D 0% 0% no-repeat padding-box;
    color: white;
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
    font: 18px "Barlow";

    .popup_header_item{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 3vh;

      &.right_side{
        justify-content: flex-end;
      }

    }

    .left_side{

      .item{
        margin-left: 3%;

        &.title_container{
          display: flex;
          flex-direction: row;

        }

      }

    }

    .right_side{

      .item{

        &.close_popup_button_container{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-content: center;
          margin-right: 2%;

          button{
            background-color: #F27171;
            color: #FFF;
            font-size: 60%;
            cursor: pointer;
            border: 1px solid #F27171;
            border-radius: 6px;
          }

        }

      }

    }

  }


    &.is_open {
      opacity: 1;
      pointer-events: auto;

      .popup{

        transform: translate(0px, -100px);
        transition: all 0.9s cubic-bezier(0.59, -0.17, 0.3, 1.67);
        position: relative;
        padding: 30px;
        width: 100%;
        height: 100%;
        background-color: #ddd;
        color: #231D23;
        text-align: center;
        overflow: hidden;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
        padding: 0;
        border-radius: 7px 7px 0 0;


        .popup_body{
          height: 80%;

          table{

            tbody.list{

              tr{
                td.highlight *{
                  background: #FFFF00;
                }
              }

            }

          }

        }

        .popup_footer{
          height: 10%;
          max-height: 10%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          
          .actions_buttons_container{

            button{
              cursor: pointer;

              &:disabled{
                background: #C0CCD1;
                cursor: not-allowed;
                border: none;
              }
            }
          }
          
        }

      }

    }

}


// import popup children css
@import "popup_delete_media/popup_delete_media";
@import "popup_loading/popup_loading";
@import "popup_media_info_sheet/popup_media_info_sheet";
@import "popup_media_waiting_incrustation/popup_media_waiting_incrustation";
@import "popup_association/popup_association";
@import "popup_association/product_association/popup_product_association";
@import "popup_association/tag_association/popup_tag_association";
@import "popup_media_remplacement/remplacement_basic/popup_media_remplacement_basic";
@import "popup_media_expanded_miniature/popup_media_expanded_miniature";
@import "popup_upload/popup_upload";
