.create_site{
    font-family: "Barlow", sans-serif;

    .info-gestion-site{
        margin: 2rem 0 ;
        ul{
            display: flex;
            text-align: center;
            margin: 0 auto;
            width: 91%;
            li{
                margin-right: 3rem;
                font-size: 2rem ;
                color: #899CA4;
                padding: 0.3rem 1rem;
                &:focus{
                    &.drow_active{
                        background-color: #C1E4EB;
                        border-radius: 0.6rem;
                        height: 4rem;
                        color: #283338;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .form{
        .row{
            display: flex;
            padding-bottom: 1rem;
            .col{
                width: 100%;
                display: flex;
            }
            .col2{
                width: 50%;
                display: flex;
                margin-right: 2rem;
                margin-right: 2rem;
                &:last-child{
                    margin-right: 0;
                }
            }
            .col3{
                width: 25%;
                display: flex;
                margin-right: 2rem;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .form_label{
            font: 1.3rem "Barlow";
            color: #4D646D;
            width: 30%;
            &.label_code{
                width: 50%;
            }
            &.label_observation{
                width: 15%;
            }
        }
        .form_input{
            background: #FFFFFF 0 0 no-repeat padding-box;
            border: 0.1rem solid #C0CCD1;
            border-radius: 0.9rem;
            height: 2.9rem;
            width: 70%;
            max-width: 30rem;
            padding: 0 1rem;
            &.code{
                width: 50%;
            }
            &.form_observation{
                height: 8rem;
                width: 100%;
                max-width: 85%;
                resize: none;
            }
            &.form_time{
                max-width: 9.5rem;
            }
        }
    }

    .accordion_identite{
        .form{
            .row{
                &:nth-child(7){
                    .col3,
                    .col2{
                        display: block;
                    }
                }
            }
            .row_site{
                .col3{
                    width: 18%;
                    margin-right: 0;
                }
            }
            .row_screen{
                .col2:first-child{
                    width: 27%;
                    .form_label{
                        width: 56%;
                    }
                }
                .col2:last-child{
                    .form_label{
                        width: 55%;
                        padding: 1.2% 0;
                    }
                }
            }
        }
        .bloc-tags,
        .bloc_critere{
            width: 35rem;
            height: 11rem;
            margin-top: 2rem;
            background-color: #FFFFFF ;
            border: 0.1rem solid #C0CCD1;
            border-radius: 0.9rem;
        }

    }

    /******* Select *******/

    select{
        border: 0.1rem solid #C0CCD1;
        border-radius: 0.9rem;
        max-width: 30rem;
        height: 3rem;
        width: 100%;
        padding: 0 1rem;
        color: #4D646D;
        font-size: 1.4rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        background-image: none;
    }

    /* Remove IE arrow */
    select::-ms-expand {
        display: none;
    }
    /* Custom Select */
    .select {
        position: relative;
        display: flex;
        width: 20em;
        height: 3em;
        line-height: 3;
        overflow: hidden;
        border-radius: .25em;
    }
    select {
        flex: 1;
        padding: 0 .5em;
        cursor: pointer;
    }
    /* Arrow */
    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #34495e;
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
    }
    /* Transition */
    .select:hover::after {
        color: #f39c12;
    }


    .menu-dropdown-site{
        height: 63rem;
        .menu-list-site{
            padding-left: 0;
            max-width: 100%;
            border-radius: 0.6rem 0.6rem 0 0;
            .menu-submenu {
                padding-bottom: 2rem;
            }
            .accordion-toggle2 a {
                background-color: #C0CCD1;
                border-radius: 0.6rem 0.6rem 0 0;
                font-size: 2.6rem ;
                padding: 1rem;
                border: 0.1rem solid #899CA4;
                letter-spacing: 0;
                color: white;
                display: block;
                height: 5.8rem;
                &:first-of-type {
                    border-top: 0;
                }
            }

            .accordion-toggle2{
                margin-top: 2rem;
            }

            .accordion-toggle2, .accordion-content {
                cursor: pointer;
                font-size: 16px;
                position: relative;
                letter-spacing: 1px;
            }
            .menu-link:target{
                display: block;
            }

            .accordion-content {
                display: block;
                //display: none;
            }

            .accordion-toggle2.active-tab {
                background-color: #306D7C ;
            }
        }
    }


    .accordion_content_identite{
        display: flex;
    }
    .accordion_content_dropdown{
        padding: 5rem 3.5rem;
        border: 0.1rem solid #899CA4;
        background: #F6F6F6 0 0 no-repeat padding-box;
    }
    .content-identite-site-right{
        width: 60%;
        margin-right: 5%;
    }
    .content-identite-site-left{
        width: 35%;
    }
    .contenu_utilisateur{
        border: 0.1rem solid #899CA4;
        padding: 1rem;
    }

    .btn_next_slide{
        padding: 3rem 0 1rem 0;
        text-align: center;
    }


    /**************************** Prix ************************/


    .content_site_price{
        .row{
            display: flex;
            padding-bottom: 2rem;
            .col{
                width: 100%;
                display: flex;
            }
            .col2{
                width: 50%;
                margin-right: 2rem;
                &:last-child{
                    margin-right: 0;
                }
            }
            .col3{
                width: 15%;
                margin-right: 2rem;
                &:last-child{
                    margin-right: 0;
                }
            }
        }

        label{
            font-size: 1.3rem;
            color: #4D646D;
        }

        .row_prog_night{
            .col{
                display: flex;
            }
        }

        .submit-rating {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-left: 1rem;
            width: 17rem;
            input{
                display: none;
            }

            .rating-label {
                position: relative;
                text-align: center;
                z-index: 3;
                -webkit-box-flex: 3.34;
                flex: 3.34;
                cursor: pointer;
                transition: 250ms;
                font: 1.8rem "Barlow" ;
                color: #4D646D;
                &.rating-label-non {
                    right: -1.5rem;
                    text-align: left;
                }
                &.rating-label-oui {
                    left: -2rem;
                    text-align: right;
                }
            }
        }

        .toggle-rating-pill {
            position: relative;
            height: 2.6rem;
            width: 5.4rem;
            background: #899CA4 0% 0% no-repeat padding-box;
            border-radius: 50rem;
            transition: all 250ms;
        }

        .smile-rating-toggle {
            position: absolute;
            width: 2.2rem;
            height: 2.2rem;
            background-color: white;
            top: 0.2rem;
            left: 6rem;
            border-radius: 50rem;
            transition: all 250ms;
            z-index: 4;
        }

        #prix_non:checked~.rating-label-non {
            color: #4D646D;
            font-weight: 700;
        }

        #prix_oui:checked~.rating-label-oui {
            color: #4D646D;
            font-weight: 700;
        }
        #prix_oui:checked~.smile-rating-toggle {
            left: 8.8rem;
        }

        #prix_oui:checked~.toggle-rating-pill {
            background: #53B3C7 0% 0% no-repeat padding-box;
        }

        #prog_night_non:checked~.rating-label-non {
            color: #4D646D;
            font-weight: 700;
        }

        #prog_night_oui:checked~.rating-label-oui {
            color: #4D646D;
            font-weight: 700;
        }
        #prog_night_oui:checked~.smile-rating-toggle {
            left: 8.8rem;
        }

        #prog_night_oui:checked~.toggle-rating-pill {
            background: #53B3C7 0% 0% no-repeat padding-box;
        }

    }

}