{% extends 'base.html.twig' %}

{% block title %}Créer TAGS{% endblock %}

{% block body %}
    <main class="main main-tags">
        <div class="main-content">

            <section class="jumbotron">

                {% block settingtitle %}
                    {% include 'home/home-info.html.twig' with { 'pageTitle': 'Configuration', 'sousTitle': 'Créer TAGS', 'showSecondTitles': true } %}
                {% endblock %}

                {% block wrapper %}
                    {% include 'wrapper/wrapper-settings.html.twig'  %}
                {% endblock %}

            </section>

            {% block maincontent %}
                <section class="wrapper_tabcontent">
                    <div id="setting-tags" class="tab-content current create-tags">

                        <div class="bloc-create-tags" >
                            <div class='row'>
                                <label>Nom : </label>
                                <input type="text" id="tag_list_tags_name" name="" required="required" maxlength="255" class="tags-input" >
                                <textarea id="tag_list_tags_description" name="" required="required" class="tags-desc"></textarea>
                                <button type="button" class="btn">Créer TAG</button>
                            </div>
                        </div>

                        {{ include('settings/tags/_form.html.twig') }}

                        {# <a href="{{ path('tags_index') }}">back to list</a> #}
                        
                    </div>   
                <section> 
            {% endblock %}
                
        </div>
    </main>
{% endblock %}


