{% extends 'base.html.twig' %}

{% block title %}Créer TAGS{% endblock %}

{% block body %}
    <main class="main main-tags">
        <div class="main-content">

            <section class="jumbotron">

                {% block settingtitle %}
                    {% include 'home/home-info.html.twig' with { 'pageTitle': 'Configuration', 'sousTitle': 'Créer TAGS', 'showSecondTitles': true } %}
                {% endblock %}

                {% block wrapper %}
                    {% include 'wrapper/wrapper-settings.html.twig'  %}
                {% endblock %}

            </section>

            {% block maincontent %}
                <section class="wrapper_tabcontent">
                    <div id="setting-tags" class="tab-content current create-tags">

                        {{ include('settings/tags/_form.html.twig') }}

                        <a href="{{ path('tags_index') }}">back to list</a>
                        
                    </div>   
                <section> 
            {% endblock %}
                
        </div>
    </main>
{% endblock %}


