@import '../custome/input-rdo.scss';

/** Function for converting  px to rem **/
@function rem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

.border-input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: rem(1px) solid #C0CCD1;
    border-radius: 9px;
    height: 30px;
}

.create-tags{
    margin-left: 2.5%;
    .content-tags{
        width: 1000px;
        margin: 30px auto;
        border: 1px solid #899CA4;
        border-radius: 7px 7px 0px 0px;
    }
    
    .row{
        display: flex;
        .tags-color{
            position: relative;
            top: 5px;
            left: 20px;
            width: 24px;
            height: 23px;
            border: none;
            border-radius: 50px;
            background: none;
        }
        input[type="color"]::-webkit-color-swatch-wrapper {
            padding: 0;
        }
        input[type="color"]::-webkit-color-swatch {
            border: solid 1px #000; /*change color of the swatch border here*/
            border-radius: 40px;
        }
        .tags-input{
            @extend .border-input;
            width: 110px;
            max-width: 100%;
            padding: 6px 10px;
            font:  16px 'Barlow' Medium;
            color: black;
            
        }
        .tags-desc{
            @extend .border-input;
            width: 530px;
            max-width: 100%;
            padding: 6px 10px;
            font:  16px 'Barlow' Medium ;

        }
    }

    .bloc-create-tags{
        background: #C0CCD1 0% 0% no-repeat padding-box;
        border-bottom: 1px solid #899CA4;
        border-radius: 7px 7px 0px 0px;
        padding: 40px 36px ;
        .row{
            .tags-input{
                margin-left: 45px;
            }
            .tags-desc{
                margin-left: 20px;
                margin-right: 15px;
            }
        }
    }


    .info-tags{
        ul{
            background-color: white;
            display: flex;
            height: 36px;
            padding: 3px;
            li{
                &:nth-child(1){
                    width: 10%;
                    text-align: center;
                }
                &:nth-child(2){
                    text-align: center;
                    width: 17%;
                }
            
                &:nth-child(3){
                    width: 40%;
                    text-align: left;
                    padding-left: 20px;
                }
            }
        }
    }
    .tags_list{
        display: block;
        padding-left: 0;
        li{
            margin-top: 15px;
            margin-bottom: 15px;
            div{
                display: flex;
                div{
                    
                    &:nth-child(1){
                        margin-left:40px;
                        margin-right: 60px;
                    }
                    &:nth-child(2){
                        label{
                            display: none;
                        }
                        &::after{
                            content: "";
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background-color: blue;
                        }
                        // width: 110px;
                        // max-width: 100%;
                        // border: rem(1px) solid #C0CCD1;
                        // // padding: 6px 10px;
                    }
                    &:nth-child(3){
                        margin-left:50px;
                    }
                    label{
                        display: none;
                    }
                    
                }
                .tags-color {
                    position: relative;
                    top: 5px;
                    left: 0px;
                    width: 24px;
                    height: 23px;
                    border: none;
                    border-radius: 50px;
                    background: none;
                }
            }
        }
    }
    .bloc-site{
        margin: 50px auto 20px;
        .content-site{
            margin-left: 250px;
            margin-bottom: 50px;
            display: flex;
            .title-site{
                margin-right: 20px;
                font:  22px "Segoe UI" ;
            }
            .search{
                width: 270px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #4D646D;
                border-radius: 9px;
                padding: 6px;
            }
        }
    }

    .table-site{
        table{
            width: 100%;
            margin-bottom: 20px;
        }
        
        .container-input{
            .container-rdo{
                top: 5px;
                left: 95px;
                width: 17px;
                height: 17px;
            } 
        } 
        thead{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            th{
                padding: 10px;
                &:nth-child(1){
                    width: 30%;
                }
                &:nth-child(2){
                    text-align: left;
                }
               
            }
        }
        tbody{
            background: #F6F6F6 0% 0% no-repeat padding-box;
            max-height: 400px;
            height: 400px;
            // display: block;
            tr{  height: 53px;}
            td{
                padding: 10px;
                &:nth-child(1){
                    width: 30%;
                    text-align: center;
                }
                &:nth-child(2){
                    
                }
            }
        
        }
    }
    .btn-tag-enregistrer{
        padding: 10px;
        text-align: center;
    }
}

.bloc-color{
    height: 20px;
    width: 20px;
}