@import '../custome/input-rdo.scss';

/** Function for converting  px to rem **/
@function rem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

.border-input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: rem(1px) solid #C0CCD1;
    border-radius: 9px;
    height: 30px;
}

.edit-tags{
    margin-left: 2.5%;
    .content-tags{
        display: flex;
        margin-top: 30px;
        background: #B1C1C8 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        height: 100px;
        padding: 33px 45px;
        .tags-color{
            border-radius: 50%;
            width: 25px;
            height: 25px;
            margin-right: 30px;
        }
        .tags-input{
            @extend .border-input;
            width: 110px;
            max-width: 100%;
            padding: 6px 10px;
            font:  16px 'Barlow';
            margin-right: 45px;

        }
        .tags-desc{
            @extend .border-input;
            width: 1000px;
            max-width: 100%;
            padding: 2px 10px;
            font:  16px 'Barlow' ;
            // top: 11px;
            position: relative;
        }
    }

    .bloc{
        display: flex;
        .bloc-produits{
            margin-right: 30px;
            
            height: 650px;
            .table-produits{
                width: 100%;
                max-width: 545px;
            }
        }
        .bloc-media{
            margin-right: 30px;
            .table-media{
                width: 100%;
                max-width: 545px;
            }
        }

        .bloc-site{
            .table-site{
                width: 100%;
                max-width: 390px;
                
            }
        }


        .table{
            
            .thead{
                background: #C0CCD1 0% 0% no-repeat padding-box;
                tr{
                    padding: 20px 30px 20px 10px;
                }
            }
        }
    }
}