{# <article class="add-popup">
    <div class="modal">
        <div id="table">
            <table class="table-custome">
                <thead  class="table-info">
                    <tr>
                        <th>Select.</th>
                        <th>Nom</th>
                        <th>Form.</th>
                        <th>Catégorie</th>
                        <th></th>
                        <th>Tags</th>
                        <th>Type de Prix</th>
                        <th>Local</th>
                        <th>MEDIUM</th>
                        <th>PREMIUM</th>
                        <th>i</th>
                        <th>Icones</th>
                        <th>val.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="select">Race</td>
                        <td>Jack Russell</td>
                        <td>Poodle</td>
                        <td>Streetdog</td>
                        <td>Tags</td>
                        <td>Cocker Spaniel</td>
                        <td>Cocker Spaniel</td>
                        <td>Race</td>
                        <td>Jack Russell</td>
                        <td>Poodle</td>
                        <td>Streetdog</td>
                        <td>Cocker Spaniel</td>
                        <td>Cocker Spaniel</td>
                    </tr>
                </tbody>
                
            </table>
        </div>        
    </div>
 
    <div>
        <button type="button" class="btn btn-popupclose">Annuler</button>
        <input type="button" class="product-btn-add" value="créer le produit"></input>
    </div>
    
</article> #}