{% extends 'products.html.twig' %}

{# {% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('create-user') }}
{% endblock %} #}

{% block maincontent %}

<section class="wrapper_tabcontent">
    <article id="tab-products" class="tab-content current prouct-price-content">

        <article class="display product-display ">
            <div class="display-content">

                <article class="display-content-columns">

                    <div class="display-content-poste">
                        <button type="button" class="drop-btn" >Afficher des colonnes <div class="drop-btn-icone"><i class="fas fa-angle-down"></i></div></button>
                        <div class="display-content-down">
                             {% for customer in customer %}
                                <div class="product-select-col">
                                    <label class="mutliselect-chkbox">{{customer}}
                                        <input type="checkbox"  checked name="satut"  data-satuts="status" value="{{customer}}">
                                        <span class="mutliselect-check"></span>
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="product-select-col">
                                <label class="mutliselect-chkbox"> Tags optionnels
                                    <input type="checkbox"  checked name="satut"  data-satuts="status" value="">
                                    <span class="mutliselect-check"></span>
                                </label>
                            </div>
                            <div class="product-select-col">
                                <label class="mutliselect-chkbox"> Type de prix
                                    <input type="checkbox"  checked name="satut"  data-satuts="status" value="">
                                    <span class="mutliselect-check"></span>
                                </label>
                            </div>
                            <div class="product-select-col">
                                <label class="mutliselect-chkbox"> Prix Compagnie MEDIUM
                                    <input type="checkbox"  checked name="satut"  data-satuts="status" value="">
                                    <span class="mutliselect-check"></span>
                                </label>
                            </div>
                            <div class="product-select-col">
                                <label class="mutliselect-chkbox"> Prix Compagnie PREMIUM
                                    <input type="checkbox"  checked name="satut"  data-satuts="status" value="">
                                    <span class="mutliselect-check"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="display-content-poste">
                        <button type="button" class="drop-btn">Dates <div class="drop-btn-icone"><i class="fas fa-angle-down"></i></button>
                        <div class="display-content-down">
                             <div class="product-select-col">
                                <label class="mutliselect-chkbox"> Date actuelle
                                    <input type="checkbox"  checked name="satut"  data-satuts="status" value="">
                                    <span class="mutliselect-check"></span>
                                </label>
                            </div>
                            <div class="product-select-col">
                                <label class="mutliselect-chkbox"> Date 2
                                    <input type="checkbox"  checked name="satut"  data-satuts="status" value="">
                                    <span class="mutliselect-check"></span>
                                </label>
                            </div>
                            <div class="product-select-col">
                                <label class="mutliselect-chkbox"> Date 3
                                    <input type="checkbox"  checked name="satut"  data-satuts="status" value="">
                                    <span class="mutliselect-check"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                </article>


                <article class="display-btn">
                    <p>Prodits : </p>
                    <button type="button" class="btn add-table"><i class="fas fa-plus"></i>Ajouter</button>
                    <button type="button" class="btn duplicate-table"><i class="fas fa-plus"></i>Dupliquer</button>
                    <button type="button" class="btn modified-table"><i class="far fa-edit"></i>Modifier</button>
                    <button type="button" class="btn delete-table"><i class="fas fa-trash"></i>Supprimer</button>
                    <button type="button" class="tags-table">TAG</button>
                </article>

            </div>
        </article >

        <article class="table">
            <table class="table-custome">
                <thead  class="table-info thead-info">
                    <tr>
                        <th>Select.</th>
                        <th  class="header__item">
                            <a id="f-name" class="filter" href="#">Name</a>
                        </th>

                        <th>Form.</th>
                        <th id="f-tags">Catégorie</th>
                        <th>Desci.</th>
                        <th>Tags</th>
                        <th>Type de Prix</th>
                        <th class="header__item">
                        <a id="f-tags" class="filter filter-number" href="#">Local</a>
                        </th>
                        <th class="header__item">
                        <a id="f-tags" class="filter filter-number" href="#">Local date2</a>
                        </th>
                        <th class="header__item">
                        <a id="f-tags" class="filter filter-number" href="#">Local date3</a>
                        </th>
                        <th>MEDIUM</th>
                        <th class="header__item">
                        <a id="f-tags" class="filter filter-number" href="#">Local date2</a>
                        </th>
                        <th class="header__item">
                        <a id="f-tags" class="filter filter-number" href="#">Local date3</a>
                        </th>
                        <th>PREMIUM</th>
                        <th class="header__item">
                        <a id="f-tags" class="filter filter-number" href="#">Local date2</a>
                        </th>

                        <th class="header__item">
                        <a id="f-tags" class="filter filter-number" href="#">Local date3</a>
                        </th>
                        <th>i</th>
                        <th>Icones</th>
                        <th>val.</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr>
                        <td><input type="checkbox" name="select">Race</td>
                        <td>Jack Russell</td>
                        <td>aPoodle</td>
                        <td>Streetdog</td>
                        <td>aTags</td>
                        <td>Cocker Spaniel</td>
                        <td>Cocker Spaniel</td>
                        <td class="table-data">12</td>
                        <td class="table-data">6</td>
                        <td>Poodle</td>
                        <td>Streetdog</td>
                        <td>Cocker Spaniel</td>
                        <td>Cocker Spaniel</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="select">Race</td>
                        <td>Jack Russell</td>
                        <td>cPoodle</td>
                        <td>Streetdog</td>
                        <td>bTags</td>
                        <td>Cocker Spaniel</td>
                        <td>Cocker Spaniel</td>
                        <td class="table-data">100</td>
                        <td class="table-data">5</td>
                        <td>Poodle</td>
                        <td>Streetdog</td>
                        <td>Cocker Spaniel</td>
                        <td>Cocker Spaniel</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="select">Race</td>
                        <td>Jack Russell</td>
                        <td>Poodle</td>
                        <td>Streetdog</td>
                        <td>Tags</td>
                        <td>Cocker Spaniel</td>
                        <td>Cocker Spaniel</td>
                        <td class="table-data">5</td>
                        <td class="table-data">4</td>
                        <td>Poodle</td>
                        <td>Streetdog</td>
                        <td>Cocker Spaniel</td>
                        <td>Cocker Spaniel</td>
                    </tr>
                </tbody>
                
            </table>  
        </article>

    </article>
</section>

{% endblock %}
