{% extends 'base.html.twig' %}

{% block body %}
    <main class="main home">
        <div class="main-content">
            <section class="jumbotron">
                {% include 'home/home-info.html.twig' with { 'pageTitle': 'Créer un client', 'showSecondTitles': false } %}
            </section>
        </div>


        <div id="createCustomer" style="margin-left: 10%">

            {{ form_start(form) }}

            {% for error in app.flashes('error') %}
                <p>
                    {{ error }}
                </p>
            {% endfor %}

            {{ form_widget(form) }}

            <div id="contacts_container">
                <label for="contacts">Contact(s)</label>
                <button type="button" id="add_contact">Ajouter un contact</button>
            </div>

            <div>
                <button type="submit">Submit</button>
            </div>

            {{ form_end(form) }}

        </div>

    </main>
    


    

{% endblock body %}