<div class="popup_body_child container step step_2" data-step="2">

    <form id="medias_list_form" name="medias_list">

        <table>
            <thead>
            <tr>
                <th>Fichier</th>
                <th>Téléchargement</th>
                <th>Médias</th>
                <th>Caractéristiques</th>
                <th>Nom</th>
                <th>Date de diffusion</th>
                <th>Associer Tags</th>
                <th>Associer à un thème</th>
            </tr>
            </thead>

            {#{{ form_start(uploadMediaForm) }}
            <tbody class="file_to_characterisation_list medias_collection">
            {{ form_row(uploadMediaForm) }}
            </tbody>
            {{ form_end(uploadMediaForm) }}#}

            <tbody class="file_to_characterisation_list medias_collection" {% if videoThematicThemesPrototype is defined %} data-video_thematic_themes_prototype="{{ videoThematicThemesPrototype }}" {% endif %}>

            </tbody>

        </table>

    </form>

</div>

<div class="popup_body_child container step step_3" data-step="3">

    <table>
        <thead>
        <tr>
            <th>Médias</th>
            <th>Nom</th>
            <th>Tags affectés</th>
            <th>Thèmes associés</th>
        </tr>
        </thead>

        <tbody class="media_characterisation_resume_list">

        </tbody>
    </table>

</div>