.step_3{

  height: 100%;
  max-height: 100%;

  .form_input[value=''], .form_input.invalid{
    border: 1px solid red !important;
  }

  .top{

    background: #C0CCD1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    max-height: 60%;
    width: 100%;

    #synchro_edit_form{
      height: 100%;
      width: 100%;
    }

    .synchro_name_container{
      height: 26px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      div{
        margin-right: 1%;

        &.label_container{
          width: 45px;
          height: inherit;
          align-items: center;
          display: flex;

          label{
            color: #4D646D;
            font-size: 22px;
          }

        }

        &.input_container{
          width: 286px;
          height: inherit;

          .synchro_name{
            width: inherit;
            height: inherit;
            background: #F6F6F6 0% 0% no-repeat padding-box;
            border-radius: 6px;
            border: none;
            font-size: 14px;

          }

        }

        &.synchro_action_button_container{
          height: inherit;
          width: 100px;
          display: flex;
          flex-direction: row;

          .synchro_action_button{
            width: 50%;
            height: inherit;
            background: transparent linear-gradient(180deg, #2598AE 0%, #438492 100%) 0% 0% no-repeat padding-box;
            border-radius: 6px;
            border: none;
            text-align: center;
            cursor: pointer;margin-right: 2%;

            i{
              color: #FFF;
            }
            
            &:disabled{
              cursor: not-allowed;
            }

            &.active{
              border: 3px solid #00B8F5;
            }

          }

        }

      }

    }

    .container{
      width: 100%;
      margin-bottom: 2%;
      padding: 2% 5% 0 5%;

      &.synchro_elements_container{
        position: relative;
        display: grid;
        overflow-x: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        .synchro_element{
          width: 256px;
          max-width: 256px;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          left: 0;

          &.draggable{
            cursor: move;
            z-index: 99;
          }

          div{
            margin-bottom: 2%;

            &.synchro_element_preview_container{

              width: 256px;
              height: 144px;
              border: 1px solid #283338;

              .synchro_element_preview{

              }

            }

            &.synchro_element_name_container{

              width: 256px;
              height: 25px;
              background: #F6F6F6 0% 0% no-repeat padding-box;

              .synchro_element_name{
                width: inherit;
                height: inherit;
                color: #000;
                font-size: 14px;
                border: none;

              }

            }

            &.synchro_element_position_container{
              width: inherit;
              height: 40px;
              display: flex;
              flex-direction: column;
              align-items: center;

              .synchro_element_position{
                width: 39px;
                height: 24px;
                color: #000;
                font-size: 14px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #707070;
                border-radius: 6px;
                text-align: center;

              }

            }

          }

        }


      }

    }

  }

  .bottom{
    background: #FFF;
    display: flex;
    flex-direction: column;
    height: 40%;
    max-height: 40%;

    table {
      height: 100%;
      width: 100%;

      thead th, tbody td {
        width: 523px;
      }

      thead th {
        font-size: 3vh;
      }

      tbody td {
        background: #EBEBEB;
        height: 127px;
      }

    }

  }

}