<article class="associate_tag-popup association-popup hidden">

    <div class="modal">
        <div class="modal-header">
            <div class="modal-title-container">
                <p>TAGS à affecter à : <span class="media_name"></span></p>
            </div>
            <div class="close-modal-container">
                <button type="button" class="btn close">X</button>
            </div>
        </div>

        <div class="modal-body">

            <div class="body-middle">

                <div class="tags-list-container">
                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            <th><button type="button" class="create-tag-button">Créer TAG</button></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="tags-list">
                        {% for tag in tags %}
                            <tr data-tag_id="{{ tag.id }}">
                                <td><input type="checkbox" class="choice_tag"></td>
                                <td class="tag-name"><p>{{ tag.name }}</p></td>
                                <td><p>{{ tag.description }}</p></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="body-bottom">

                <div class="validation-btn-container">
                    <button type="button" class="validation-btn">Affecter au produit</button>
                </div>

            </div>

        </div>

    </div>

</article>