{% if emailIsSend is defined and emailIsSend is same as(true) %}
<div class="password_reset_process_info">
    <p>Vous allez recevoir un lien par email pour générer un nouveau mot de passe</p>
    <p>Vous disposez d'un délai d'une heure pour cliquez sur le lien</p>
</div>
{% endif %}

<div class="form-group form_item_container">
    <input {% if error is defined and error is not null %} class="invalid" {% endif %} type="email" id="inputEmail" name="user[email]" placeholder="Email" required>
</div>

<div class="form-group form_submit_container form_item_container">
    <button type="submit">Valider</button>
</div>