{% if passwordWasUpdated is defined and passwordWasUpdated is same as(true) %}
    <div>
        <p>Votre mot de passe a bien été modifié avec succés !</p>
        <p>Vous pouvez vous connecter dès maintenant en cliquant <a href="{{ path('user::login') }}">ici</a></p>
    </div>
{% endif %}

<div class="form-group form_item_container">
    <input {% if error is defined and error is not empty %} class="invalid" {% endif %} type="password" id="user_password" name="user[password]" placeholder="Mot de passe" required>
</div>

<div class="form-group form_item_container">
    <input {% if error is defined and error is not empty %} class="invalid" {% endif %} type="password" id="user_password_confirmation" name="user[password_confirm]" placeholder="Confirmez votre mot de passe" required>
</div>

<div class="form-group form_submit_container form_item_container">
    <button type="submit">Valider</button>
</div>

