{% extends 'base.html.twig' %}

{% block title %}Reinitialisation du mot de passe{% endblock %}


{% block body %}


    <form method="post" action="{{ path('user::passwordForget') }}" name="user" style="margin-left: 10%">

        {% for error in app.flashes('error') %}
            <p>
                {{ error }}
            </p>
        {% endfor %}

        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="user[email]" placeholder="Email" required>
        </div>

        <button type="submit">Valider</button>

    </form>


{% endblock %}