.popup_medias_waiting_incrustation_container{
    &.is_open{
        .popup{
            width: 90%;
            height: 45%;
            .popup_body{
                height: 82%;
            }
        }

        .popup_header{
            height: 13%;
            max-height: 13%;
            .popup_header_item{
                font: 2.6rem "Barlow";
            }
            .left_side{
                .item{
                    margin-left: 3%;
                    &.title_container{
                        &::after{
                            content: '';
                            border-right: 0.1rem solid #FFF;
                            height: 2rem;
                            margin: auto 0 auto 2rem;
                        }
                    }

                }
            }
        }

        .popup_body{
            width: 100%;
            height: 77%;
            max-height: 77%;
            // .archived_medias_list_container{
            .medias_waiting_incrustation_list_container{
                .table-custome{
                    border-radius: 0;
                    width: 100%;
                    .thead-content{
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        width: 100%;
                        &::after{
                            display: none;
                        }
                        th{
                            font: 2.2rem "Barlow";
                            letter-spacing: -0.22px;
                            color: #4D646D;
                            padding: 1%;
                            width: 15%;
                            &:nth-child(1){
                                width: 2.5%;
                            }
                            &:nth-child(2){
                                width: 12%;
                            }
                            &:nth-child(3){
                                width: 12%;
                            }
                            &:nth-child(4){
                                width: 11%;
                            }
                            &:nth-child(5){
                                padding-left: 3%;
                            }
                            &:nth-child(6){
                                padding-left: 3%;
                            }
                        }
                    }

                    .tbody-content{
                        border: none;
                        height: 100%;
                        max-height: 53rem;
                        overflow: auto;
                        display: block;

                        tr{
                            height: 12.8rem;
                            background-color: #EBECEC;
                            font: 1.7rem "Barlow";
                            &:nth-child(even){
                                background-color: #F6F6F6;
                                td{
                                    &:nth-child(3){
                                        background-color: #EBECEC;
                                    }
                                    &:nth-child(5){
                                        background-color: #EBECEC;
                                    }
                                    &:nth-child(7){
                                        background-color: #EBECEC;
                                    }
                                }
                            }

                            td{
                                border: none;
                                vertical-align: middle;
                                padding: 1rem;
                                height: 100%;
                                &:nth-child(1){
                                    width: 3%;
                                    .container-input .container-input-rdo {
                                        left: 10px;
                                    }
                                }
                                &.media_miniature_col{
                                    .media_miniature_container{
                                        width: 17rem;
                                        height: 9.5rem;
                                        position: relative;
                                        margin: 0 auto;
                                        &:hover i{
                                            opacity: 1;
                                        }
                                        i{
                                            position: absolute;
                                            right: 0;
                                            background: transparent linear-gradient(180deg, #306D7C 0%, #18373E 100%) 0% 0% no-repeat padding-box;
                                            padding: 0.5rem;
                                            font-size: 2rem;
                                            color: white;
                                            border-radius: 0.5rem;
                                            opacity: 0.5;

                                        }
                                    }
                                }
                                &:nth-child(3){
                                    background-color: #E1E3E3;
                                    width: 10%;
                                }
                                &.media_name_col{
                                    .media_name_container {
                                        background-color: #FFF;
                                        color: #000;
                                        border: 1px solid #A4B4BB;
                                        border-radius: 6px;
                                        .media_name {
                                            padding: 0.5rem;
                                        }
                                    }
                                }
                                &:nth-child(5){
                                    background-color: #E1E3E3;
                                }
                                &:nth-child(7){
                                    background-color: #E1E3E3;
                                }
                                &:nth-child(8){
                                    .btn{
                                        margin-bottom: 1rem;
                                    }
                                    .submit-rating{
                                        margin: 0 auto;
                                    }
                                }
                                &.media_associated_tags_col{
                                    .media_tags_container{
                                        .container-tags{
                                            width: 48%;
                                            font: 1.3rem "Barlow";
                                            margin-bottom: 0.5rem;
                                            &:nth-child(even){
                                                margin-left: 0.5rem;
                                            }
                                        }
                                    }
                                }
                                &.media_associated_products_col{
                                    .media_products_container{
                                        .media_products_container_bloc{
                                            text-align: left;
                                            padding-left: 3%;
                                            height: 100%;
                                            max-height: 10rem;
                                            overflow: auto;
                                            display: grid;
                                        }

                                    }
                                }
                            }

                        }

                    }

                }

            }

        }

        .popup_footer{
            height: 10%;
            max-height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: #F6F6F6 0% 0% no-repeat padding-box;

            .actions_buttons_container{

                &:not(:last-child){
                    margin-right: 2%;
                }

                button{

                    &:not(.disabled){
                        cursor: pointer;
                    }

                    &.disabled{
                        background: #686868;
                        cursor: not-allowed;
                    }

                }

            }
        }

    }

}