.popup_medias_waiting_incrustation_container{

    &.is_open {

        .popup{

            .popup_header{

                height: 10%;
                max-height: 10%;

                .popup_header_item{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 3vh;

                    &.right_side{
                        justify-content: flex-end;
                    }

                }

                .left_side{

                    .item{
                        margin-left: 3%;

                        &.title_container{
                            display: flex;
                            flex-direction: row;

                            &::after{
                                content: '';
                                border-right: 1px solid #FFF;
                                margin-left: 20px;
                                height: 20px;
                                margin: auto 0 auto 20px;
                            }
                        }

                    }

                }

                .right_side{

                    .item{

                        &.close_popup_button_container{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-content: center;
                            margin-right: 2%;

                            button{
                                background-color: #F27171;
                                color: #FFF;
                                font-size: 60%;
                                cursor: pointer;
                                border: 1px solid #F27171;
                                border-radius: 6px;
                            }

                        }

                    }

                }

            }

            .popup_body{

                width: 100%;
                height: 80%;
                max-height: 80%;
                display: flex;
                flex-direction: column;

                .popup_body_item{
                    width: 100%;
                    height: 90%;
                    max-height: 90%;

                    &.popup_body_bottom{
                        height: 10%;
                        max-height: 10%;
                    }

                }

                .archived_medias_list_container{

                    .table-custome{
                        border-radius: 0;
                        width: 100%;

                        .thead-info{
                            background-color: #FFF;
                            height: 62px;
                            width: 100%;

                            &::after{
                                display: none;
                            }

                            th{
                                color: #000;
                                font-size: 22px;
                            }

                        }

                        .tbody{
                            border: none;
                            height: 100%;
                            max-height: 475px;
                            overflow: auto;
                            display: block;

                            tr{
                                height: 128px;
                                background-color: #F6F6F6;

                                &:nth-child(odd){
                                    background-color: #EBECEC;
                                }

                                td{
                                    border: none;

                                    padding: 10px 0 10px 0;
                                    height: 100%;

                                    &.select_media_col{
                                        width: 46px;
                                    }

                                    &.media_miniature_col{
                                        max-width: 100%;
                                        height: 100%;
                                        width: 172px;
                                    }

                                    &.media_characteristics_col{
                                        width: 121px;
                                        vertical-align: top;
                                    }

                                    &.media_name_col{
                                        width: 296px;
                                    }

                                    &.media_associated_criterions_col{
                                        width: 286px;
                                    }

                                    &.media_associated_tags_col{
                                        width: 286px;
                                    }

                                    &.media_associated_products_col{
                                        width: 286px;
                                        overflow: auto;
                                        height: 128px;
                                        max-height: 128px;
                                    }

                                    .container {
                                        width: 100%;

                                        &.media_name_container{
                                            background-color: #FFF;
                                            color: #000;
                                            height: 29px;
                                            border: 1px solid #A4B4BB;
                                            border-radius: 6px;

                                            .media_name{

                                            }

                                        }

                                    }

                                }

                            }

                        }

                    }

                }

            }

            .popup_footer{
                height: 10%;
                max-height: 10%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: #F6F6F6;

                .actions_buttons_container{

                    &:not(:last-child){
                        margin-right: 2%;
                    }

                }
            }

        }

    }

}