{% extends "base.html.twig" %}

{% block title "Sites | Back-office" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('back-office') }}
{% endblock %}

{% block body %}

    <h1>List of users</h1>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('back-office') }}
{% endblock %}