<div class="tab-content-title">
    <h3 class="title">Créer une Utilisateur</h3>
</div>

<form action="" method="">
    
    <div class="form-content">
    
        <div class="row">
            <div class="row">
                <label class="form-label" for="fristname">Nom</label>
                <input type="text" name="fristname"  placeholder="Nom" class="input-custome" required/>
            </div>
            <div class="row">
                <label class="form-label">Prenom</label>
                <input type="text"  name="lastname"   placeholder="Prenom" class="form-input" required/>
            </div>
        </div>
        
        <div class="row">
            <label class="form-label" for="email">Email</label>
            <input type="email" name="email" placeholder="Email" class="input-custome"  required/>
        </div>
        <div class="row">
            <label class="form-label" for="phone">Numero de téléphone</label>
            <input type="tel" name="phone" placeholder="Numero de téléphone" class="input-custome" />
        </div>

    </div>

    <div class="form-content">
        <div class="row">
            <label class="form-label" for="phone">Périmètres :</label>
            <div class="row">
                <div class="checkbox">
                    <label class="mutliselect-chkbox">Infoway
                        <input type="radio" name="Perimeters"   value="">
                        <span class="mutliselect-check"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="mutliselect-chkbox">Multi Enseigne
                        <input type="radio" name="Perimeters"  value="">
                        <span class="mutliselect-check"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="mutliselect-chkbox">Multi Site
                        <input type="radio" name="Perimeters"  value="">
                        <span class="mutliselect-check"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="mutliselect-chkbox">Local
                        <input type="radio" name="Perimeters"  value="">
                        <span class="mutliselect-check"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>







    

    <div>
        <p>Enseigne</p>
        <div class="table">
            <table class="table-custome table" >
                <thead  class="table-info thead-info">
                    <tr>
                        <th><input type="checkbox" name="select-enseigne" id="selectAll">Enseigne</th>
                        <th>Role</th>
                        <th></th>     
                    </tr>
                </thead>
                <tbody class="tbody tbody-content scrollbar-table">
                    <tr>
                        <td><input type="checkbox" name="select-enseigne" data-input-select="2">Burger King</td>
                        <td> 
                            <div>
                                <label class="container">Admin
                                    <input type="radio" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Siege
                                    <input type="radio">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Directeur
                                    <input type="radio">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Manager
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </td>
                        <td ></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="select-enseigne" data-input-select="2">KFC</td>
                        <td >
                            <div>
                                <label class="container">Admin
                                    <input type="radio" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Siege
                                    <input type="radio">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Directeur
                                    <input type="radio">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Manager
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </td>
                        <td ></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="select-enseigne" data-input-select="2">Quick</td>
                        <td >
                            <div>
                                <label class="container">Admin
                                    <input type="radio" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Siege
                                    <input type="radio">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Directeur
                                    <input type="radio">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">Manager
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </td>
                        <td ></td>
                    </tr>
                </tbody>   
            </table>    
        </div> 
        <p>Site</p>
        <div class="table">
            <table class="table-custome table" >
                <thead  class="table-info thead-info">
                    <tr>
                        <th><input type="checkbox" name="select-site" id="selectAll">Site</th>
                        <th>Nom</th>
                        <th>Adresse</th>  
                    </tr>
                </thead>
                <tbody class="tbody tbody-content scrollbar-table">
                    <tr>
                        <td><input type="checkbox" name="select-site" data-input-select="2">Q041</td>
                        <td>Bobigny</td>
                        <td>25 rue st charles 06000 AMIENS  </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="select-site" data-input-select="2">Q041</td>
                        <td>Bobigny</td>
                        <td>25 rue st charles 06000 AMIENS  </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="select-site" data-input-select="2">Q041</td>
                        <td>Bobigny</td>
                        <td>25 rue st charles 06000 AMIENS  </td>
                    </tr>

                </tbody>      
            </table>    
        </div> 

    </div>

    <div class="">
        <button name="btn-mofifier" class="btn">Créer</button>
    </div> 

    
{# {% endmacro %} #}                         
</form>

