<div class="tab-content-title">
    <h3 class="title">Créer une Utilisateur</h3>
</div>

{# <form action="{{ path('user:createUser') }}" method="post" name="user"> #}
<form action="" method="post" name="user">

    <div class="form-content">
    
        <div class="row">
            <div class="row">
                <label class="form-label" for="fristname">Nom</label>
                <input type="text" name="user[fristname]"  placeholder="Nom" class="input-custome" required/>
            </div>
            <div class="row">
                <label class="form-label">Prenom</label>
                <input type="text"  name="user[lastname]"   placeholder="Prenom" class="form-input" required/>
            </div>
        </div>
        
        <div class="row row-email">
            <label class="form-label" for="email">Email</label>
            <input type="email" name="user[email]" id="email" placeholder="Email" class="input-custome"  required/>
        </div>
        <div class="row row-phone">
            <label class="form-label" for="phone">Téléphone</label>
            <input type="tel" name="user[phone]" placeholder="Numero de téléphone" class="input-custome" />
        </div>

    </div>

    <div class="form-content form-content-chkbox">
        <div class="row">
            <label class="form-label" for="phone">Périmètres :</label>
            <div class="row row-chkbox">
                <label class="container-chkbox">Infoway
                    <input type="radio" name="Perimeters" value"infoway">
                    <span class="checkmark-chkbox"></span>
                </label>
                <label class="container-chkbox">Multi-Enseigne
                    <input type="radio" name="Perimeters" value="multi enseigne" >
                    <span class="checkmark-chkbox"></span>
                </label>
                <label class="container-chkbox">Enseigne
                    <input type="radio" name="Perimeters"  value="enseigne" >
                    <span class="checkmark-chkbox"></span>
                </label>
                <label class="container-chkbox">Multi-Site
                    <input type="radio" name="Perimeters"  value="multi site" >
                    <span class="checkmark-chkbox"></span>
                </label>
                <label class="container-chkbox">Local
                    <input type="radio" name="Perimeters"  value="local" >
                    <span class="checkmark-chkbox"></span>
                </label>

            </div>
        </div>
    </div>

    <div class="form-content-table">
        <div class="content-table-left">
            <p class="table-titel">Enseigne</p>
            <div class="table">
                <table class="table-custome row-chkbox" >
                    <thead  class="table-info thead-content ">
                        <tr>
                            <th>
                                <label class="container-chkbox">Tous
                                    <input type="radio" name="select-enseigne" value="tous" id="selectAll" >
                                    <span class="checkmark-chkbox"></span>
                                </label>
                            </th>
                            <th>Role</th>
                            <th>Affichies sites</th>     
                        </tr>
                    </thead>
                    <tbody class="tbody tbody-content scrollbar-table">
                        <tr>
                            <td>
                                <label class="container-chkbox">Burger King
                                    <input type="radio" name="select-enseigne" value="burger king">
                                    <span class="checkmark-chkbox"></span>
                                </label>
                            </td>
                            <td> 
                                <div class="checkboxs-list" >
                                    <div class="dropdown mutliSelect"> 
                                        <div class="select-input">
                                            <button type="button" class="btn-dropdown"id="select-groupe" data-down="down-groupe">
                                                <span class="multiSel">Choisir rôle</span>    
                                                <div class="logo-icone"><i class="fas fa-angle-down"></i></div>
                                            </button> 
                                            <div class="select-down">
                                                <ul id="down-groupe" class="row-chkbox" >
                                                    <li>
                                                        <label class="container-chkbox">Admin
                                                            <input type="radio" name="role"  data-satuts="select-groupe" value="admin">
                                                            <span class="checkmark-chkbox"></span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="container-chkbox">Siege
                                                            <input type="radio" name="role"  data-satuts="select-groupe" value="siege">
                                                            <span class="checkmark-chkbox"></span>
                                                        </label>
                                                    </li>
                                                    <li>    
                                                        <label class="container-chkbox">Directeur
                                                            <input type="radio" name="role"  data-satuts="select-groupe" value="directeur">
                                                            <span class="checkmark-chkbox"></span>
                                                        </label>
                                                    </li>
                                                    <li>    
                                                        <label class="container-chkbox">Manager
                                                            <input type="radio" name="role"  data-satuts="select-groupe" value="manager">
                                                            <span class="checkmark-chkbox"></span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td> 
                                <button class="btn-display-teach" type="button">voir</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="container-chkbox">KFC
                                    <input type="radio" name="select-enseigne" value="kfc" >
                                    <span class="checkmark-chkbox"></span>
                                </label>
                            </td>
                            <td>
                                <div class="checkboxs-list" >
                                    <div class="dropdown mutliSelect"> 
                                        <div class="select-input">
                                            <button type="button" class="btn-dropdown"id="select-groupe" data-down="down-groupe">
                                                <span class="multiSel">Choisir rôle</span>    
                                                <div class="logo-icone"><i class="fas fa-angle-down"></i></div>
                                            </button> 
                                            <div class="select-down">
                                                <ul id="down-groupe" class="row-chkbox" >
                                                    <li>
                                                        <label class="container-chkbox">Admin
                                                            <input type="radio" name="role"  data-satuts="select-groupe" value="admin">
                                                            <span class="checkmark-chkbox"></span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="container-chkbox">Siege
                                                            <input type="radio" name="role"  data-satuts="select-groupe" value="siege">
                                                            <span class="checkmark-chkbox"></span>
                                                        </label>
                                                    </li>
                                                    <li>    
                                                        <label class="container-chkbox">Directeur
                                                            <input type="radio" name="role"  data-satuts="select-groupe" value="directeur">
                                                            <span class="checkmark-chkbox"></span>
                                                        </label>
                                                    </li>
                                                    <li>    
                                                        <label class="container-chkbox">Manager
                                                            <input type="radio" name="role"  data-satuts="select-groupe" value="manager">
                                                            <span class="checkmark-chkbox"></span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td> <button class="btn-display-teach" type="button">voir</button></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="container-chkbox">Quick
                                    <input type="radio" name="select-enseigne" value="quick" >
                                    <span class="checkmark-chkbox"></span>
                                </label>
                            </td>
                            <td></td>
                            <td> <button class="btn-display-teach" type="button">voir</button></td>
                        </tr>
                    </tbody>   
                </table>    
            </div> 
        </div>

        <div  class="content-table-right">
            <p class="table-titel">Site</p>
            <div class="table">
                <table class="table-custome row-chkbox" >
                    <thead  class="table-info thead-content">
                        <tr>
                            <th>
                                <label class="container-chkbox">Tous
                                    <input type="radio" name="select-site" id="selectAll" >
                                    <span class="checkmark-chkbox"></span>
                                </label>
                            <th>Identifiants</th>
                            <th>Adresse</th>  
                        </tr>
                    </thead>
                    <tbody class="tbody tbody-content scrollbar-table">
                        <tr>
                            <td>
                                <label class="container-chkbox">AnseVata
                                    <input type="radio" name="select-site"  >
                                    <span class="checkmark-chkbox"></span>
                                </label>
                            </td>
                            <td>Bobigny</td>
                            <td>25 rue st charles 06000 AMIENS  </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="container-chkbox">AnseVata
                                    <input type="radio" name="select-site"  >
                                    <span class="checkmark-chkbox"></span>
                                </label>
                            </td>
                            <td>Bobigny</td>
                            <td>25 rue st charles 06000 AMIENS  </td>
                        </tr>
                        <tr>
                            <td>
                            <label class="container-chkbox">AnseVata
                                    <input type="radio" name="select-site"  >
                                    <span class="checkmark-chkbox"></span>
                                </label>
                            </td>
                            <td>Bobigny</td>
                            <td>25 rue st charles 06000 AMIENS  </td>
                        </tr>
                    </tbody>      
                </table>    
            </div> 
        </div>

    </div>

    <div class="form-content-btn">
        <button name="btn-user-valide" class="btn btn-user-valide">Valide</button>
    </div> 

                       
</form>

