{% extends 'setting.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('create-user') }}
{% endblock %}

{% block maincontent %}
    <article class="wrapper_tabcontent">

        <article id="tab-create-user" >
        
            <div class="tab-content-title">
                <h3 class="title">Créer un Utilisateur</h3>
            </div>

            {# <form action="{{ path('user:createUser') }}" method="post" name="user"> #}
            <form action="" method="post" name="user" id="create-user">

                <article class="display setting-display ">
                    <div class="display-content">
                        <div class="display-btn">
                            <button type="button" class="btn add-table"><i class="fas fa-plus"></i>Créer</button>
                            <button type="button" class="btn duplicate-table"><a href=""><i class="fas fa-plus"></i>Dupliquer</a></button>
                            <button type="button" class="btn modified-table"><i class="far fa-edit"></i>Modifier</button>
                            <button type="button" class="btn delete-table" data-tablelistdelete="site"><i class="fas fa-trash"></i>Supprimer</button>
                        </div>
                    </div>
                </article > 

                <p class="message-error"></p>

                <div class="form-content">
                
                    <div class="row">
                        <div class="row">
                            <label class="form-label" for="fristname">Nom</label>
                            <input type="text" name="user[fristname]"  placeholder="Nom" class="input-custome" required/>
                        </div>
                        <div class="row">
                            <label class="form-label">Prenom</label>
                            <input type="text"  name="user[lastname]"   placeholder="Prenom" class="input-custome" required/>
                        </div>
                    </div>
                    
                    <div class="row col-email">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" name="user[email]" id="email" placeholder="Email" class="input-custome"  required/>
                    </div>
                    <div class="row col-phone">
                        <label class="form-label" for="phone">Téléphone</label>
                        <input type="tel" name="user[phone]" placeholder="Numero de téléphone" class="input-custome" />
                    </div>

                </div>
                
                
                <div class="form-content form-content-chkbox">
                    <div class="row">
                        <label class="form-label" for="phone">Périmètres :</label>
                        <div class="row row-chkbox">
                            <label class="container-chkbox">Infoway
                                <input type="radio" name="Perimeters" value"infoway">
                                <span class="checkmark-chkbox"></span>
                            </label>
                            <label class="container-chkbox">Multi-Enseigne
                                <input type="radio" name="Perimeters" value="multi enseigne" >
                                <span class="checkmark-chkbox"></span>
                            </label>
                            <label class="container-chkbox">Enseigne
                                <input type="radio" name="Perimeters"  value="enseigne" >
                                <span class="checkmark-chkbox"></span>
                            </label>
                            <label class="container-chkbox">Multi-Site
                                <input type="radio" name="Perimeters"  value="multi site" >
                                <span class="checkmark-chkbox"></span>
                            </label>
                            <label class="container-chkbox">Local
                                <input type="radio" name="Perimeters"  value="local" >
                                <span class="checkmark-chkbox"></span>
                            </label>

                        </div>
                    </div>
                </div>

                

                <div class="form-content-table">
                    <div class="content-table-left">
                        <p class="table-titel">Enseigne</p>
                        <div class="table">
                            <table class="table-custome row-chkbox" >
                                <thead  class="table-info thead-content ">
                                    <tr>
                                        <th>
                                            <label class="container-chkbox">Tous
                                                <input type="checkbox" name="selectenseigne" value="tous" id="selectAll" >
                                                <span class="checkmark-chkbox"></span>
                                            </label>
                                        </th>
                                        <th>Role</th>
                                        <th>Affichies sites</th>     
                                    </tr>
                                </thead>
                                <tbody class="tbody tbody-content scrollbar-table">
                                    <tr class="input1">
                                        <td>
                                            <label class="container-chkbox">Burger King
                                                <input type="checkbox" name="selectenseigne"  class="input1" value="burger king">
                                                <span class="checkmark-chkbox"></span>
                                            </label>
                                        </td>
                                        <td > 
                                            <div class="select" >
                                                <select class="select-list select-role" name="selectrole">
                                                    <option>Choisir rôle </option>
                                                    <option value="admin">Admin</option>
                                                    <option value="siege">Siege</option>
                                                    <option value="directeur">Directeur</option>
                                                    <option value="manager">Manager</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td> 
                                            <button class="btn-display-teach" type="button" data-list-enseigne="burger">voir</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="container-chkbox">KFC
                                                <input type="checkbox" name="selectenseigne" value="kfc" >
                                                <span class="checkmark-chkbox"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="select" >
                                                <select class="select-list">
                                                    <option>Choisir rôle </option>
                                                    <option value="admin">Admin</option>
                                                    <option value="siege">Siege</option>
                                                    <option value="directeur">Directeur</option>
                                                    <option value="manager">Manager</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td> <button class="btn-display-teach" type="button" data-list-enseigne="kfc">voir</button></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="container-chkbox">Quick
                                                <input type="checkbox" name="selectenseigne" value="quick" >
                                                <span class="checkmark-chkbox"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="select" >
                                                <select class="select-list">
                                                    <option>Choisir rôle </option>
                                                    <option value="admin">Admin</option>
                                                    <option value="siege">Siege</option>
                                                    <option value="directeur">Directeur</option>
                                                    <option value="manager">Manager</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td> <button class="btn-display-teach" type="button" data-list-enseigne="quick">voir</button></td>
                                    </tr>
                                </tbody>   
                            </table>    
                        </div> 
                    </div>

                    <div  class="content-table-right">
                        <p class="table-titel">Site</p>
                        <div class="table">
                            <table class="table-custome row-chkbox" >
                                <thead  class="table-info thead-content">
                                    <tr>
                                        <th>
                                            <label class="container-chkbox">Tous
                                                <input type="radio" name="select-site" class="selectAll" >
                                                <span class="checkmark-chkbox"></span>
                                            </label>
                                        </th>    
                                        <th>Identifiants</th>
                                        <th>Adresse</th>  
                                    </tr>
                                </thead>
                                <div class="div-tbody">
                                
                                <tbody class="tbody tbody-content scrollbar-table ">
                                    <tr class="burger">
                                        <td>
                                            <label class="container-chkbox">AnseVata
                                                <input type="radio" name="select-site"  >
                                                <span class="checkmark-chkbox"></span>
                                            </label>
                                        </td>
                                        <td>Bobigny</td>
                                        <td>25 rue st charles 06000 AMIENS  </td>
                                    </tr>
                                    <tr class="kfc">
                                        <td>
                                            <label class="container-chkbox">AnseVata kfc
                                                <input type="radio" name="select-site"  value="AnseVata kfc">
                                                <span class="checkmark-chkbox"></span>
                                            </label>
                                        </td>
                                        <td>Bobigny</td>
                                        <td>25 rue st charles 06000 AMIENS  </td>
                                    </tr>
                                    <tr class="quick">
                                        <td>
                                            <label class="container-chkbox">AnseVata quick
                                                <input type="radio" name="select-site"  value="AnseVata quick">
                                                <span class="checkmark-chkbox"></span>
                                            </label>
                                        </td>
                                        <td>Bobigny</td>
                                        <td>25 rue st charles 06000 AMIENS  </td>
                                    </tr>
                                </tbody>
                                
                                
                                </div>
                            </table>    
                        </div> 
                    </div>

                </div>

                <div class="form-content-btn">
                    <button name="btn-user-valide" class="btn btn-user-valide">Valide</button>
                </div> 

                                
            </form>

        </article>
    </article>
    
{% endblock %}