{{ dump(CompanyPieces) }}

<section>
    <h2>Gestion des structures de la société</h2>
    <p>Sélectionner la structure de travail</p>
    <select id="pieceTypes">
        {% for companyPieceType in authorizedCompanyPieceTypes %}
            <option value="{{ companyPieceType.id }}">{{ companyPieceType.name }}</option>
        {% endfor %}
    </select>
    <ul>
        {% for companyType in CompanyPieces %}
            {% for company in companyType %}
                <li>{{ company.name }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</section>
