{% extends 'setting.html.twig' %}

{% block settingtitle %}

{% endblock %}

{% block maincontent %}
    <section class="wrapper_tabcontent">

        <article id="setting-tags" class="tab-content current">

            <article class="tab-content-title">
                <h3 class="title">Gestion des TAGS</h3>
                <p>SUPER WILD COFFEE</p>
            </article>

            <article class="display setting-display ">
                <div class="display-content">
                    <div class="display-btn">
                        <p>(Sélectionner le TYPE de TAGS avant de créer) </p>
                        <button type="button" class="btn add-table"><i class="fas fa-plus"></i>Créer</button>
                        <button type="button" class="btn duplicate-table"><a href=""><i class="fas fa-plus"></i>Dupliquer</a></button>
                        <button type="button" class="btn modified-table"><i class="far fa-edit"></i>Modifier</button>
                        <button type="button" class="btn delete-table" data-tablelistdelete="site"><i class="fas fa-trash"></i>Supprimer</button>
                    </div>
                </div>
            </article> 

            <article class="add-popup">
                <form>
                    <div>

                        <div>
                            <label class="container-input">Groupe de prix
                                <input type="radio" checked="checked" name="choixtags">
                                <span class="container-rdo"></span>
                            </label>
                            <label class="container-input">Critére exclusif
                                <input type="radio" checked="checked" name="choixtags">
                                <span class="container-rdo"></span>
                            </label>
                            <label class="container-input">Critére secondaire
                                <input type="radio" checked="checked" name="choixtags">
                                <span class="container-rdo"></span>
                            </label>
                        </div>
                        
                        <input type="text" value="Saisir un texte">

                    </div>

                    <div>
                        <button type="button" class="btn btn-popupclose">Annuler</button>
                        <input type="button" class="product-btn-add" value="créer le produit"></input>
                    </div>
                    
                </form>
            </article>

            <form action="" method="">
                <article class="content-tags">  
                    <div class="content-tags-bloc">

                        <div class="tags-bloc-title ">
                            <label class="container-input">Marque / Enseigne
                                <input type="radio" checked="checked" name="typetags">
                                <span class="container-rdo"></span>
                            </label>
                        </div>

                        <div class="tags-poster tags-poster-marque ">
                            <label class="container-input"><p class="container-tags">QUICK Cie </p>
                                <input type="radio" name="tags1">
                                <span class="container-rdo-tags"></span>
                                <button  class="delete-tags">x</button>
                            </label>
                            <label class="container-input"><p class="container-tags">QUICK NC </p>
                                <input type="radio" name="tags1">
                                <span class="container-rdo-tags"></span>
                                <button  class="delete-tags">x</button>
                            </label>
                        </div>

                        <div class="tags-btn-valid">
                            <button name="btn-mofifier" class="btn">Valider</button>
                        </div>    
                    </div>

                    <div class="content-tags-bloc">
                    <div class="tags-bloc-title ">
                            <label class="container-input">Groupe de prix
                                <input type="radio" name="typetags">
                                <span class="container-rdo"></span>
                            </label>
                        </div>
                        <div class="tags-poster tags-poster-prix">
                            <label class="container-input"><p class="container-tags">LIBRE </p>
                                <input type="radio" name="tags1">
                                <span class="container-rdo-tags"></span>
                                <button name="delete-tags" class="delete-tags">x</button>
                            </label>
                            <label class="container-input"><p class="container-tags">MEDIUM </p>
                                <input type="radio" name="tags1">
                                <span class="container-rdo-tags"></span>
                                <button name="delete-tags" class="delete-tags">x</button>
                            </label>
                            <label class="container-input"><p class="container-tags">PREMIUM </p>
                                <input type="radio" name="tags1">
                                <span class="container-rdo-tags"></span>
                                <button name="delete-tags" class="delete-tags">x</button>
                            </label>
                        </div>
                        <div class="tags-btn-valid">
                            <button name="btn-mofifier" class="btn">Valider</button>
                        </div>  
                    </div>

                    <div class="content-tags-bloc">
                        <div class="tags-bloc-title ">
                            <label class="container-input">Critére exclusif
                                <input type="radio" name="typetags">
                                <span class="container-rdo"></span>
                            </label>
                        </div>
                        <div class="tags-poster tags-poster-exclusif">
                            <label class="container-input">
                                <p class="container-tags">NAT </p>
                                <input type="radio" name="tags1">
                                <span class="container-rdo-tags"></span>
                                <button name="delete-tags" class="delete-tags">x</button>
                            </label>
                            <label class="container-input">
                                <p class="container-tags">HALAL </p>
                                <input type="radio" name="tags1">
                                <span class="container-rdo-tags"></span>
                                <button name="delete-tags" class="delete-tags">x</button>
                            </label>
                        </div>
                        <div class="tags-btn-valid">
                            <button name="btn-mofifier" class="btn">Valider</button>
                        </div>  
                    </div>

                    <div class="content-tags-bloc">
                        <div class="tags-bloc-title ">
                            <label class="container-input">Critére secondaire
                                <input type="radio" name="typetags">
                                <span class="container-rdo"></span>
                            </label>
                        </div>
                        <div class="tags-poster tags-poster-secondaire">
                            <label class="container-input">
                                <p class="container-tags">Ptit Dej </p>
                                <input type="radio" name="tags1">
                                <span class="container-rdo-tags"></span>
                                <button name="delete-tags" class="delete-tags">x</button>
                            </label>
                            <label class="container-input">
                                <p class="container-tags">Gouter </p>
                                <input type="radio" name="tags1">
                                <span class="container-rdo-tags"></span>
                                <button name="delete-tags" class="delete-tags">x</button>
                            </label>
                            <label class="container-input">
                                <p class="container-tags">Anniv </p>
                                <input type="radio" name="tags1">
                                <span class="container-rdo-tags"></span>
                                <button name="delete-tags" class="delete-tags">x</button>
                            </label>
                            <label class="container-input">
                                <p class="container-tags">Promo </p>
                                <input type="radio" name="tags1">
                                <span class="container-rdo-tags"></span>
                                <button name="delete-tags" class="delete-tags">x</button>
                            </label>
                            <label class="container-input">
                                <p class="container-tags">TEST</p>
                                <input type="radio" name="tags1">
                                <span class="container-rdo-tags"></span>
                                <button name="delete-tags" class="delete-tags">x</button>
                            </label>
                        </div>
                        <div class="tags-btn-valid">
                            <button name="btn-mofifier" class="btn">Valider</button>
                        </div>  
                    </div>
                </article>
            </form>

        </article>
        
    </section>
{% endblock %}