<div class="tab-content-title">
    <h3 class="title">Gestion dU Site</h3>
    <p>SUPER WILD COFFEE</p>
</div>

<form action="" method="">
    <article class="display site-display ">
        <div class="display-content">

            <div class="display-btn">
                <p>Produits : </p>
                <button type="button" class="btn add-table"><i class="fas fa-plus"></i>Ajouter</button>
                <button type="button" class="btn duplicate-table"><a href=""><i class="fas fa-plus"></i>Dupliquer</a></button>
                <button type="button" class="btn modified-table"><i class="far fa-edit"></i>Modifier</button>
                <button type="button" class="btn delete-table" data-tablelistdelete="site"><i class="fas fa-trash"></i>Supprimer</button>
                <button type="button" class="tags-table">TAG</button>
            </div>
        </div>
    </article > 

</form>