{% extends 'setting.html.twig' %}

{% block maincontent %}
<section id="wrapper_tabcontent">
    <article id="tab-user" class="tab-content current">

            <div class="tab-content-title">
                <h3 class="title">Utilisateur</h3>
                <p> DEl&CIA</p>
            </div>


            <form action="" method="post" name="user">

                <article class="display setting-display ">
                    <div class="display-content">
                        <div class="display-btn">
                            <a class="btn" href="{{ path('app:createuser') }}" role="button"><i class="fas fa-plus"></i>Créer utilisateur</a>
                        </div>
                    </div>
                </article > 


            </form>

    </article> 

</section >


{% endblock %}
