<div class="tab-content-title">
    <h3 class="title">Créer une Utilisateur</h3>
    <p> DEl&CIA</p>
</div>


<form action="" method="post" name="user">

    <article class="display setting-display ">
        <div class="display-content">
            <div class="display-btn">
                {# <a class="btn" href="{{ path('create-user') }}" role="button"><i class="fas fa-plus"></i>Créer utilisateur</a> #}
            </div>
        </div>
    </article > 

</form>    