.popup_associate_product_container{

    .container-input .container-rdo {
        position: absolute;
        top: 0.8rem;
        left: 0;
        height: 1.5rem;
        width: 1.5rem;
        &:after {
            width: 1.1rem;
            height: 1.1rem;
        }
    }

    /* drop select*/
    .drop-btn{
        height: 2.9rem;
        .drop-btn-icone{
            width: 2.3rem;
            height: 2.3rem;
            right: 3px;
            position: absolute;
        }
    }


    .filter_by_categories{
        .product-select-col {
            padding: 0.2rem;
        }
        label{
            font-size: 1.5rem;
        }
    }
    .filter_by_criterion,
    .filter_by_tag{
        .display-content-poste{
            top: -1rem;
        }
        .drop-btn-icone{
            right: 2rem;
            top: 0.3rem;
        }

    }

    .filter_container_association{
        position: relative;
        .display-content-down {
            padding: 1rem 0.6rem;
        }
    }

    .filter_container_association .filter_by_criterion .product-select-col .container-tags, .filter_container_association .filter_by_tag .product-select-col .container-tags {
        width: 70%;
        margin-left: 0;
    }

    &.is_open {
        .popup{
            width: 90%;
            height: 80%;
            top: -10%;
        }
        .popup_header{
            height: 10%;
            border: 0.1rem solid #899CA4;
            border-radius: 0.7rem 0.7rem 0 0;
        }
        .popup_body{
            display: flex;
            flex-direction: column;
            background-color: #F6F6F6;
            color: #000;
            height: 83%;
            padding: 3rem ;
        }
        .popup_body_item{
            height: 100%;
            width: 100%;
            .container_header{
                height: 6%;
                display: flex;
                flex-direction: row;
                width: 100%;
                .filters_container{
                    display: flex;
                    flex-direction: row;
                    &.left_side{
                        width: 80%;
                        justify-content: flex-start;
                    }
                    &.right_side{
                        width: 20%;
                        justify-content: flex-end;
                    }
                }
                .filter_validation_btn_container{
                    .btn{
                        cursor: pointer;
                        background: #899CA4;
                        border: none;
                    }
                }
            }
            .container_body{
                margin-top: 2%;
                height: 90%;
                display: flex;
                flex-direction: row;
                .container_body_item {
                    height: 100%;
                }
                .chevron_right_container{
                    width: 13rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .update_media_associated_products_list{
                        font-size: 150px;
                        color: #4D646D;
                        cursor: pointer;
                    }
                }
            }
        }

        .popup_footer{
            height: 10%;
            padding: 1%;
        }

        /* Barre de recherche */
        .search_element_container{
            .filter_with_search{
                background: #FFFFFF 0 0 no-repeat padding-box;
                border: 0.05rem solid #C0CCD1;
                border-radius: 0.6rem;
                font: 1.5rem Barlow;
                padding: 0.5rem 1rem;
                margin-right: 0.5rem;
            }
            i{
                font-size: 2rem;
                color: #C0CCD1;
            }
        }

        .filters_by_associated_data_container{
            .display-content-columns {
                padding: 0.7rem;
            }
            .display-content-poste{
                .drop-btn{
                    width: 15rem;
                }
            }
            .filter_validation_btn_container{
                margin: 0.5rem 1rem;
            }
        }

        /* Filter */
        .filter_container_association{
            display: flex;
            .open_filter{
                width: 2.8rem;
                height: 3.7rem;
                background: #899CA4 0 0 no-repeat padding-box;
                box-shadow: 0.1rem 0.2rem 0.2rem #00000029;
                border: 0.1rem solid #899CA4;
                border-radius: 0.6rem;
                i{
                    color: white;
                }
            }

            .filter_container_association_open{
                width: 0;
                padding: 0 0.5rem;
                height: 3.7rem;
                display: none;
                background: #E3E3E3 0 0 no-repeat padding-box;
                border: 1px solid #C0CCD1;

                .filter{
                    margin: 0 1rem ;
                }
                .display-content-columns {
                    padding: 0;
                }
                .container-criterion{
                    width: 10.3rem;
                    height: 2.5rem;
                    display: inline-block;
                    text-align: center;
                    background: #EAF1F2 0 0 no-repeat padding-box;
                    box-shadow: 0.2rem 0.2rem 0.2rem #00000029;
                    border: 0.1rem solid #4D646D;
                    border-radius: 0.5rem;
                    font: 1.3rem "Barlow";
                    padding: 0.3rem;
                }

            }

            .filter_active{
                display: flex;
            }

        }

        /* Tableau */
        .table-custome{
            thead{
                height: 4.8rem;
                th{
                    padding: 1rem;
                    font: 2rem "Barlow";
                }
            }
            tbody{
                height: 45rem;
                max-height: 45rem;
                display: block;
                overflow: auto;
            }
        }

        /* Tableau produit*/
        .products_choice_list_container{
            width: 100%;
            max-width: 115rem;
            table{
                thead{
                    th{
                        width: 10%;
                        &:nth-child(1){
                            width: 1.5%;
                            .container-input .container-rdo-tags {
                                left: 0.3rem;
                                top: -1.5rem;
                            }
                        }
                        &:nth-child(2){
                            text-align: left;
                            width: 7%;
                        }
                        &:nth-child(3){
                            background-color: #82959C;
                            padding-left: 5rem;
                            text-align: left;
                        }
                        &:nth-child(4){

                            width: 7%;
                        }
                        &:nth-child(5){
                            width: 9%;
                            padding-left: 3.5rem;
                            text-align: left;
                        }
                    }
                }
                tbody{
                    tr{
                        background-color: #D9E0E3;
                        &:nth-child(2n+2){
                            background-color: #E9ECED;
                            td{
                                border: 0;
                                &:nth-child(3){
                                    background-color: #E0E3E4;
                                }
                            }
                        }
                        td{
                            width: 10%;
                            border: 0.1rem solid #E0E3E4;
                            position: relative;
                            padding: 1rem 0.5rem ;
                            text-align: left;
                            &:nth-child(1){
                                width: 1.3%;
                                .container-input .container-rdo-tags {
                                    left: 0.7rem;
                                    top: -1rem;
                                }
                            }
                            &:nth-child(2){
                                font: 2rem "Barlow";
                                letter-spacing: -0.22px;
                                color: #283338;
                                width: 6.4%;
                            }
                            &:nth-child(3){
                                font: 1.6rem "Barlow";
                                background-color: #D4DBDD;
                                width: 9.1%;
                                padding-left: 2rem;
                            }
                            &:nth-child(4){
                                width: 6%;
                            }
                            &:nth-child(5){
                                width: 9%;
                            }
                        }
                        .criterions_col{
                            font: 1.5rem "Barlow";
                            .cirterions_content{
                                display: flex;
                                .bloc-criterion{
                                    &:nth-child(1){
                                        margin-right: 1rem;
                                    }
                                }
                            }
                            .bloc-criterion{
                                width: 10.3rem;
                                height: 2.5rem;
                                display: inline-block;
                                text-align: center;
                                background: #EAF1F2 0 0 no-repeat padding-box;
                                box-shadow: 0.2rem 0.2rem 0.2rem #00000029;
                                border: 0.1rem solid #4D646D;
                                border-radius: 0.5rem;
                                padding: 0.3rem;
                                &:first-child{
                                    margin-right: 0.5rem;
                                }
                            }
                        }
                        .tags_col{
                            font: 1.5rem "Barlow";
                            padding: 1rem;
                            .container-tags{
                                width: 100%;
                                height: 2.5rem;
                                font: 1.3rem "Barlow";
                            }
                            .nav_tags{
                                background-color: transparent;
                                &.open {
                                    max-height: 9rem;
                                }
                            }
                            .open_tags{
                                top: 0.4rem;
                                right: 5rem;
                            }
                        }
                        .product_description{
                            white-space: nowrap;
                            width: 90%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            position: absolute;
                            left: 1.5rem;
                        }
                    }
                }
            }
        }

        /* Tableau produits associés */
        .products_associated_list_container{
            width: 31.7rem;
            table{
                thead{
                    tr{
                        th{
                            &:nth-child(1){
                                width: 80%;
                            }
                            &:nth-child(2){
                                width: 20%;
                            }
                        }
                    }
                }
                tbody{
                    tr {
                        background-color: #F6F6F6;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        &:nth-child(odd) {
                            background-color: #FFF;
                        }
                        &.new_association{
                            td{
                                color: #4CAF50;
                            }
                        }
                        &.dissociated{
                            td{
                                color: #FF0000;
                                text-decoration: line-through;
                            }
                        }
                        td{
                            border: none;
                            &.product_name_container{
                                width: 90%;
                                text-align: left;
                            }
                            &.dissociation_btn_container{
                                width: 10%;

                                button{
                                    background: #F57171;
                                    color: #FFF;
                                    border: 1px solid #FFF;
                                    border-radius: 25%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}