.allergenes{
    .content-table{
        margin-top: 40px;

    }

    .table-allergenes{
        .table-custome{
            width: 80%;
            max-width: 100%;
        }
        
    }
}


.categories{
    .content-table{
        margin-top: 40px;
    }
    .table-categories{
        .table-custome{
            width: 80%;
            max-width: 100%;
        }
    }
}

.image-td{
    height: 30px;
    width: 30px;
}

// #popup_properties{
//     display: none;
// }