.allergenes{
    .content-table{
        margin-top: 4rem;

    }

    .table-allergenes{
        .table-custome{
            width: 80%;
            max-width: 100%;
        }
        
    }
}


.categories{
    .content-table{
        margin-top: 4rem;
    }
    .table-categories{
        .table-custome{
            width: 80%;
            max-width: 100%;
        }
    }
}

.image-td{
    height: 3rem;
    width: 3rem;
}

