/* =============== RESET ================= */
* {
    box-sizing: border-box
}
html {
    font-size: 16px;
}
p{
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.1em;
    margin-bottom: -0.2em;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    color: #6F6F6F;

    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E2E2E2 100%) 0% 0% no-repeat padding-box;
    width: 100vw;
    height: 200vh;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}

img {
    max-width: 100%;
    height: auto;
}

/** Function for converting  px to rem **/
@function rem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

/************************* CUSTOM CSS  ***************************/
@import 'custome/table.scss';

@import 'custome/dropdown.scss';

@import 'custome/display_down.scss';

@import 'custome/scrollbar.scss';

@import 'custome/form.scss';

/************************* CUSTOM ICON  ***************************/
@import 'custom_icon.scss';

/************************* HEADER CSS ***************************/
@import 'header_menu.scss';

/************************* NAV CSS ***************************/
@import 'nav_left.scss';

/************************* BODY HEADER CSS ***************************/
@import 'main.scss';
// @import 'body_header.scss';

/************************* BODYMENU WRAPPER CSS ***************************/
@import 'menu_wrapper.scss';

/************************* PAGE CSS ***************************/

/** HOME**/
@import 'home_page.scss';

/** PRODUCTS **/
@import 'products.scss';
@import 'products/product_price.scss';

/** SITE **/
@import 'site.scss';

/** SETTINGS **/
// @import 'settings.scss';
// @import 'settings/create.scss';


@import 'tags.scss';
// @import 'settings/settings_user.scss';

/** PROGRAMMING **/


/** MEDIA **/
@import 'media.scss';

/** INFO **/
// @import 'info.scss';

@import 'allergenes.scss';

