/* =============== RESET ================= */
* {
    box-sizing: border-box
}
html {
    font-size: 16px;
}
p{
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.1em;
    margin-bottom: -0.2em;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.625;
    margin: 0;
    padding: 0;
    color: #6F6F6F;
    
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}

img {
    max-width: 100%;
    height: auto;
}


/***************************************************** css custom *****************************************************************/

.border--line::after{
    content: '';
    border-bottom: 1px solid #4D646D;
    position: relative;
    display: block;
}

.bold{
    font-weight: bold;
}








/***************************************************** infomation company *****************************************************************/

.company{
    display: flex;
    flex-wrap: wrap;
} 



.company-bloc{
    flex: 0 0 26%;
    max-width: 26%;
    margin-right: 5em;
    margin-top: 2em;
    font: 1.4rem 'Barlow', sans-serif;
}

.company-bloc p {
    position: relative;
}

.col-right{
    position: absolute;
    right: 0;
}

.company-bloc:last-child{
    margin-right: 0;
}

.company-info p {
    padding-top: 0.4em;
    font: 1.2rem 'Barlow', sans-serif;
    text-align: right;
}
/* .company-info-have p{
    margin-right: -4.3em;
}
.company-info-categories p{
    margin-right: -0.6em;
}
.company-info-groups p{
    margin-right: -0.2em;
} */




/* MEDIA QUERY */

/* Tablette */

@media (max-width: 64em)  {
    .company-bloc {
        flex: 0 0 39%;
        max-width: 40%;
        margin-right: 4em;
        margin-top: 2em;
    }
}


@media (max-width: 48em)  {

    /***************************************************** HEADER *****************************************************************/

    


   
 
    

    
}

/* Mobile */
@media (max-width: 26.8em)  {

}