// @import 'custome/input-rdo.scss';

// page gestion des crieters

.tab-content-criteres{

    .display{
        &::after {
            border: 1px solid #4D646D;
        }
        .display-btn{
            .hide-btn{
                pointer-events: none;
                background: #ABBBC0;
            }
        }
    }

    .row-criterion{
        margin: 20px auto;
        width: 1000px;
        max-width: 100%;
        .bloc-criterion-title{
            padding: 7px 10px;
            display: flex;
            background: #A4B4BB 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border: 1px solid #4D646D;
            height: 45px;
            input{
                margin-right: 20px;
            }
            .container-input{
                left: -23px;
                position: relative;
            }
            
            .title{
                font: rem(21px) 'Barlow', medium;
                letter-spacing: 0px;
                color: #FFFFFF;
                margin-right: 10px;
                margin-left: 50px;
                &::after {
                    content: '';
                    border-left: 0.15rem solid #FFFFFF;
                    position: relative;
                    margin: 0.5rem 1rem;
                    height: 1.5rem;

                }
            }
            .desc{
                font: rem(21px) 'Barlow', medium;
                letter-spacing: 0px;
                color: #283338;
            }

        }
    }

    .content-criterion{
        margin-top: 40px;
        width: 100%;
    }

    .content-criteres{
        // TABLEAU
        .table{
            .table-custome{
                
                border-radius: 0;
                border: 1px solid #899CA4;
                border-top: 0;
                .thead-info{
                    width: 100%;
                    background: #E3E3E3 0% 0% no-repeat padding-box;
                    border: 0;
                    border-bottom: 1px solid #899CA4;
                    &::after{
                        display: none;
                    }
                    th{
                        color: #4D646D;
                        &:first-child{
                            text-align: center;
                            width: 28%;
                        }
                        &:last-child{
                            text-align: left;
                            width: 80%;
                        }
                    }
                }
                .tbody-content{
                    background: #F6F6F6 0% 0% no-repeat padding-box;
                    border: 0;
                    margin-bottom:30px;
                    padding: 20px 30px ;
                    height: 250px;
                    tr{
                        &:first-child{
                            text-align: right;
                            span{
                                width: 197px;
                                height: 29px;
                                padding-left: 20px;
                                display: inline-flex;
                                background: #FFFFFF 0% 0% no-repeat padding-box;
                                border: 1px solid #C0CCD1;
                                border-radius: 6px;
                            }
                        }
                        &:nth-child(2n+2){
                            background: #F6F6F6 0% 0% no-repeat padding-box;
                        }
                        &:last-child{
                            margin-bottom: 20px;
                        }
                        td{
                            border: 0;
                            padding: 10px 35px 10px 10px;
                            .cercle{
                                text-align: center;
                                font: 14px 'Barlow', medium;
                                background: #EAF1F2 0% 0% no-repeat padding-box;
                                box-shadow: 2px 2px 2px #00000029;
                                border-radius: 5px;
                                border: 1px solid #4D646D;
                                padding: 2px 5px;
                                width: 110px;
                                height: 26px;
                                margin-left: 80px;
                            }
                            .cercle-desc{
                                // width: 660px;
                                height: 30px;
                                background: #FFFFFF 0% 0% no-repeat padding-box;
                                border: 1px solid #899CA4;
                                border-radius: 9px;
                                padding: 2px 5px;
                            }

                            input{
                                margin-left: 20px;
                            }
                        }
                    }

                    .tr-custome{
                        .container-input{
                            margin-left: 15px;
                        }
                        td{
                            &:first-child{
                                display: contents;
                                width: 20%;
                            }
                            &:nth-child(2){
                                width: 73%;
                            }
                        }
                    }
                } 
            }
        } 
    }

    .table{
        .table-custome{
            border-radius: 0;
            border: 1px solid #899CA4;
            border-top: 0;
            .thead-info{
                width: 100%;
                background: #E3E3E3 0% 0% no-repeat padding-box;
                border: 0;
                border-bottom: 1px solid #899CA4;
                &::after{
                    display: none;
                }
                th{
                    color: #4D646D;
                        &:first-child{
                            text-align: center;
                            width: 28%;
                        }
                        &:last-child{
                            text-align: left;
                            width: 80%;
                        }
                }
            }
            .tbody-content{
                background: #F6F6F6 0% 0% no-repeat padding-box;
                border: 0;
                margin-bottom:30px;
                padding: 20px 30px ;
                height: 250px;
                tr{
                    &:first-child{
                        text-align: right;
                        span{
                            width: 197px;
                            height: 29px;
                            padding-left: 20px;
                            display: inline-flex;
                            background: #FFFFFF 0% 0% no-repeat padding-box;
                            border: 1px solid #C0CCD1;
                            border-radius: 6px;
                        }
                    }
                    &:nth-child(2n+2){
                        background: #F6F6F6 0% 0% no-repeat padding-box;
                    }
                    &:last-child{
                        margin-bottom: 20px;
                    }
                    td{
                        border: 0;
                        padding: 10px 60px ;
                        .cercle{
                            font: 14px 'Barlow', medium;
                            background: #EAF1F2 0% 0% no-repeat padding-box;
                            box-shadow: 2px 2px 2px #00000029;
                            border-radius: 5px;
                            border: 1px solid #4D646D;
                            padding: 2px 5px;
                            width: 110px;
                            height: 30px;
                            // display: inline-flex;
                        }
                        .cercle-desc{
                            // width: 660px;
                            height: 30px;
                            background: #FFFFFF 0% 0% no-repeat padding-box;
                            border: 1px solid #899CA4;
                            border-radius: 9px;
                            padding: 2px 5px;
                        }

                        input{
                            margin-left: 60px;
                        }
                    }
                }

                .tr-custome{
                    td{
                        &:first-child{
                            width: 20%;
                        }
                        
                    }
                }
            } 
        }
    } 
}



.content-criteres-bloc {
    .container-input{
        .container-rdo{
            top: 4px;
            height: 19px;
            width: 19px;
            &:after{
                width: 15px;
                height: 15px;
            }
        }
    }
}





.edit-critere{
    margin-left: 3%;

    .display-btn{
        .duplicate-criterion{
            pointer-events: none;
            background: #ABBBC0;
            
        }
        .modified-criterion{
            @extend .duplicate-criterion;
        }
        
    }
    

    .display{
        padding-top: 20px;
        padding-bottom: 60px;
        &::after {
            top: 2.3125rem;
            border: 1px solid #4D646D;

        }
    }

    .content-criterion{
        width: 1000px;
        max-width: 100%;
        .bloc-criterion-title{
            padding: 7px 10px;
            display: flex;
            background: #A4B4BB 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border: 1px solid #4D646D;
            height: 45px;
            input{
                margin-right: 20px;
            }
            .container-input{
                left: -23px;
                position: relative;
            }
            
            .title{
                font: rem(21px) 'Barlow', medium;
                letter-spacing: 0px;
                color: #FFFFFF;
                margin-right: 10px;
                margin-left: 50px;
                &::after {
                    content: '';
                    border-left: 0.15rem solid #FFFFFF;
                    position: relative;
                    margin: 0.5rem 1rem;
                    height: 1.5rem;

                }
            }
            .desc{
                font: rem(21px) 'Barlow', medium;
                letter-spacing: 0px;
                color: #283338;
            }

        }
    }

    

   

    .form-content{
        width: 70%;
        height: 125px;
        .row:first-child{
            padding: 10px 10px 10px 30px;
            .row{
                padding:0;
                label{
                    display: none;
                }
            }
        }
    }


        .table{
            .table-custome{
                border-bottom:0 ;
                
                .tbody-content{
                    .tr-custome{
                        display: none;
                    }
                }
            }
            
        } 
    

    .row{
        display: flex;
        background: #F6F6F6 0% 0% no-repeat padding-box;
        margin-bottom: 30px;
        padding: 10px 20px;
        height: 60px;
        width: 1000px;
        max-width: 100%;
        // width: 99.95%;
        border: 1px solid #899CA4;
        border-top: 0;
        label{
            display: none;
        }
        #criterion_selected{
            margin-right: 20px;
        }
        #criterion_name{
            text-align: center;
            font: 0.875rem "Barlow", medium;
            background: #EAF1F2 0% 0% no-repeat padding-box;
            box-shadow: 2px 2px 2px #00000029;
            border-radius: 5px;
            border: 1px solid #4D646D;
            padding: 2px 5px;
            width: 110px;
            height: 25px;
            margin-right: 85px;
            margin-left: 25px;
        }
        #criterion_description{
            height: 30px;
            width: 660px;
            max-width: 100%;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #899CA4;
            border-radius: 9px;
            padding: 5px 10px;
        }
    }

    .select-site{
        .select-site-title{
            font: rem(29px) 'Barlow', medium;
            span{
                font-weight: bold;
            }
        }
        .block-select-site{
            margin-top: 20px;
            width: 400px;
            .block-select-site-title{
                height: 66px;
                background: #C0CCD1 0% 0% no-repeat padding-box;
                border: 1px solid #899CA4;
                display: flex;
            }
        }
    }
    
}


/** cree user **/

.create-criteres{
    
    .form-content{
        margin: 1rem 0 0 0 ;
        padding: 0;
        .row{
            padding: 15px 25px;
            .input-custome{
                height: 30px;
            }
            .form-label{
                padding-top: 0.3rem;
                color: #283338;
            }
            &:first-child{
                padding: 15px 10px 0px 10px;
                background: #C0CCD1 0% 0% no-repeat padding-box;
                
                .row{
                    &:first-child{
                        width: 30%;
                    }
                    &:last-child{
                        width: 70%;
                        .form-label{
                            width: auto;
                            margin-right: 19px;
                        }
                        .input-custome{
                            // width: 100%;
                        }
                    }
                    
                }
            }
        }
        .row-multiple{
            margin-top: 10px;
            .form-label{
                width: 17%;
            }
            .input-custome{
                width: 250px;
            }
        }
        .content-criteres{
            margin-bottom: 50px;
            .title{
                width: 30%;
                text-align: right;
            }    
            .content-criteres-bloc{
                // height: 140px;
                // max-height: 250px;
                // overflow: auto;
                .row-criteres{    
                    display: flex;
                    padding: 15px 25px;
                     div{
                        display: contents;
                        
                    }
                    .selected{
                        
                    }
                    label{
                        width: 85px;
                        display: inline-block;
                        font: 18px 'Barlow';
                        color: #899CA4;
                    }
                    .input-custome{
                        width: 250px;
                        height: 25px;
                        margin: 0px 40px 0 20px;
                    }
                    .input-custome-desc {
                        width: 650px;
                        max-width: 100%;
                        height: 25px;
                        padding: 0em 0rem 0rem 1rem;
                        border: 0.06rem solid #C0CCD1;
                        border-radius: 0.4rem;
                        margin-right: 40px;
                        font: 16px 'Barlow';
                    }
                    
                }
                .delete-row{
                    width: 23px;
                    height: 23px;
                    background: #BFCCD1;
                    padding: 0rem 0rem 0.2rem;
                    font-size: 17px;
                    border: 0;
                }
            }
            .container-input{
                .container-rdo{
                    top: 4px;
                    left: 25px;
                    height: 16px;
                    width: 16px;
                    &:after{
                        width: 12px;
                        height: 12px;
                    }
                }
            }

            .btn-add{
                width: 28.5%;
                text-align: right;
                .btn{
                    width: 250px;
                }
            }

        }
    
        .btn-save{
            background: #E3E3E3 0% 0% no-repeat padding-box;
            padding: 10px;
            text-align: center;
        }

    }
}