@charset "UTF-8";

@font-face {
  font-family: "app-infoway";
  src:url("fonts/app-infoway.eot");
  src:url("fonts/app-infoway.eot?#iefix") format("embedded-opentype"),
  url("fonts/app-infoway.woff") format("woff"),
  url("fonts/app-infoway.ttf") format("truetype"),
  url("fonts/app-infoway.svg#app-infoway") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "app-infoway" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "app-infoway" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
  content: "\61";
}
.icon-video:before {
  content: "\62";
}
.icon-horiz-1:before {
  content: "\63";
}
.icon-horiz-2:before {
  content: "\64";
}
.icon-picto-accueil:before {
  content: "\65";
}
.icon-picto-infos:before {
  content: "\67";
}
.icon-picto-mediathque:before {
  content: "\68";
}
.icon-picto-monitoring:before {
  content: "\69";
}
.icon-picto-nav-calendrier:before {
  content: "\6a";
}
.icon-picto-nav-sites:before {
  content: "\6b";
}
.icon-picto-produit:before {
  content: "\6c";
}
.icon-picto-ticket:before {
  content: "\6d";
}