/***************************************************** HEADER *****************************************************************/

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 130px;
    z-index: 10;
}

.logo__infoway {
    width: 10%;
    padding: 2.5em 2em;
}

#header__block{
    display: flex;
    width: 90%;
    background-color: #FFFFFF;
}

/* block left */

.header__block--left {
    display: flex;
    /*justify-content: space-around;*/
    /* align-items: center; */
    width: 65%;
    /* background: linear-gradient(-271deg, #324147 1%, #4D646D 17%); */
}

/* btn style */

.number__enseigne, .number__enseigne-site, .number__site {
    position: relative;
    color: #7BA2B1;
    top: -0.45rem;
}

.update__site, .update__all, .btn-back {
    width: auto;
    padding: 5px 7px;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    border: none;
}

/* gradient left */

.header__gradient-left{
    flex: 0 0 33.333%;
    max-width: 33.33%;
    background: linear-gradient(-271deg, #324147 1%, #4D646D 17%);
}

.logo__enseigne {
    display: flex;
    height: 100%;
    flex-basis: 22%;
    justify-content: center;
    /* background: linear-gradient(100deg, #324147 30%, #4D646D 50%, #4D646D 100%); */
}

.logo__enseigne img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.all__enseigne{
    position: relative;
    flex-direction: row;
    font: 1.2rem 'Barlow', sans-serif;
    color: #4D646D;
    margin-left: 0.5rem;
    margin-top: 1.2rem;
}

.enseigne select {
    font: 1.1rem 'Barlow', sans-serif;
    color: #FFFFFF;;
    background-color: transparent!important;
    border: 0em;
    padding: 0.2em 0.2em;
}

.all__enseigne .btn-back{
    bottom: 1rem;
}

.enseigne select option{
    color: #4D646D;
}
.update__all {
    color: #fff;
    background-color: #F57171;
    box-shadow: 3px 3px 3px #00000029;

}

/* gradient center */

.header__gradient-center{
    flex: 0 0 33.333%;
    max-width: 33.33%;
    display: flex;
    align-items: center;
    height: 130px;
    position: relative;
    z-index: 500;
}

.header__gradient-center::before {
    content: '';
    display: block;
    /* background: linear-gradient(-317deg, #324147 3%, #4D646D 16%); */
    background: linear-gradient(-271deg, #324147 1%, #4D646D 17%);
    transform: skewX(-30deg);
    position: absolute;
    width: 101%;
    height: 100%;
    left: -37px;
}
.update {
    display: flex;
    position: relative;
}

.all__enseigne-site{
    position: relative;
    flex-direction: row;
    margin-left: 0.5rem;
    font: 1.2rem 'Barlow', sans-serif;
    color: #4D646D;
}

.enseigne-site select {
    font: 1.1rem 'Barlow', sans-serif;
    color: #FFFFFF;;
    background-color: transparent!important;
    border: 0em;
    padding: 0.2em 0.2em;
}
.enseigne-site select option{
    color: #4D646D;
}
.update__enseigne-site {
    color: #fff;
    background-color: #4F9BAE;
    border: 1px solid #899CA4;
    margin-right: 30px;
}
.update .update__all{
    top: 0.5rem;
    position: relative;
}

/* gradient right */

.header__gradient-right {
    flex: 0 0 33.333%;
    max-width: 33.33%;
    align-items: center;
    height: 130px;
    position: relative;
    z-index: 500;
}

.header__gradient-right::before {
    content: '';
    display: block;
    background: linear-gradient(-317deg, #324147 3%, #4D646D 16%);
    transform: skewX(-30deg);
    position: absolute;
    width: 80%;
    height: 100%;
    left: -37px;
}

.all__site{
    position: relative;
    flex-direction: row;
    font: 1.2rem 'Barlow', sans-serif;
    color: #4D646D;
    margin-left: 0.5rem;
    margin-top: 1.2rem;
}

.site select {
    font: 1.1rem 'Barlow', sans-serif;
    color: #FFFFFF;;
    background-color: transparent!important;
    border: 0em;
    padding: 0.2em 0.2em;
}

.site select option{
    color: #4D646D;
}


.update__site {
    color: #fff;
    background-color: #4F9BAE;
    border: 1px solid #899CA4;
    margin-right: 30px;
    top: 0.5rem; 
    position: relative;
}

.btn-back{
    position: absolute;
    bottom: 0rem;
    background-color: transparent;
    color: #899CA4;
    border: 0.06rem solid #899CA4;
    border-radius: 0.3rem;
}

/* .btn-back span{
    content: "";
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid red;
}
.btn-back span::after{
    content: "";
    position: absolute;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid transparent;
} */

/* .all__site{
    margin-left: 0.3rem;
} */



/* .disabled {
    background-color: #4D646D;
    color: #C0CCD1;
} */
