/***************************************************** css custom *****************************************************************/

.border--line::after{
    content: '';
    border-bottom: 0.1rem solid #4D646D;
    position: relative;
    display: block;
    top: 0.3rem;
}

.bold{
    font-weight: bold;
}

/***************************************************** HOME INFO *****************************************************************/

.home-information{
    padding: 4% 3% 4% 7%;
    .row{
        display: flex
    }
    .home_info-title{
        font-family: "barlow",sans-serif;
        font-size: 2.7rem;
        font-style: normal;
        color: #306D7C;
        margin-left: 75px;
        padding-bottom: 1em;
    }
    .home_info-contact{
        display: flex;
        justify-content: flex-end;
        width: 50%;
        p{
            margin: 0.3rem 0.5rem;
            text-align: right;
            font: 2.5rem 'Barlow', sans-serif;
            color: #4D646D;
        }
        .contact_number{
            font: 2rem 'Barlow';
        }
        .info_contact-nom{
            span{
                margin-left: 10rem;
                font-weight: bold;
            }
        }
        .info_contact-hotline{
            padding-left: 8em;
            .bold{
                font-weight: bold;
            }
            &.border--line::after {
                margin-left: -34%;
            }
        }
        
    }
}
/***************************************************** infomation company *****************************************************************/

.company{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    .company-bloc{
        width: 50%;
        margin-right: 5em;
        font: 2.5rem 'Barlow';
        border: 0.1rem solid #899CA4;
        padding: 1.5rem;
        background: #FFFFFF 0 0 no-repeat padding-box;
        p {
            position: relative;
        }
        &:last-child{
            margin-right: 0;
        }
    }

    .company_diffusion{
        width: 50%;
        margin-right: 5em;
        font: 2.5rem 'Barlow';
        border: 0.1rem solid #899CA4;
        padding: 1.5rem;
        background: #FFFFFF 0 0 no-repeat padding-box;
        p {
            position: relative;
        }
        &:last-child{
            margin-right: 0;
        }
    }

    .col-right{
        position: absolute;
        right: 0;
    }
    .company-info p {
        padding-top: 0.4em;
        font: 2rem 'Barlow';
        text-align: right;
    }

} 

/* Enseignes */

.home_enseignes-row{
    margin-top: 5rem;
    font: 2.5rem 'Barlow', sans-serif;
    color: #4D646D;
    .border--line::after{
        margin-top: 0.2rem;
    }
    .home_enseignes-bloc{
        display: inline-flex;
        flex-wrap: wrap;
        padding: 2rem 1rem 2rem 2rem;
        width: 100%;
        background: #FFFFFF 0 0 no-repeat padding-box;
        img{
            width: 3.25em;
        }
        p{
            font: 1.2rem 'Barlow', sans-serif;
            color: #4D646D;
        }
    }
    .home_enseignes-col{
        text-align: center;
        width: 14%;
        opacity: 0.50;
        margin: 0 0 1em 0;
        &::after{
            content: '';
            border-bottom: 0.6rem solid #4F9BAE;
            position: relative;
            display: inline-block;
            opacity: 0;
            width: 65%;
            top: -1rem;
        }
        &:hover{
            opacity: 1;
    
        }
        &:hover::after{
            opacity: 1;
        }
    }
}


/** home admin **/

.home-admin{

    .company{
        .company_diffusion{
            display: flex;
            width: 60%;
        }
    }

}

/** Zone de diffusion **/
 .home-table{
     margin-top: 2rem;
     display: flex;
     .dropdown {
         width: 100%;
         .btn-dropdown {
             padding: 0;
             height: auto;
             background-color: transparent;
             border-radius: 0;
             border: 0;
             .multiSel{
                 color: black;
                 font-weight: bold;
             }
         }
         .logo-icone{
             top:-7px;
         }

         ul {
             background: #FFFFFF;
             color: #4D646D;
             display: none;
             left: -16px;
             padding: 9px 15px 2px 7px;
             position: absolute;
             top: 9px;
             width: 7.8rem;
             max-width: 100%;
             list-style: none;
             height: 8.25rem;
             overflow: auto;
             border: 0.06rem solid #C0CCD1;
             border-top: 0;
             z-index: 1;
         }
     }

     .home-table-left{
         margin-right: 5rem;
         max-width: 84rem;

         .menu-dropdown-table{
             height: 63rem;

             .menu-list-table{
                 padding-left: 0;
                 max-width: 100%;
                 width: 85rem;
                 border-radius: 0.6rem 0.6rem 0 0;
                 .menu-submenu {
                     padding-bottom: 2rem;
                     background: #F6F6F6 0 0 no-repeat padding-box;
                 }
                 .accordion-toggle{
                     background: #899CA4 0 0 no-repeat padding-box;
                     border-radius: 0.6rem 0.6rem 0 0;
                     margin-bottom: 0.3rem;
                     font-size: 2.6rem;
                     padding: 1rem;
                     border: 0.1rem solid #899CA4;
                     letter-spacing: 0;
                     color: white;
                     &:first-of-type {
                         border-top: 0;
                     }
                 }
    
                 .accordion-toggle, .accordion-content {
                     cursor: pointer;
                     font-size: 1.6rem;
                     position: relative;
                     letter-spacing: 0.1rem;
                 }
                
                   .accordion-content {
                     display: none;
                 }
            
                 .accordion-toggle.active-tab {
        
                 }
             }
         }

         .table{
             .table-custome{
                 .thead-content{
                     &::after{
                         background: #A4B4BB 0 0 no-repeat padding-box;
                         border-bottom: 0;
                     }
                     th{
                         color: black;
                         &:nth-child(1){
                             width: 7%;
                         }
                         &:nth-child(3){
                             width: 9%;
                         }
                         &:nth-child(4){
                             width: 5%;
                         }
                     }
                 }
                 .tbody-content{
                     background-color: #DDE1E4;
                     height: 28rem;
                     display: block;
                     overflow: auto;
                   
                     td{
                         text-align: center;
                         border: 0;
                         &:nth-child(1){
                             width: 6.5%;
                         }
                         &:nth-child(3){
                             width: 8%;
                         }
                         &:nth-child(4){
                             width: 5%;
                         }
                         // &:last-child{
                         //     border-right: 1px solid #AAAAAA;
                         // }
                     }
                 }

             }
         }


     }

     .home-table-right{
         max-width: 640px;
         .table{
             .table-custome{
                 .thead-content{
                     background-color: #FFFFFF ;
                     &::after{
                         background-color: #FFFFFF ;
                     }
                     th{
                         color: black;
                         &:nth-child(1){
                             width: 7%;
                         }
                         &:nth-child(3){
                             text-align: left;
                             width: 9%;
                         }
                         &:nth-child(4){
                             width: 5%;
                         }
                     }
                 }
                 .tbody-content{
                     background-color: #DDE1E4;
                     height: 58rem;
                     display: block;
                     overflow: auto;
                   
                     td{
                         width: 4.5rem;
                         text-align: center;
                         border: 0;
                         &:nth-child(1){
                             width: 6%;
                         }
                         &:nth-child(3){
                             text-align: left;
                             width: 8%;
                         }
                         &:nth-child(4){
                             width: 5%;
                         }
                     }
                 }

             }
         }

     }

     .table-custome{
         .thead-info,
         .thead-content {
             background: #A4B4BB 0 0 no-repeat padding-box;
             th{
                 font: 0.8rem 'Barlow', medium;
                 color: #FFFFFF;
                 padding: 0.5rem 1rem;
                 position: relative;
                 width: 50px;
                 &:first-child{
                     width: 6%;
                 }
                 span{
                     font: 1.4rem 'Barlow', italic;
                 }
             }
         }

         .tbody-content{
            
             border: 1px solid #4D646D;
             tr:nth-child(2n+2) {
                 background-color: #F6F6F6;
             }
             td {
            
                 width: 50px;
                 &:first-child{
                     width: 8%;
                 }
                 input{

                     margin-right: 15px;
                 }
               
             }
         }
     }
 }

    

/* MEDIA QUERY */

/* Tablette */

@media (max-width: 64em)  {
    .company-bloc {
        flex: 0 0 39%;
        max-width: 40%;
        margin-right: 4em;
        margin-top: 2em;
    }
}

/* MEDIA QUERY */

/** tablette **/

@media (max-width: 90rem)  {
    .home-information{
        .home_info-contact{
            p{
            font-size: 1.2rem;
            }
            .info_contact-nom{
                p{
                    margin: 3px 5px 3px 0;
                    
                }
                span{
                    margin-left: 12.4rem;
                }
            }
            .info_contact-hotline {
                padding-left: 6em;
            }
        }
    }  
    
    .home_enseignes-row{
        .home_enseignes-bloc {
            padding: 0.5rem;
            .home_enseignes-col{
                width: 25%;
            }
        }
    }

    #company {
        margin: 0;
        .company-bloc{
            position: relative;
            width: 100%;
            flex: none;
            max-width: 100%;
        }
    } 
}

