.main-media{
    .wrapper{
        .wrapper-content{
            .tabs{
                li{
                    width: 27%;
                }
            }
        }
    }
}


.switch{
    margin: 4rem auto;
    width: 24rem;
    position:relative;
    input{
        position:absolute;
        top: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        &:checked{
            z-index:1;
        }
        & + label{
            opacity:1;
            cursor:default;
        }
        &:not(:checked) + label:hover{
            opacity :.5;
        }
    }
    label{
        color:white;
        opacity: .33;
        transition: opacity .25s ease;
        cursor: pointer;
    }
    .toggle-outside{
        height:21%;
        border-radius: 2rem;
        padding: .25rem;
        overflow: hidden;
        transition: .25s ease all;
    }

    .toggle-inside{
        border-radius: 5rem;
        background :#FFFFFF;
        position :absolute;
        transition :.25s ease all;
    }

}



.switch--horizontal{
    margin: 0 auto 1rem;
    font-size: 0;
    input{
        height: 3rem;
        width: 6rem;
        left :6rem;
        margin: 0;
        &:checked ~  .toggle-inside{
            left :6.25rem;
        }
    }
    input ~ input:checked ~  .toggle-inside{
        left: 9.3rem;
    }
    input ~ input:checked ~  .toggle-outside{
        background-color: #53B3C7;
    }
    input ~ input:checked ~  label{
        color: #53B3C7;
    }
    label{
        color: #4D646D;
        font-size:1.8rem;
        line-height: 3rem;
        display :inline-block;
        width :6rem;
        height: 100%;
        margin: 0;
        text-align :center;
    }
    label:last-of-type{
        margin-left:6rem;
    }

    .toggle-outside{
        position :absolute;
        width :6rem;
        left :6rem;
        background-color: #899CA4;
    }
    .toggle-inside{
        top: 4.8rem;
        height :2.5rem;
        width: 2.5rem;
    }

}









