/*****************************************************  page marque  *****************************************************************/

.tab-content-bloc {
    display: flex;
    padding: 1.5rem 0;
}

.row-flex{
    display: flex;
}

/* == tab-content-bloc-left == */

.tab-content-bloc-left {
    border: 0.06rem solid #899CA4;
    width: 40%;
    margin-right: 4rem;
}

.bloc-societe{
    display: flex;
    width: 100%;
}
.bloc-societe-form{
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    display: inline-block;
    width: 80%;
}
.bloc-societe-form .row{
    padding: 0 0 0.7rem 0;
    display: flex;
}

/* == tab-content-bloc-right == */

.tab-content-bloc-right {
    border: 0.06rem solid #899CA4;
    width: 640px;
    margin-right: 4rem;
}

.bloc-group-top .inputGroup{
    display: flex;
}

.bloc-group-top .rdo-rajoute{
    margin-left: 4rem;
}

.bloc-group-top .inputGroup label {
    margin-left: -1rem;
} 

.tab-content-bloc-right .form-file{
    margin-left: 2.5rem;
}
.tab-content-bloc-right .custom-file:after{
    right: 40px;
}

.tab-content-bloc-right .form-file > label {
    width: 87%;   
}

.custom-file .file-width{
    width:41% ;
}

.bloc-group-bottom{
    padding-bottom: 1rem;
}

.bloc-group-bottom .col{
    width: 25%;
}
.bloc-group-bottom .rdo-square{
    border-right: 0.06rem solid #4D646D;
    margin-right: 1rem;

}

.bloc-group-bottom .rdo-square::after {
    content: '';
    border-right: 0.06rem solid #4D646D;
    position: relative;
    display: block;
}
.bloc-group-bottom .rdo-square input[type="radio"] + label span {
    margin-right: 0.5rem;
    top: 0.1rem;
    position: relative;
}


.bloc-group-bottom .mini-btn-right{
    margin-top: 0.2rem;
    margin-right: 0.3rem;
}

.btn-statut{
    justify-content: flex-end;
}
.btn-statut .btn-right{
    margin-left: 0.8rem;
}


.bloc-societe-img{
    width: 20%;
    padding-top: 0.1rem;
    text-align: center;
}

.bloc-societe-img img{ 
    width: 4.5rem;
}


.bloc-group-top{
    background: #F6F6F6;
    padding: 0.5rem;
    display: flex;
}

.bloc-group-top p{
    font: 1rem 'Barlow', lighter;
    color: #4D646D;
    margin-right: 3rem;
}

.bloc-group{
    padding: 1rem 0.6rem ;
}

.form-row{
    display: flex;
    padding: 0 0 1rem 0;
}
.color-cyan-linear{
    background: transparent linear-gradient(180deg, #306D7C 0%, #18373E 100%) 0% 0% no-repeat padding-box;
}



.home-setting{

    .setting-display{
        padding: 0;
        .display-btn{
            p{
                font-size: 16px;
                color: #899CA4;
            }
        }
        .display-content {
            display: flex;
            justify-content: flex-end;
            .display-btn {
                display: flex;
                position: relative;
            }
        }
    }

    .content-tags{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .content-tags-bloc{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 20%;
            border: 1px solid #899CA4;
            
            &:nth-child(2n+2){
                background: #F6F6F6 0% 0% no-repeat padding-box;
                .tags-bloc-title{
                    background: #4D646D 0% 0% no-repeat padding-box;
                }
            }
            .tags-bloc-title{
                text-align: center;
                justify-content: center;
                font: rem(17px) 'Barlow', medium;
                color: white;
                padding: 12px 6px;
                background: #899CA4 0% 0% no-repeat padding-box;
            }
            .tags-poster{
                padding: 20px 10px 30px;
                text-align: center;
                height: 100%;
                .container-tags{
                    position: relative;
                    display: block;
                    height: 25px;
                    padding: 3px 14px 3px 19px;
                    // background-color: #EAF1F2 0% 0% no-repeat padding-box;
                    background: #F6F0D5 0% 0% no-repeat padding-box;
                    box-shadow: 0.125rem 0.125rem 0.125rem #00000029;
                    border: 0.0625rem solid #FFFFFF;
                    border-radius: 1.375rem rem(11px)  rem(11px)  1.375rem ;
                    font: rem(14px) 'Barlow', medium;
                    text-align: center;
                    color: #283338;;
                    width: 40%;
                    justify-content: center;
                    display: inline-block;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 4px;
                        top: 3px;
                        width: 15px;
                        height: 15px;
                        background: #e8e4e4 0% 0% no-repeat padding-box;
                        box-shadow: 0.125rem 0.125rem 0.125rem #00000029;
                        border: 0.0625rem solid #FFFFFF;
                        opacity: 1;
                        border-radius: 50%;
                        margin-right: 0.6rem;
                    }
                }
                .delete-tags{
                    position: absolute;
                    top: 4px;
                    right: 88px;
                    background-color: transparent;
                    border: 0;
                    font-size: 16px;
                }
                
            }
            @mixin random-color($selector) {
                #{$selector}: unquote("rgba(#{random(256) - 1}, #{random(256)-1}, #{random(256 - 1)}, #{random(100)/100})");
              }
            .tags-poster-marque{
                .container-tags {
                    background: #EAF1F2 0% 0% no-repeat padding-box;
                }
            }
            .tags-poster-prix{
                .container-tags {
                   
                }
            }
            .tags-poster-exclusif{
                .container-tags {
                    background: #F57171 0% 0% no-repeat padding-box;
                }
            }
            .tags-poster-secondaire{
                .container-tags {
                    background: #F6F6F6 0% 0% no-repeat padding-box;
                    &::before {
                        @include random-color('background-color');
                    }
                }
            }

            .tags-btn-valid{
                padding: 12px;
                text-align: center;
                background: #EBEBEB 0% 0% no-repeat padding-box;
            }
        }
    }

    .container-input {
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-bottom: rem(2px);
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        .container-rdo {
            position: absolute;
            top: -1px;
            left: 30px;
            height: 23px;
            width: 23px;
            background-color:  white;
            border-radius: 3px;
            border: 1px solid #4D646D;
    
            &:after {
                content: "";
                position: absolute;
                display: none;
                top: 1px;
                left: 1px;
                width: 19px;
                height: 19px;
                border-radius: 3px;
                background: #53B3C7;
            }
        }
        &:hover input ~ .container-rdo {
            background-color: #ccc;
        }

        input:checked ~ .container-rdo {
            background-color: white;
        }

        input:checked ~ .container-rdo:after {
            display: block;
        }

        /** sytle css radio tags **/ 

        .container-rdo-tags{
            position: absolute;
            top: 5px;
            left: 30px;
            height: 16px;
            width: 16px;
            background-color:  white;
            border-radius: 3px;
            border: 1px solid #4D646D;
    
            &:after {
                content: "";
                position: absolute;
                display: none;
                top: 1px;
                left: 1px;
                width: 12px;
                height: 12px;
                border-radius: 3px;
                background: #53B3C7;
            }
        }

        &:hover input ~ .container-rdo-tags {
            background-color: #ccc;
        }

        input:checked ~ .container-rdo-tags {
            background-color: white;
        }

        input:checked ~ .container-rdo-tags:after {
            display: block;
        }
    }

    .add-popup {
        position: absolute;
        height: 70%;
        width: 30%;
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #E2E2E2 100%) 0% 0% no-repeat padding-box;
        align-items: center;
        pointer-events: none;
        opacity: 0;
        top: 45%;
        left: 40%;
        z-index:10000;
        transition: all 0.5s cubic-bezier(0.59, -0.17, 0.3, 1.67);
        &.is-open {
            opacity: 1;
            pointer-events: auto;
            .modal {
                transform: translate(0px, 0px);
            }
        }
    }
}


/** cree user **/

#tab-create-user{
    .form-content{
        width: 45%;
        .row{
            .row:first-child{
               padding-right: 2rem;
            }
        }
    }
    .form-content-chkbox{
        .row{
            .form-label{
                width: 15%;
                max-width: 20%;
            }
            .row-chkbox{
                padding-top: 0.5rem;
                .checkbox{
                    margin-right: 1rem;
                }
            }
        }
    }

    .form-content-table{
        display: flex;
        .table-titel{
            font: rem(28px) 'Barlow', medium;
            margin-bottom: 20px;
        }
        .table{
            .table-custome{
                border-radius: 0;
                .container-chkbox{
                    margin-bottom: 0;
                }
                .thead-content{
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border-radius: 0;
                    
                    &::after{
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        border-radius: 0;
                    }
                    th{
                        color: #899CA4;
                        width: 200px;
                        padding: 0.5rem 0.9rem 0.4rem ;
                        &:nth-child(2n+2) {
                            background-color: #F5F5F5;
                            color: #306D7C;
                        }
                    }
                    th:first-child {
                        width: 20%;
                    }
                }
                .tbody-content{
                    background-color: #DDE1E4;
                    height: 500px;
                    display: block;
                    overflow: auto;
                    .container-chkbox{
                    padding-top: 1px;
                        margin-bottom: 0;
                    }
                    tr{
                        td{
                            border-right: 0px;
                            width: 200px;
                        }
                        td:first-child {
                            width: 19%;
                        }
                    }
                    tr:nth-child(2n+2){
                        background-color: #C7D0D4;
                    }
                }
            }
        }

        .content-table-left{
            margin-right: 50px;
            .table{
                width: 640px;
                .thead-content{
                    tr{
                        th:first-child {
                            width: 30%;
                            text-align: left;
                        }
                        th:last-child{
                            width: 100px;
                        }
                    }
                }
                .tbody-content{
                    tr{
                        background: #C1C9CC;
                        td{
                            height: 37px;
                            padding: 0.3rem 0.5rem 0.3rem 0.5rem;
                            &:first-child {
                                padding: 0.3rem 0.5rem 0.3rem 0.9rem;
                                width: 29%;
                            }
                            &:nth-child(2){
                                background: #9BABB2 0% 0% no-repeat padding-box;
                            }
                            &:last-child{
                                width: 113px;
                                text-align: center;
                            }
                        }
                        &:nth-child(2){
                           background-color:  #EFEFEF;
                            td{
                                &:nth-child(2){
                                    background: #C0CCD1 0% 0% no-repeat padding-box;
                                }
                            }
                        }
                    }
                    .btn-display-teach{
                        background: transparent linear-gradient(180deg, #306D7C 0%, #18373E 100%) 0% 0% no-repeat padding-box;
                        border-radius: 6px;
                        border: 0;
                        color: white;
                    }
                }
            }
        }

        .content-table-right{
            .table{
                width: 830px;
                .table-custome{
                    .thead-content{
                        th{
                            text-align: left;
                            &:first-child {
                                width: 15%;
                            }
                            &:nth-child(2){
                                width: 90px;
                            }
                        }
                    }
                    .tbody-content{
                        
                        tr{
                            height: 37px;
                            background-color: #BAC4C9;
                            &:nth-child(2){
                                background-color: #E3E3E3;
                            }
                        }
                        td {
                            &:first-child {
                                padding: 0.3rem 0.5rem 0.3rem 0.9rem;
                                width: 14%;
                            }
                            &:nth-child(2){
                                width: 85px;
                            }
                        }
                    } 
                } 
            }
        }
    }
    .form-content-btn{
        text-align: end;
        margin-top: 30px;
    }
    
}