/*****************************************************  page marque  *****************************************************************/

.tab-content-bloc {
    display: flex;
    padding: 1.5rem 0;
}

.row-flex{
    display: flex;
}

/* == tab-content-bloc-left == */

.tab-content-bloc-left {
    border: 0.06rem solid #899CA4;
    width: 40%;
    margin-right: 4rem;
}

.bloc-societe{
    display: flex;
    width: 100%;
}
.bloc-societe-form{
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    display: inline-block;
    width: 80%;
}
.bloc-societe-form .row{
    padding: 0 0 0.7rem 0;
    display: flex;
}

/* == tab-content-bloc-right == */

.tab-content-bloc-right {
    border: 0.06rem solid #899CA4;
    width: 640px;
    margin-right: 4rem;
}

.bloc-group-top .inputGroup{
    display: flex;
}

.bloc-group-top .rdo-rajoute{
    margin-left: 4rem;
}

.bloc-group-top .inputGroup label {
    margin-left: -1rem;
} 

.tab-content-bloc-right .form-file{
    margin-left: 2.5rem;
}
.tab-content-bloc-right .custom-file:after{
    right: 40px;
}

.tab-content-bloc-right .form-file > label {
    width: 87%;   
}

.custom-file .file-width{
    width:41% ;
}

.bloc-group-bottom{
    padding-bottom: 1rem;
}

.bloc-group-bottom .col{
    width: 25%;
}
.bloc-group-bottom .rdo-square{
    border-right: 0.06rem solid #4D646D;
    margin-right: 1rem;

}

.bloc-group-bottom .rdo-square::after {
    content: '';
    border-right: 0.06rem solid #4D646D;
    position: relative;
    display: block;
}
.bloc-group-bottom .rdo-square input[type="radio"] + label span {
    margin-right: 0.5rem;
    top: 0.1rem;
    position: relative;
}


.bloc-group-bottom .mini-btn-right{
    margin-top: 0.2rem;
    margin-right: 0.3rem;
}

.btn-statut{
    justify-content: flex-end;
}
.btn-statut .btn-right{
    margin-left: 0.8rem;
}


.bloc-societe-img{
    width: 20%;
    padding-top: 0.1rem;
    text-align: center;
}

.bloc-societe-img img{ 
    width: 4.5rem;
}


.bloc-group-top{
    background: #F6F6F6;
    padding: 0.5rem;
    display: flex;
}

.bloc-group-top p{
    font: 1rem 'Barlow', lighter;
    color: #4D646D;
    margin-right: 3rem;
}

.bloc-group{
    padding: 1rem 0.6rem ;
}

.form-row{
    display: flex;
    padding: 0 0 1rem 0;
}
.color-cyan-linear{
    background: transparent linear-gradient(180deg, #306D7C 0%, #18373E 100%) 0% 0% no-repeat padding-box;
}
.content-tags{
    
    .content-tags-bloc{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        border: 1px solid #899CA4;
        
        &:nth-child(2n+2){
            background: #F6F6F6 0% 0% no-repeat padding-box;
            .tags-bloc-title{
                background: #4D646D 0% 0% no-repeat padding-box;
            }
        }
        .tags-bloc-title{
            text-align: center;
            justify-content: center;
            font: rem(17px) 'Barlow', medium;
            color: white;
            padding: 12px 6px;
            background: #899CA4 0% 0% no-repeat padding-box;
        }
        
        @mixin random-color($selector) {
            #{$selector}: unquote("rgba(#{random(256) - 1}, #{random(256)-1}, #{random(256 - 1)}, #{random(100)/100})");
          }
        .tags-poster-marque{
            .container-tags {
                background: #EAF1F2 0% 0% no-repeat padding-box;
            }
        }
        .tags-poster-prix{
            .container-tags {
               
            }
        }
        .tags-poster-exclusif{
            .container-tags {
                background: #F57171 0% 0% no-repeat padding-box;
            }
        }
        .tags-poster-secondaire{
            .container-tags {
                background: #F6F6F6 0% 0% no-repeat padding-box;
                &::before {
                    @include random-color('background-color');
                }
            }
        }

        .tags-btn-valid{
            padding: 12px;
            text-align: center;
            background: #EBEBEB 0% 0% no-repeat padding-box;
        }
    }
}

.main_setting{

    .setting-display{
        padding: 15px 0 0 0;
        &::after{
            display: none;
        }
        .display-btn{
            p{
                font-size: 16px;
                color: #899CA4;
            }
        }
        .display-content {
            display: flex;
            justify-content: flex-end;
            .display-btn {
                display: flex;
                position: relative;
            }
        }
    }

    

    .container-input {
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-bottom: rem(2px);
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        .container-rdo {
            position: absolute;
            top: -1px;
            left: 30px;
            height: 23px;
            width: 23px;
            background-color:  white;
            border-radius: 3px;
            border: 1px solid #4D646D;
    
            &:after {
                content: "";
                position: absolute;
                display: none;
                top: 1px;
                left: 1px;
                width: 19px;
                height: 19px;
                border-radius: 3px;
                background: #53B3C7;
            }
        }
        &:hover input ~ .container-rdo {
            background-color: #ccc;
        }

        input:checked ~ .container-rdo {
            background-color: white;
        }

        input:checked ~ .container-rdo:after {
            display: block;
        }

        /** sytle css radio tags **/ 

        .container-rdo-tags{
            position: absolute;
            top: 5px;
            left: 30px;
            height: 16px;
            width: 16px;
            background-color:  white;
            border-radius: 3px;
            border: 1px solid #4D646D;
    
            &:after {
                content: "";
                position: absolute;
                display: none;
                top: 1px;
                left: 1px;
                width: 12px;
                height: 12px;
                border-radius: 3px;
                background: #53B3C7;
            }
        }

        &:hover input ~ .container-rdo-tags {
            background-color: #ccc;
        }

        input:checked ~ .container-rdo-tags {
            background-color: white;
        }

        input:checked ~ .container-rdo-tags:after {
            display: block;
        }
    }

    .add-popup {
        position: absolute;
        height: 70%;
        width: 30%;
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #E2E2E2 100%) 0% 0% no-repeat padding-box;
        align-items: center;
        pointer-events: none;
        opacity: 0;
        top: 45%;
        left: 40%;
        z-index:10000;
        transition: all 0.5s cubic-bezier(0.59, -0.17, 0.3, 1.67);
        &.is-open {
            opacity: 1;
            pointer-events: auto;
            .modal {
                transform: translate(0px, 0px);
            }
        }
    }
}


/** cree user **/


.tags{
    .content-tags{
        margin-top: 60px;
        width: 1000px;
        height: 460px;
        .tags-poster{
            padding: 20px 10px 30px;
            text-align: center;
            height: 100%;
            .container-tags{
                position: relative;
                display: block;
                height: 25px;
                padding: 3px 14px 3px 19px;
                // background-color: #EAF1F2 0% 0% no-repeat padding-box;
                background: #F6F0D5 0% 0% no-repeat padding-box;
                box-shadow: 0.125rem 0.125rem 0.125rem #00000029;
                border: 0.0625rem solid #FFFFFF;
                border-radius: 1.375rem rem(11px)  rem(11px)  1.375rem ;
                font: rem(14px) 'Barlow', medium;
                text-align: center;
                color: #283338;;
                width: 40%;
                justify-content: center;
                display: inline-block;
                &::before {
                    content: '';
                    position: absolute;
                    left: 4px;
                    top: 3px;
                    width: 15px;
                    height: 15px;
                    background: #e8e4e4 0% 0% no-repeat padding-box;
                    box-shadow: 0.125rem 0.125rem 0.125rem #00000029;
                    border: 0.0625rem solid #FFFFFF;
                    opacity: 1;
                    border-radius: 50%;
                    margin-right: 0.6rem;
                }
            }
            .delete-tags{
                position: absolute;
                top: 4px;
                right: 88px;
                background-color: transparent;
                border: 0;
                font-size: 16px;
            }
            
        }

        .container-tags-desc{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #899CA4;
            border-radius: 9px;
        }
    }
}

.create-criteres{
    .form-content{
        padding: 0;
        .row{
            padding: 15px 25px;
            .input-custome{
                height: 30px;
            }
            .form-label{
                padding-top: 0.3rem;
                color: #283338;
            }
            &:first-child{
                padding: 15px 10px 0px 10px;
                background: #C0CCD1 0% 0% no-repeat padding-box;
                
                .row{
                    &:first-child{
                        width: 30%;
                    }
                    &:last-child{
                        width: 70%;
                        .form-label{
                            width: auto;
                            margin-right: 19px;
                        }
                        .input-custome{
                            // width: 100%;
                        }
                    }
                    
                }
            }
        }
        .row-multiple{
            margin-top: 10px;
            .form-label{
                width: 17%;
            }
            .input-custome{
                width: 250px;
            }
        }
        .content-criteres{
            margin-bottom: 50px;
            .title{
                width: 20%;
                text-align: right;
            }    
            .content-criteres-bloc{
                height: 180px;
                max-height: 250px;
                overflow: auto;
                .row-criteres{    
                    display: flex;
                    padding: 15px 25px;
                    div{
                        display: contents;
                    }
                    .selected{
                        label{
                            width: 125px;
                            display: inline-block;
                            font: 18px 'Barlow';
                            color: #899CA4;
                        }
                    }
                    .input-custome{
                        width: 250px;
                        margin: 0px 40px 0 20px;
                    }
                    .input-custome-desc {
                        width: 100%;
                        height: 30px;
                    }
                    
                }
            }

            .btn-add{
                width: 28.5%;
                text-align: right;
                .btn{
                    width: 250px;
                }
            }

        }
    
        .btn-save{
            background: #E3E3E3 0% 0% no-repeat padding-box;
            padding: 10px;
            text-align: center;
        }

    }
}

// page gestion des crieters
// page management of crieters

.tab-content-criteres{

    .content-criterion{
        margin-top: 40px;
        ul{

            .row-criterion{
                margin-bottom: 20px;
                width: 990px;
                .bloc-criterion-title{
                    padding: 7px 10px;
                    display: flex;
                    background: #A4B4BB 0% 0% no-repeat padding-box;
                    box-shadow: 0px 3px 6px #00000029;
                    border: 1px solid #4D646D;
                    height: 45px;
                    input{
                        margin-right: 20px;
                    }
                    .title{
                        font: rem(21px) 'Barlow', medium;
                        letter-spacing: 0px;
                        color: #FFFFFF;
                        margin-right: 10px;
                        &::after {
                            content: '';
                            border-left: 0.15rem solid #FFFFFF;
                            position: relative;
                            margin: 0.5rem 1rem;
                            height: 1.5rem;
                        }
                    }
                }
            }


        }
        
    }

    // TABLEAU
    .table{
        .table-custome{
            border-radius: 0;
            border: 1px solid #899CA4;
            border-top: 0;
            .thead-info{
                width: 100%;
                background: #E3E3E3 0% 0% no-repeat padding-box;
                border: 0;
                border-bottom: 1px solid #899CA4;
                &::after{
                    display: none;
                }
                th{
                    color: #4D646D;
                    &:first-child{
                        text-align: center;
                        width: 26%;
                    }
                    &:last-child{
                        text-align: left;
                        width: 80%;
                    }
                }
            }
            .tbody-content{
                background: #F6F6F6 0% 0% no-repeat padding-box;
                border: 0;
                margin-bottom:30px;
                padding: 20px 60px ;
                height: 250px;
                tr{
                    &:first-child{
                        text-align: right;
                        span{
                            width: 197px;
                            height: 29px;
                            padding-left: 20px;
                            display: inline-flex;
                            background: #FFFFFF 0% 0% no-repeat padding-box;
                            border: 1px solid #C0CCD1;
                            border-radius: 6px;
                        }
                    }
                    &:nth-child(2n+2){
                        background: #F6F6F6 0% 0% no-repeat padding-box;
                    }
                    &:last-child{
                        margin-bottom: 20px;
                    }
                    td{
                        border: 0;
                        padding: 10px 30px ;
                        .cercle{
                            font: rem(14px) 'Barlow', medium;
                            background: #EAF1F2 0% 0% no-repeat padding-box;
                            box-shadow: 2px 2px 2px #00000029;
                            border-radius: 5px;
                            border: 1px solid #4D646D;
                            padding: 2px 5px;
                            width: 110px;
                            height: 25px;
                            display: inline-flex;
                        }
                        .cercle-desc{
                            // width: 660px;
                            height: 30px;
                            background: #FFFFFF 0% 0% no-repeat padding-box;
                            border: 1px solid #899CA4;
                            border-radius: 9px;
                            padding: 2px 5px;
                        }

                        input{
                            margin-left: 60px;
                        }
                    }
                }

                .tr-custome{
                    td{
                        &:first-child{
                            width: 20%;
                        }
                    }
                }
            } 
        }
    }

}


