.home-site{
    #table{
        .table-site{
            .table-info{
                th:first-child{
                    padding-left: 0.6rem;
                    text-align: left;
                }

            }
            .tbody{
                th:first-child{
                    width: 10%;
                }
                th{
                    width: 20%;
                }
            }
        }
    }
}