.main_criterion{
    .current{
        margin-left: 0;
    }
}

.create-criteres{
    .form-criterion-content{
        width: 100%;
        max-width: 87.5rem;
        margin: 0 auto;
    }
}

.create-criteres{
    .form-content{
        margin: 2rem auto ;
        padding: 0;
        .row{
            padding: 1rem 20px;
            .input-custome{
                height: 30px;
            }
            .form-label{
                padding-top: 0.3rem;
                color: #283338;
                font: 1rem "Barlow";
            }
            &:first-child{
                padding: 1rem 10px 0px 10px;
                
                
                .row{
                    .form-label{
                        width: 38%;
                        margin-right: 19px;
                    }
                    &:first-child{
                        width: 30%;
                    }
                    &:last-child{
                        width: 70%;
                        .form-label{
                            width: auto;
                            margin-right: 19px;
                        }
                    }
                }
            }
            &:nth-child(n+2){
                color: #283338;
                .row{
                    padding: 0;
                    &:first-child{
                        width: 10%;
                        margin-right: 19px;
                    }
                    &:nth-child(2){
                        width: 18%;
                        .input-custome{
                            width: 100%;
                        }
                    }
                    &:last-child{
                        width: 58%;
                        .form-label{
                            text-align: end;
                            margin-right: 20px;
                            width: 26%;
                        }
                        .input-custome{
                            width: 100%;
                        }
                    }

                }
            }
        }
        .row-create{
            background: #C0CCD1 0% 0% no-repeat padding-box;
        }
       
        
    
        .btn-save{
            background: #E3E3E3 0% 0% no-repeat padding-box;
            padding: 10px;
            text-align: center;
        }

    }


    .row-multiple{
        margin-top: 10px;
        .form-label{
            width: 18%;
        }
        .input-custome{
            width: 250px;
        }
    }

    .row-define-criterion{
        background: #E3E3E3 0% 0% no-repeat padding-box;
        display: none;
        opacity: 0;
        -webkit-transition: all 1s ease;  
        -moz-transition: all 1s ease;  
        -o-transition: all 1s ease;  
        -ms-transition: all 1s ease;  
        transition: all 1s ease;
        // position: absolute;
        // top: -40px

        .form-input-basicCriterion{
            padding-top: 0.3rem;
        }
        .container-input {
            
            .container-rdo {
                top: 11px;
                left: 10px;
                height: 14px;
                width: 14px;
                &::after{
                    width: 10px;
                    height: 10px;
                }
            }
        }

    }
    .active{
        display: flex;
        // height: auto;
        // position: relative;
        // top: 0;
        opacity: 1;
    }
}

.create-criteres{
    .content-criteres{
        margin-bottom: 40px;
        .title{
            width:25%;
            text-align: right;
            font: 18px 'Barlow';
            color: #899CA4;
        }    
        .content-criteres-bloc{
            height: 100%;
            max-height: 250px;
            overflow: auto;
            display: block;
            .criterion_list{
                height: 100%;
                max-height: 250px;
                overflow: auto;
                display: block;
            }
            .row-criteres{    
                display: flex;
                padding: 1rem 20px;
                 div{
                    display: contents;
                    
                }
                label{
                    width: 10%;
                    display: inline-block;
                    font: 18px 'Barlow';
                    color: #899CA4;
                }
                .input-custome{
                    width: 250px;
                    height: 1.5625rem;
                    margin: 0 2.5rem 0 1.25rem;
                    border: 0.06rem solid #4D646D;
                }
                .input-custome-desc {
                    width: 650px;
                    max-width: 100%;
                    height: 1.5625rem;
                    padding: 0em 0rem 0rem 1rem;
                    border: 0.06rem solid #899CA4;
                    border-radius: 0.4rem;
                    margin-right: 40px;
                    font: 16px 'Barlow';
                }
                
            }
            .delete-row{
                width: 23px;
                height: 23px;
                background: #BFCCD1;
                padding: 0rem 0rem 0.2rem;
                font-size: 17px;
                border: 0;
            }
        }
        .container-input{
            .container-rdo{
                top: 4px;
                left: 25px;
                height: 16px;
                width: 16px;
                &:after{
                    width: 12px;
                    height: 12px;
                }
            }
        }
    
        .btn-add{
            width: 28.5%;
            text-align: right;
            .btn{
                width: 250px;
                position: relative;
                i{
                    position: absolute;
                    left: 6px;
                    top:3.5px;
                }
            }
        }
    
    }
}


.submit-rating {
	display: flex;
	align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 2rem;
    input{
        display: none;
    }
    .rating-label {
        position: relative;
        text-align: center;
        z-index: 3;
        -webkit-box-flex: 0.34;
        flex: 0.34;
        z-index: 3;
        cursor: pointer;
        transition: 250ms;
        font: 18px "Barlow" ;
        color: #4D646D;
        &.rating-label-non {
            margin-right: 1rem;
        }
        &.rating-label-oui {
            margin-left: 1rem;
        }
        
    }

}

// .rating-label-oui {
// 	left: -28px;	
// 	text-align: right;
// }
// .rating-label-non {
// 	left: 58px;	
// 	text-align: left;
// 	color: #222;
// }

.toggle-rating-pill {
	position: relative;
	height: 26px;
	width: 54px;
	background: #899CA4 0% 0% no-repeat padding-box;
	border-radius: 500px;
	transition: all 250ms;
}

.smile-rating-toggle {
	position: absolute;
	width: 22px;
	height: 22px;
    background-color: white;
    top:2px;
	left: 49px;
	border-radius: 500px;
	transition: all 250ms;
	z-index: 4;
}

#criterions_list_basicCriterionUsed_0:checked~.rating-label-non {
    color: #4D646D;
    font-weight: 700;
}

#criterions_list_basicCriterionUsed_1:checked~.rating-label-oui {
    color: #4D646D;
    font-weight: 700;
}
#criterions_list_basicCriterionUsed_1:checked~.smile-rating-toggle {
    left: 78px;
}

#criterions_list_basicCriterionUsed_1:checked~.toggle-rating-pill {
	background: #53B3C7 0% 0% no-repeat padding-box;
}


.content-criteres-bloc {
    .container-input{
        .container-rdo{
            top: 4px;
            height: 19px;
            width: 19px;
            &:after{
                width: 15px;
                height: 15px;
            }
        }
    }
}
