
.edit-critere{
    .bloc{
        display: flex;
        margin-top: 30px;
    
        .title{
            font:  25px "Barlow";
            color: #4D646D;
            margin-bottom: 15px;
            .title-bold{
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    
        .bloc-produits{
            margin-right: 30px;
            height: 550px;
            .table-produits{
                width: 100% ;
                max-width: 545px;
                .thead-info{
                    th{
                        // padding: 20px 33px 20px 70px;
                        &:nth-child(1){
                            width: 40%;
                            border: 0;
                        }
                        &:nth-child(2){
                            width: 60%;
                            text-align: right;
                            
                        }
                    }
                }
                .tbody{
                    height: 500px;
                    max-height: 500px;
                    display: block;
                    overflow: auto;
                    tr{
                        td{
                            border: 0;
                            &:nth-child(1){
                                width: 40%;
                                img{
                                    width: 171px;
                                    height: 109px;
                                    border: 1px solid #707070;
                                    border-radius: 6px;
                                }
                            }
                            &:nth-child(2){
                                width: 60%;
                                position: relative;
                                vertical-align: middle;
                                input{
                                    position: absolute;
                                    right: 10px;
                                }
                            } 
                        }
                    }
                }
            }
    
            .container-input .container-rdo {
                position: absolute;
                top: -1px;
                left: 83%;
                height: 23px;
                width: 23px;
                background-color: white;
                border-radius: 3px;
                border: 1px solid #4D646D;
            }
        }
    
    
    
        .bloc-media{
            margin-right: 30px;
            .table-media{
                width: 100%;
                max-width: 545px;
                .thead-info{
                    th{
                        &:nth-child(1){
                            width: 40%;
                            border: 0;
                            text-align: left;
                        }
                        &:nth-child(2){
                            width: 60%;
                            text-align: right;
                            
                        }
                    }
                }
                .tbody{
                    height: 500px;
                    max-height: 500px;
                    display: block;
                    overflow: auto;
                    overflow: auto;
                }
            }
        }
    
        .bloc-site{
            .table-site-custome{
                width: 100%;
                max-width: 390px;
                .thead-info{
                    th{
                        &:nth-child(1){
                            width: 40%;
                            border: 0;
                            text-align: left;
                            padding-left: 20px;
                        }
                        &:nth-child(2){
                            width: 60%;
                            text-align: right;
                            
                        }
                    }
                }
                .tbody{
                    height: 500px;
                    max-height: 500px;
                    display: block;
                    overflow: auto;
                    tr{
                        td{
                            padding: 10px 15px;
                            width: 100%;
                            position: relative;
                            input{
                                position: absolute;
                                right: 10px;
                            }
                        }
                        
                    }
                }
            }
        }
    
    
        .table{
            
            .thead-info{
                border: 1px solid #899CA4;
                background: #C0CCD1 0% 0% no-repeat padding-box;
                width: 100%;
                border-radius: 0;
                &::after{
                    display: none;
                }
                th{
                    padding: 15px 0px;
                    // padding: 20px 33px 20px 70px;
                    display: inline-block;
                }
            }
            .tbody{
                border: 1px solid #899CA4;
                border-top: 0;
                height: 350px;
                max-height: 350px;
                display: block;
                overflow: auto;
                tr{
                    &:nth-child(even){
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        border: 0;
                    }
    
                }
    
            }
        }
    }
}
 
