.tab-content {

  .tab_content_body_top{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;

    .tab_content_body_top_item{
      width: 50%;
      display: flex;
      flex-direction: row;
      color: #4F9BAE;

      .tab_content_body_title{
        font-size: 38px;

        &::after{
          content: '';
          border-right: 1px solid #4F9BAE;
          height: 20px;
          margin: auto 20px auto 20px;
        }

      }

      .media_name{
        font-size: 35px;
      }

      &.actions_buttons_container{
        justify-content: flex-end;
        align-items: center;
      }

    }

  }

  .tab_content_body{

    display: flex;
    flex-direction: column;

    .col{
      width: 100%;
      display: flex;
      flex-direction: row;

      &:not(:first-child){
        margin-top: 25px;
      }

      &.top{

        .left_side{

          .media_miniature_container{
            height: 100%;
            width: 100%;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            background-image: repeating-linear-gradient(45deg, black 12%, white 13%);

            .media_container_img, .media_container_video{
              position: relative;

              .media_container_arrows{
                position: absolute;
                right: 10px;
                top:10px;
                height: 31px;
                width: 31px;
                background: #18373E;
                color: #FFF;
                display: flex;
                justify-content: center;
                align-items: center;

                i{
                  cursor: pointer;

                  &:hover{
                    .media_update_btn_container{
                      width: 70%;
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      align-items: center;

                      button{
                        cursor: pointer;
                      }

                    }
                  }

                }

              }

            }

            .media_miniature{
              max-width: 100%;
              max-height: 100%;
              object-fit: contain;
              &.not_found{
                width: 100%;
                height: 100%;
              }
            }
          }

        }

        .right_side{

          .media_validity_container{

            margin-bottom: 5%;

            .container_header{

              .icon_container{

                &.alert_date{
                  background-color: #F57171;
                  color: #FFF;
                }

              }

            }

            .container_body{
              display: flex;
              flex-direction: column;

              &.edit{
                border: 1px solid #C0CCD1;
                border-radius: 6px;
                padding: 2%;

                .container_body_child{
                  margin-bottom: 2%;
                  display: flex;
                  flex-direction: row;

                  .label_container{
                    width: 15%;
                    label{
                      color: #A4B4BB;
                    }
                  }

                  .input_container{
                    width: 85%;
                  }

                }

              }

            }

          }

          .media_incrustations_container{
            .container_header{
              display: flex;
              flex-direction: row;

              .container_header_child{

                &.btn_container{
                  justify-content: flex-end;
                }

              }

            }

            .container_body{
              display: flex;
              flex-direction: column;

              .media_incrustations_list{
                text-align: center;

              }

            }
          }

        }

      }

      &.middle{

        max-height: 305px;

        tbody{
          height: 267px;
          max-height: 267px;
        }

        .left_side{
          display: flex;
          flex-direction: column;

          .container{
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-bottom: 2%;
            height: 64px;


            .container_child:first-child{
              width: 12%;
            }

            .container_child{
              width: 88%;
              align-items: center;
              display: flex;

              &.media_name_container{
                input{
                  width: 100%;
                  height: 38px;
                  border: 1px solid #C0CCD1;
                  border-radius: 9px;
                  font-size: 20px;
                  padding-left: 2%;
                  padding-right: 2%;
                }
              }

            }

            &.associated_data_container{
              border: 1px solid #899CA4;
              border-radius: 6px;

              .container_child:first-child{
                background: #EBEBEB;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .container_child{
                background: #FFF;
                padding-left: 2%;
                padding-right: 2%;
              }
            }

          }

        }

      }

      &.bottom{

      }

      .btn{
        cursor: pointer;
        font-size: 12px;
      }

      .media_update_btn_container{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

      }

      .side{
        margin: 0 15px 0 15px;

        .container_header {
          display: flex;
          flex-direction: row;
          color: #306D7C;
          font-size: 35px;

          .container_header_child{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            &:nth-child(2){
              width: 50%;
              justify-content: center;
            }

            .icon_container {
              border-radius: 6px;
              text-align: center;
              background: #306D7C;
              color: #FFF;
              height: 30px;
              width: 30px;
              font-size: 20px;
              margin-right: 2%;
            }

          }

        }

        table{
          max-width: 100%;
          border: 1px solid #C0CCD1;
          border-radius: 6px;

          thead{
            background: #FFF;
            max-width: 100%;

            th{
              color: #899CA4;
            }

          }

          tbody{
            background: #FFF;
            width: 100%;

            tr{
              background: #FFF;

              &:nth-child(odd){
                background: #EAECED;

                td{
                  border: 1px solid #EAECED;
                }

              }

            }

          }

        }

        &.left_side{
          width: 70%;

        }

        &.right_side{
          width: 30%;
        }

      }

      &.save_media_edit_btn_container{
        justify-content: center;
        align-items: center;
      }

    }

  }

}
