.media-show{
    .display {
        padding-top: 2.5rem;
    }
}

.medias_list_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3% 0 3% 0;
    width: 100%;
    height: 100%;
    max-height: 950px;
    overflow: auto;
    .card_video{
        background-color: #B1C1C8;
    }
    .card_image{
        background-color: #E3E3E3;
    }
    .card{
        width: 285px;
        height: 400px;
        //background: #C0CCD1 0% 0% no-repeat padding-box;
        cursor: pointer;
        padding: 1% 1% 0 1%;
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        margin-bottom: 3%;
        &:nth-child(5+n5){
            margin-right: 0%;
        }

        &:hover{
            //background: #53B3C7 0% 0% no-repeat padding-box;
        }

        &.hidden{
            display: none;
        }

        .card_header{
            position: relative;
            display: flex;
            flex-direction: row;
            height: 5%;
            margin-bottom: 3%;

            .select-media-input-container{
                width: 50%;

            }
            .container-input{
                .container-rdo-tags {
                    top: 1px;
                    left: 0px;
                    height: 24px;
                    width: 24px;
                    &:active{
                        background: #53B3C7 0% 0% no-repeat padding-box;
                    }
                    &::after {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .media_actions_shortcuts_container{
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: absolute;
                right: 0;

                .shortcut{
                    width: 32px;
                    height: 30px;
                    background: #4F9BAE 0% 0% no-repeat padding-box;
                    border: 0.4000000059604645px solid #707070;
                    border-radius: 6px;
                    color: #FFF;
                    text-align: center;
                    padding: 3px 2px;
                    i{
                        font-size: 20px;
                    }
                    &:not(:last-child) {
                        margin-right: 5%;
                    }

                }

                .shortcut_diff_date_modification.alert_date {
                    background-color: #F57171;
                    color: #FFF;
                }

            }

        }

        .card_body{
            height: 95%;
            display: flex;
            flex-direction: column;
            margin-bottom: 5%;

            .media_miniature_container{
                height: 240px;
                width: 100%;
                max-height: 100%;
                opacity: 0.8;
                transition: opacity 1s ;
                .media_miniature{
                    display: block;
                    margin: auto;
                }
                &:hover{
                    opacity: 1;
                    .media_container_arrows {
                        opacity: 1;
                    }
                }

            }

            .media_container_arrows{
                position: absolute;
                background: transparent linear-gradient(180deg, #306D7C 0%, #18373E 100%) 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #00000029;
                border: 0.5px solid #FFFFFF;
                padding: 0px 2px;
                border-radius: 5px;
                opacity: 0.8;
                transition: opacity 1s ;
                i{
                    top: 2px;
                    font-size: 25px;
                    position: relative;
                }
            }
        }
            .media_container_img,
            .media_container_video{
                background: linear-gradient(202deg, #343434 -4%, #4E5E63 10%);
            }

            .media_horizontal{
                margin: auto 0;
                padding: 47px 0px;
                position: relative;
                .media_container_img,
                .media_container_video{
                    width: 255px;
                    height: 145px;
                    border: 4px solid #4D646D;
                }
                .media_miniature{
                    height: 100%;
                    object-fit: cover;
                }

                .media_container_arrows{
                    top: 53px;
                    right: 7px;
                }
            }
            .media_vertical{
                padding: 10px 0px;
                position: relative;
                .media_container_img,
                .media_container_video{
                    width: 130px;
                    height: 220px;
                    margin: auto  ;
                    border: 4px solid #4D646D;
                }
                .media_miniature{
                    width: 100%;
                    height: 100%;
                    object-fit: none;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                .media_container_arrows{
                    right: 70px;
                    top: 17px;
                }
            }

            .media_name_container {
                background-color: #FFF;
                color: #4D646D;
                text-align: center;
                height: 10%;
                margin-bottom: 3%;
                //border: 1px solid #A4B4BB;
                font: 16px "Barlow";
                padding: 5px;
                /*border-radius: 6px;*/
            }

            .media_associated_items_container {
                display: flex;
                flex-direction: column;
                height: 15%;
                margin-bottom: 3%;

                .associated_item{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    p.criterion{
                        width: 50%;
                    }

                    p.tag{
                        width: 50%;
                    }

                }

            }

    }
}

.filter_by_created_date_container{
    .select{
        width: 100%;
        &::before{
            content: "\f054";
            font-family: FontAwesome;
            position: absolute;
            height: 27px;
            width: 26px;
            text-align: center;
            font-size: 18px;
            z-index: 1;
            transform: rotate(90deg);
        }
    }
    #medias_sortable_by_date {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #C0CCD1;
        border-radius: 6px;
        font: 13px "Barlow";
        letter-spacing: -0.13px;
        color: #4D646D;
        padding: 3px;
        position: relative;
        -webkit-appearance: button;
        width: 190px;
    }


}
.displayed_elements_number_selection_container{
    .select{
        width: 100%;
        &::before{
            content: "\f054";
            font-family: FontAwesome;
            position: absolute;
            right: 37px;
            height: 27px;
            width: 26px;
            text-align: center;
            font-size: 18px;
            z-index: 1;
            transform: rotate(90deg);
        }
    }    #displayed_elements_number_selection{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #C0CCD1;
        border-radius: 6px;
        font: 13px "Barlow";
        letter-spacing: -0.13px;
        color: #4D646D;
        padding: 3px;
        position: relative;

    }

}

/** media diffusion **/

.media_infos_diffusion{
    margin-top: 20px;
    display: flex;

    /** header **/
    .container_header{
        display: flex;
        .icon_container{
            position: relative;
            top: 6px;
        }
        .containeer_header_info{
            font: 35px "Barlow";
            color: #306D7C;
        }
    }

    /** Multi select **/
    .dropdown {
        width: 100%;
        .btn-dropdown {
            padding: 0;
            height: auto;
            background-color: transparent;
            border-radius: 0;
            border: 0;
            .multiSel{
                color: black;
                font-weight: bold;
            }
        }
        .logo-icone{
            top:-7px;
        }

        ul {
            background: #FFFFFF;
            color: #4D646D;
            display: none;
            left: -16px;
            padding: 9px 15px 2px 7px;
            position: absolute;
            top: 9px;
            width: 7.8rem;
            max-width: 100%;
            list-style: none;
            height: 8.25rem;
            overflow: auto;
            border: 0.06rem solid #C0CCD1;
            border-top: 0rem;
            z-index: 1;
        }
    }

    .media_infos_diffusion_left{
        margin-right: 50px;
        width: 100%;
        max-width: 1140px;
        .media_infos_diffusion_show{
            height: 300px;
            .menu-list{
                text-align: left;
                padding-left: 0;
                max-width: 1140px;
                width: 100%;
                border-radius: 6px 6px 0px 0px;
                .menu-link{
                    font: 26px "Barlow";
                    color: #4D646D;
                }
                .accordion-toggle{
                    display: flex;
                    background: #899CA4 0% 0% no-repeat padding-box;
                    border-radius: 6px 6px 0px 0px;
                    margin-bottom: 3px;
                    font:rem(26px) 'Barlow', medium;
                    padding: 10px;
                    border: 1px solid #899CA4;
                    letter-spacing: 0;
                    color: white;
                    &:first-of-type {
                        border-top: 0;
                    }
                }

                .accordion-toggle, .accordion-content {
                    cursor: pointer;
                    font-size: 16px;
                    position: relative;
                    letter-spacing: 1px;
                }

                .accordion-content {
                    display: none;
                }

                .accordion-toggle.active-tab {

                }
            }
        }

        .table{
            .table-custome{
                .thead-content{
                    &::after{
                        background: #A4B4BB 0% 0% no-repeat padding-box;
                        border-bottom: 0;
                    }
                    th{
                        color: black;
                        &:nth-child(1){
                            width: 7%;
                        }
                        &:nth-child(3){
                            width: 9%;
                        }
                        &:nth-child(4){
                            width: 5%;
                        }
                    }
                }
                .tbody-content{
                    background-color: #DDE1E4;
                    height: 280px;
                    display: block;
                    overflow: auto;

                    td{
                        text-align: center;
                        border: 0;
                        &:nth-child(1){
                            width: 6.5%;
                        }
                        &:nth-child(3){
                            width: 8%;
                        }
                        &:nth-child(4){
                            width: 5%;
                        }

                    }
                }

            }
        }

    }

    .media_infos_diffusion_right{
        max-width: 20%;
        margin-right: 10px;
        .table{
            .table-custome{
                .thead-content{
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    &::after{
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                    }
                    th{
                        color: black;
                        &:nth-child(1){
                            width: 7%;
                        }
                        &:nth-child(3){
                            text-align: left;
                            width: 9%;
                        }
                        &:nth-child(4){
                            width: 5%;
                        }
                    }
                }
                .tbody-content{
                    background-color: #DDE1E4;
                    height: 240px;
                    display: block;
                    overflow: auto;

                    td{
                        width: 45px;
                        text-align: center;
                        border: 0;
                        &:nth-child(1){
                            width: 6%;
                        }
                        &:nth-child(3){
                            text-align: left;
                            width: 8%;
                        }
                        &:nth-child(4){
                            width: 5%;
                        }
                    }
                }

            }
        }

    }

    .table-custome{
        .thead-info,
        .thead-content {
            background: #A4B4BB 0% 0% no-repeat padding-box;
            th{
                font: 0.8rem 'Barlow', medium;
                color: #FFFFFF;
                padding: 0.5rem 1rem;
                position: relative;
                width: 50px;
                &:first-child{
                    width: 6%;
                }
                span{
                    font: rem(14px) 'Barlow', italic;
                }
            }
        }

        .tbody-content{

            border: 1px solid #4D646D;
            tr:nth-child(2n+2) {
                background-color: #F6F6F6;
            }
            td {

                width: 50px;
                &:first-child{
                    width: 8%;
                }
                input{
                    margin: 0;
                    margin-right: 15px;
                }

            }
        }
    }
}