.medias_list_container {
	display: grid;
	justify-content: center;
	width: 100%;
	padding: 0.5rem;
	margin: 3% auto 0 auto;
	height: 100%;
	max-height: 124rem;
	overflow: auto;
	grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
	.card_video{
		background-color: #B1C1C8;
	}
	.card_image{
		background-color: #E3E3E3;
	}
	.card{
		height: 40rem;
		cursor: pointer;
		padding: 4% 3%;
		display: flex;
		flex-direction: column;
		margin-right: 2rem;
		margin-bottom: 5%;
		&:nth-child(5+n5){
			margin-right: 0%;
		}

		&:hover{
			//background: #53B3C7 0% 0% no-repeat padding-box;
		}

		&.hidden{
			display: none;
		}
		.card_content{
			margin: 0 auto;
			width: 26.5rem;
			max-width: 26.5rem;
		}

		.card_header{
			position: relative;
			display: flex;
			flex-direction: row;
			margin-bottom: 10%;

			.select-media-input-container{
				width: 50%;
			}

			.container-input{
				.container-rdo-tags {
					top: 0.1rem;
					left: 0;
					height: 2.4rem;
					width: 2.4rem;
					&:active{
						background: #53B3C7 0 0 no-repeat padding-box;
					}
					&::after {
						width: 2rem;
						height: 2rem;
					}
				}
			}

			.media_actions_shortcuts_container{
				width: 50%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				position: absolute;
				right: 0;
				.shortcut{
					width: 3.2rem;
					height: 3rem;
					background: #4F9BAE 0 0 no-repeat padding-box;
					border: 0.4000000059604645px solid #707070;
					border-radius: 0.6rem;
					color: #FFF;
					text-align: center;
					padding: 0.4rem 0.2rem;
					i{
						font-size: 2rem;
					}
					&:not(:last-child) {
						margin-right: 5%;
					}
				}
				.shortcut_diff_date_modification.alert_date {
					background-color: #F57171;
					color: #FFF;
				}
			}
		}

		.card_body{
			height: 95%;
			display: flex;
			flex-direction: column;
			margin-bottom: 5%;
			.media_miniature_container{
				height: 24rem;
				width: 100%;
				max-height: 100%;
				opacity: 0.8;
				transition: opacity 1s ;
				.media_miniature{
					display: block;
					margin: auto;
				}
				&:hover{
					opacity: 1;
					.media_container_arrows {
						opacity: 1;
					}
				}
			}

			.media_container_arrows{
				position: absolute;
				background: transparent linear-gradient(180deg, #306D7C 0%, #18373E 100%) 0 0 no-repeat padding-box;
				box-shadow: 0 0.3rem 0.6rem #00000029;
				border: 0.05rem solid #FFFFFF;
				padding: 0 0.2rem;
				border-radius: 0.5rem;
				opacity: 0.8;
				transition: opacity 1s ;
				i{
					top: 0.2rem;
					font-size: 2.5rem;
					position: relative;
				}
			}
		}

		.media_container_img,
		.media_container_video{
			background: linear-gradient(202deg, #343434 -4%, #4E5E63 10%);
		}

		.media_horizontal{
			margin: auto 0;
			padding: 4.7rem 0;
			position: relative;
			.media_container_img,
			.media_container_video{
				width: 25.5rem;
				height: 14.5rem;
				border: 0.4rem solid #4D646D;
			}
			.media_miniature{
				height: 100%;
				object-fit: cover;
			}
			.media_container_arrows{
				top: 5.3rem;
				right: 0.7rem;
			}
		}

		.media_Vertical{
			padding: 1rem 0;
			position: relative;
			.media_container_img,
			.media_container_video{
				width: 13rem;
				height: 22rem;
				margin: auto  ;
				border: 0.4rem solid #4D646D;
			}
			.media_miniature{
				width: 100%;
				height: 100%;
				object-fit: none;
				margin-top: auto;
				margin-bottom: auto;
			}
			.media_container_arrows{
				right: 7.5rem;
				top: 1.5rem;
			}
		}

		.media_name_container {
			background-color: #FFF;
			color: #4D646D;
			text-align: center;
			height: 10%;
			margin-bottom: 3%;
			font: 1.6rem "Barlow";
			padding: 0.5rem;
			.media_name{
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap
			}
		}

		.media_associated_items_container {
			display: flex;
			flex-direction: column;
			height: 15%;
			margin-bottom: 3%;
			.associated_item{
				width: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				p.criterion{
					width: 50%;
				}
				p.tag{
					width: 50%;
				}
			}
		}
	}
}