@import "media_list";
@import "media_synchro";
@import "media_thematic";


.media-show{
	font-family: "Barlow", serif;
    .display{
        margin-top: 3rem;
    }
    .display-content-poste{
        .drop-btn{
            border: 0.1rem solid #C0CCD1;
            font: 1.6rem "Barlow";
        }
        .drop-width{
            width: 0.8rem;
        }
    }
}

.filter_by_created_date_container{
    .select{
        width: 100%;
        &::before{
            content: "\f054";
            font-family:FontAwesome, serif ;
            position: absolute;
            height: 2.7rem;
            width: 2.6rem;
            text-align: center;
            font-size: 1.8rem;
            z-index: 1;
            transform: rotate(90deg);
        }
    }
    #medias_sortable_by_date {
        background: #FFFFFF 0 0 no-repeat padding-box;
        border: 0.1rem solid #C0CCD1;
        border-radius: 0.6rem;
        font-size: 1.3rem;
        letter-spacing: -0.13px;
        color: #4D646D;
        padding: 0.3rem;
        position: relative;
        -webkit-appearance: button;
        width: 19rem;
    }
}

.displayed_elements_number_selection_container{
    .select{
        width: 100%;
        &::before{
            content: "\f054";
			font-family:FontAwesome, serif ;
            position: absolute;
            right: 3.7rem;
            height: 2.7rem;
            width: 2.6rem;
            text-align: center;
            font-size: 1.8rem;
            z-index: 1;
            transform: rotate(90deg);
        }
    }
    #displayed_elements_number_selection{
        background: #FFFFFF 0 0 no-repeat padding-box;
        border: 0.1rem solid #C0CCD1;
        border-radius: 0.6rem;
        font-size: 1.3rem ;
        letter-spacing: -0.13px;
        color: #4D646D;
        padding: 0.3rem;
        position: relative;
    }
}

/** media diffusion **/

.media_infos_diffusion{
    margin-top: 2rem;
    display: flex;

    /** header **/
    .container_header{
        display: flex;
        .icon_container{
            position: relative;
            top: 0.6rem;
        }
        .containeer_header_info{
            font: 0.3rem "Barlow";
            color: #306D7C;
        }
    }

    /** Multi select **/
    .dropdown {
        width: 100%;
        .btn-dropdown {
            padding: 0;
            height: auto;
            background-color: transparent;
            border-radius: 0;
            border: 0;
            .multiSel{
                color: black;
                font-weight: bold;
            }
        }
        .logo-icone{
            top: -0.7rem;
        }

        ul {
            background: #FFFFFF;
            color: #4D646D;
            display: none;
            left: -1.6rem;
            padding: 0.9rem 1.5rem 0.2rem 0.7rem;
            position: absolute;
            top: 0.9rem;
            width: 7.8rem;
            max-width: 100%;
            list-style: none;
            height: 8.25rem;
            overflow: auto;
            border: 0.06rem solid #C0CCD1;
            border-top: 0;
            z-index: 1;
        }
    }

    .media_infos_diffusion_left{
        margin-right: 5rem;
        width: 100%;
        max-width: 114rem;
        .media_infos_diffusion_show{
            height: 30rem;
            .menu-list{
                text-align: left;
                padding-left: 0;
                max-width: 114rem;
                width: 100%;
                border-radius: 0.6rem 0.6rem 0 0;
                .menu-link{
                    font-size: 2.6rem ;
                    color: #4D646D;
                }
                .accordion-toggle{
                    display: flex;
                    background: #899CA4 0 0 no-repeat padding-box;
                    border-radius: 0.6rem 0.6rem 0 0;
                    margin-bottom: 0.3rem;
                    font-size:2.6rem ;
                    padding: 1rem;
                    border: 0.1rem solid #899CA4;
                    letter-spacing: 0;
                    color: white;
                    &:first-of-type {
                        border-top: 0;
                    }
                }

                .accordion-toggle, .accordion-content {
                    cursor: pointer;
                    font-size: 1.6rem;
                    position: relative;
                    letter-spacing: 0.1rem;
                }

                .accordion-content {
                    display: none;
                }

                .accordion-toggle.active-tab {
                }
            }
        }

        .table{
            .table-custome{
                .thead-content{
                    &::after{
                        background: #A4B4BB 0 0 no-repeat padding-box;
                        border-bottom: 0;
                    }
                    th{
                        color: black;
                        &:nth-child(1){
                            width: 7%;
                        }
                        &:nth-child(3){
                            width: 9%;
                        }
                        &:nth-child(4){
                            width: 5%;
                        }
                    }
                }
                .tbody-content{
                    background-color: #DDE1E4;
                    height: 28rem;
                    display: block;
                    overflow: auto;
                    td{
                        text-align: center;
                        border: 0;
                        &:nth-child(1){
                            width: 6.5%;
                        }
                        &:nth-child(3){
                            width: 8%;
                        }
                        &:nth-child(4){
                            width: 5%;
                        }
                    }
                }
            }
        }
    }

    .media_infos_diffusion_right{
        max-width: 20%;
        margin-right: 1rem;
        .table{
            .table-custome{
                .thead-content{
                    background: #FFFFFF 0 0 no-repeat padding-box;
                    &::after{
                        background: #FFFFFF 0 0 no-repeat padding-box;
                    }
                    th{
                        color: black;
                        &:nth-child(1){
                            width: 7%;
                        }
                        &:nth-child(3){
                            text-align: left;
                            width: 9%;
                        }
                        &:nth-child(4){
                            width: 5%;
                        }
                    }
                }
                .tbody-content{
                    background-color: #DDE1E4;
                    height: 24rem;
                    display: block;
                    overflow: auto;
                    td{
                        width: 4.5rem;
                        text-align: center;
                        border: 0;
                        &:nth-child(1){
                            width: 6%;
                        }
                        &:nth-child(3){
                            text-align: left;
                            width: 8%;
                        }
                        &:nth-child(4){
                            width: 5%;
                        }
                    }
                }
            }
        }
    }

    .table-custome{
        .thead-info,
        .thead-content {
            background: #A4B4BB 0 0 no-repeat padding-box;
            th{
                font: 0.8rem 'Barlow', medium;
                color: #FFFFFF;
                padding: 0.5rem 1rem;
                position: relative;
                width: 5rem;
                &:first-child{
                    width: 6%;
                }
                span{
                    font: 1.4rem 'Barlow';
                }
            }
        }

        .tbody-content{
            border: 1px solid #4D646D;
            tr:nth-child(2n+2) {
                background-color: #F6F6F6;
            }
            td {
                width: 5rem;
                &:first-child{
                    width: 8%;
                }
                input{
                    margin:0 1.5rem 0 0;
                }
            }
        }
    }
}

/* media filter categories */

.filters_by_associated_data_item{
    .display-content-down{
        .product-select-col{
            display: flex;
            label{
                font-size: 1.5rem;
                margin-left: 0.5rem;
            }
        }
        .container-input{
            .container-rdo {
                position: relative;
                display: block;
                height: 1.5rem;
                width: 1.5rem;
                left: 0;
                top: 0.5rem;
                &:after {
                    width: 1.1rem;
                    height: 1.1rem;
                    border-radius: 0.3rem;
                    background: #53B3C7;
                }
            }
        }
    }
}


.media-show_container{
    margin-top: 4rem;
    margin-bottom: 4rem;



	.filters_by_associated_data_container{
		.filter_by_categories_container,
        .filter_by_products_container{
			.drop-btn {
				width: 14rem;
				.drop-btn-icone {
					width: 2rem;
					height: 2rem;
					background: #A4B4BB 0 0 no-repeat padding-box;
					border-radius: 0.3rem;
					color: #E3E3E3;
					text-align: center;
					font-size: 1.8rem;
					right: 0.3rem;
					top: 0.2rem;
					position: absolute;
				}
			}
		}

        .filter_by_criterions_container{
            margin-left: 2rem;
            position: relative;
            top: -0.4rem;
            .display-content-poste{
                .display-content-down{
                    left: -2rem;
                }
                .drop-btn{
                    width: 12rem;
                    .drop-btn-icone{
                        color: #A4B4BB;
                        background-color: transparent;
                    }
                }
            }
            .container-input{
                .container-rdo{
                    top: 0.5rem;
                    left: -2rem;
                    height: 1.5rem;
                    width: 1.5rem;
                    &:after {
                        width: 1.1rem;
                        height: 1.1rem;
                    }
                }
            }
            .filter_by_criterions{
                .container-input{
                    .container-rdo{
                        left: 0;

                    }
                }
            }
        }

        .filter_by_tags_container{
            margin-left: 2rem;
            position: relative;
            top: -0.4rem;
            .display-content-poste{
                .display-content-down{
                    left: -2rem;
                }
                .drop-btn{
                    width: 12rem;
                    .drop-btn-icone{
                        color: #A4B4BB;
                        background-color: transparent;
                    }
                }
            }
            .container-input{
                .container-rdo{
                    top: 0.5rem;
                    left: -2rem;
                    height: 1.5rem;
                    width: 1.5rem;
                    &:after {
                        width: 1.1rem;
                        height: 1.1rem;
                    }
                }
            }
            .display-content-down{
                .container-input{
                    .container-rdo{
                        left: -1rem;
                    }
                }
            }
        }
	}

    .left_filter_container .filters_by_associated_data_container .filter_by_criterions_container .display-content-poste .drop-btn {
        width: 12rem;
    }

}