.association_popup {

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -12%;
  z-index: 30;

  .popup_body, .popup_footer{
    background-color: #F6F6F6;
    width: 100%;
  }

  &.popup_associate_product{

  }

  &.popup_associate_tag{

  }

}

.associate_product-popup {

  height: 785px;
  width: 1600px;

  .modal {

    .modal-body {

      .body-top {
        display: flex;
        flex-direction: row;
        padding: 2%;

        .filter-left {
          width: 80%;
          text-align: left;
        }

        .filter-right {
          width: 20%;
          text-align: right;
        }

      }

      .body-middle {
        display: flex;
        flex-direction: row;
        padding: 2%;

        table {
          width: 100%;

          thead {
            background: #899CA4 0% 0% no-repeat padding-box;
            border: 1px solid #899CA4;
            color: #FFF;
          }

          tbody {
            color: #000;

            tr {

              td {
                &:first-child {
                  text-align: center;
                }
              }

              text-align: left;
            }
          }
        }

        .product-choice-list-container {
          width: 80%;
        }

        .product-associated-list-container {
          width: 20%;
          padding-left: 2%;

          table {

            tbody {

              tr {
                .remove-item {
                  cursor: pointer;
                }
              }

            }

          }
        }

      }

      .body-bottom {

      }

    }

  }
}

.associate_tag-popup {
  height: 105%;
  width: 30%;
  margin-top: -5%;
  left: 35%;

  .modal {

    .modal-header {

      .modal-title-container {
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .close-modal-container {
        height: 100%;
        width: 3%;
        text-align: right;
        display: flex;
        justify-content: center;
        align-items: center;

        .close {
          background: #F57171 0% 0% no-repeat padding-box;
          cursor: pointer;
        }
      }
    }

    .modal-body {
      height: 100%;
      width: 100%;
      color: #000;

      .tags-list-container {
        padding: 5%;
      }
    }

  }
}