{% extends 'base.html.twig' %}

{% block title %}Edit CriterionList{% endblock %}

{% block body %}
    <h1>Edit CriterionList</h1>

    {{ include('criterion_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('criterion_list_index') }}">back to list</a>

    {{ include('criterion_list/_delete_form.html.twig') }}
{% endblock %}
