{% extends 'base.html.twig' %}

{% block title %}New CriterionList{% endblock %}

{% block body %}
    <h1>Create new CriterionList</h1>

    {{ include('criterion_list/_form.html.twig') }}

    <a href="{{ path('criterion_list_index') }}">back to list</a>
{% endblock %}