{#{% form_theme uploadMediaForm 'popups/upload/__form_theme/__form_theme.twig' %}#}

<section class="popup_container popup_upload_container is_open">

    <article class="popup popup_upload">

        <div class="popup_header">

            <div class="popup_header_child">
                <div class="item icon-container">
                    <i class="icon icon-picto-mediathque"></i>
                </div>

                <div class="item title_container">
                    <p class="title">Upload</p>
                </div>

            </div>

            <div class="popup_header_child upload_step_title_container">
                <p class="upload_step_title">Préparation de l'upload</p>
            </div>

            <div class="popup_header_child">

                <div class="item close_popup_button_container">
                    <button type="button" class="close_modal_button">X</button>
                </div>

            </div>

        </div>

        <div class="popup_body">

            <div class="popup_body_child container step step_1 current_step" data-step="1">

                <div class="container_header">

                    <div class="container_header_body_child drag_n_drop_container">
                        <span>Déposer votre ou vos fichiers ici</span>
                        <img src="{{ asset('/build/images/download_icon.png') }}" alt="download icon">
                    </div>

                    <div class="container_header_body_child file_selection_button_container">
                        <div class="default_upload_input_container">
                            <input type="file" id="upload_media" class="upload_btn default_upload_input" name="upload_media" multiple>
                        </div>

                        <div class="custom_upload_input_container">
                            <button type="button" class="btn custom_upload_input">Sélectionner vos fichiers</button>
                        </div>

                    </div>

                </div>

                <div class="container_body">

                    <table>

                        <thead>
                            <tr>
                                <th>Liste de médias déposés</th>
                                <th class="pre_upload_error"></th>
                                <th>Fichier accepté</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody class="file_to_upload_list">

                        </tbody>

                    </table>

                </div>

            </div>

            {% if media_displayed is defined and media_displayed is not same as('element_graphic') %}

                {% include "popup_layout/upload_element_graphic_layout/upload_element_graphic_layout.html.twig" %}

            {% elseif media_displayed is defined and media_displayed is not same as('medias') %}

                {% include "popup_layout/upload_media_diff_layout/upload_media_diff_layout.html.twig" %}

            {% elseif media_displayed is defined and media_displayed is not same as('video_synchro') %}

                {% include "popup_layout/upload_video_synchro_layout/upload_video_synchro_layout.html.twig" %}

            {% elseif media_displayed is defined and media_displayed is not same as('video_thematic') %}

                {% include "popup_layout/upload_video_thematic_layout/upload_video_thematic_layout.html.twig" %}

            {% endif %}

        </div>

        <div class="popup_footer">

            <div class="actions_buttons_container">
                <button class="btn close_modal_button cancel" type="button">Annuler</button>
            </div>

            <div class="actions_buttons_container">
                <button class="btn start_upload_btn" type="button" disabled><i class="fas fa-arrow-right"></i> Démarrer l'upload</button>
            </div>

        </div>

    </article>

</section>