{#{% form_theme uploadMediaForm 'popups/upload/__form_theme/__form_theme.twig' %}#}

<section class="popup_container popup_upload_container is_open">

    <article class="popup popup_upload">

        <div class="popup_header">

            <div class="popup_header_child">
                <div class="item icon-container">
                    <svg id="icone_upload" data-name="icone upload" xmlns="http://www.w3.org/2000/svg" width="31.548" height="31.548" viewBox="0 0 31.548 31.548">
                        <path id="ic_move_to_inbox_24px" d="M31.043,3H6.488a3.475,3.475,0,0,0-3.47,3.505L3,31.043a3.489,3.489,0,0,0,3.488,3.505H31.043a3.516,3.516,0,0,0,3.505-3.505V6.505A3.516,3.516,0,0,0,31.043,3Zm0,21.032H24.032a5.258,5.258,0,1,1-10.516,0H6.488V6.505H31.043Zm-5.258-8.763H22.279V10.011H15.269v5.258H11.763l7.011,7.011Z" transform="translate(-3 -3)" fill="#fff"/>
                    </svg>

                </div>

                <div class="item title_container">
                    <p class="title">Upload</p>
                </div>

            </div>

            <div class="popup_header_child upload_step_title_container">
                <p class="upload_step_title">Préparation de l'upload</p>
            </div>

            <div class="popup_header_child">

                <div class="item close_popup_button_container">
                    <button type="button" class="close_modal_button">X</button>
                </div>

            </div>

        </div>

        <div class="popup_body">

            <div class="popup_body_child container step step_1 current_step" data-step="1">

                <div class="container_header">

                    <div class="container_header_body_child drag_n_drop_container">
                        <span class="drop-title" >Déposer votre ou vos fichiers ici</span>
                        {#<img src="{{ asset('/build/images/download.svg') }}" alt="download icon">#}
                        {#<i class="fas fa-download"></i>#}
                        <svg id="icone_upload" data-name="icone upload" xmlns="http://www.w3.org/2000/svg" width="8rem" height="8rem" viewBox="0 0 31.548 31.548">
                            <path id="ic_move_to_inbox_24px" d="M31.043,3H6.488a3.475,3.475,0,0,0-3.47,3.505L3,31.043a3.489,3.489,0,0,0,3.488,3.505H31.043a3.516,3.516,0,0,0,3.505-3.505V6.505A3.516,3.516,0,0,0,31.043,3Zm0,21.032H24.032a5.258,5.258,0,1,1-10.516,0H6.488V6.505H31.043Zm-5.258-8.763H22.279V10.011H15.269v5.258H11.763l7.011,7.011Z" transform="translate(-3 -3)" fill="#7FA0AC"/>
                        </svg>

                    </div>

                    <div class="container_header_body_child file_selection_button_container">
                        <div class="default_upload_input_container">
                            <input type="file" id="upload_media" class="upload_btn default_upload_input" name="upload_media" multiple>
                        </div>

                        <div class="custom_upload_input_container">
                            <button type="button" class="btn custom_upload_input"><i class="far fa-folder"></i> Sélectionner vos fichiers</button>
                        </div>

                    </div>

                </div>

                <div class="container_body">

                    <table>

                        <thead>
                            <tr>
                                <th>Liste de médias déposés : </th>
                                <th class="pre_upload_error"></th>
                                <th>Fichier accepté</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody class="file_to_upload_list">

                        </tbody>

                    </table>

                </div>

            </div>

            <div class="popup_body_child container step step_2" data-step="2">

                <form id="medias_list_form" name="medias_list">

                    <table>
                        <thead>
                            <tr>
                                {% if media_displayed is defined and media_displayed is same as('medias') %}
                                    <th>Fichier</th>
                                    <th>Téléchargement</th>
                                    <th>Médias</th>
                                    <th>Caractéristiques</th>
                                    <th>Nom</th>
                                    <th>Date de diffusion</th>
                                    <th>Critères</th>
                                    <th>Associer Tags</th>
                                    <th>Associer Produits</th>
                                    <th>Incrustations</th>
                                {% else %}
                                    <th>Fichier</th>
                                    <th>Téléchargement</th>
                                    <th>Médias</th>
                                    <th>Nom</th>
                                {% endif %}
                            </tr>
                        </thead>

                        {#{{ form_start(uploadMediaForm) }}
                        <tbody class="file_to_characterisation_list medias_collection">
                        {{ form_row(uploadMediaForm) }}
                        </tbody>
                        {{ form_end(uploadMediaForm) }}#}

                            <tbody class="file_to_characterisation_list medias_collection">

                            </tbody>

                    </table>

                </form>

            </div>

            <div class="popup_body_child container step step_3" data-step="3">

                <table>
                    <thead>
                        <tr>
                            <th>Médias</th>
                            <th>Nom</th>
                            <th>Critères</th>
                            <th>Tags affectés</th>
                            <th>Produits associés</th>
                            <th>Prix et Rupture</th>
                        </tr>
                    </thead>

                    <tbody class="media_characterisation_resume_list">

                    </tbody>
                </table>

            </div>

        </div>

        <div class="popup_footer">

            <div class="actions_buttons_container">
                <button class="btn close_modal_button_container cancel " type="button">Annuler</button>
            </div>

            <div class="actions_buttons_container">
                <button class="btn start_upload_btn" type="button" disabled><i class="fas fa-long-arrow-alt-right"></i> Démarrer l'Upload</button>
            </div>

        </div>

    </article>

</section>