{% extends 'base.html.twig' %}

{% block title "Configuration" %}

{% block main %}
    <main class="main">

        <section class="jumbotron">
            <article class="page__title">
                <div class="page__title--img">
                    <img src="{{ 'build/images/home_blanc.png' }}" alt="home">
                </div>
                <h1>Produits / Prix</h1>
            </article>
            <article class="search__form">
                <form action="" method="get">
                    <input type="text" name="query" placeholder="Rechercher un élément...">
                    <button><img src="{{ asset('build/images/search_icon.png') }}" class="search_icon" alt="search icon"></button>
                </form>
            </article>
        </section>

        <section id="wrapper">
            <article class="content">
                <ul class="tabs">
                    <li class="tablinks active current" data-tab="products" data-tab-text="products"> <p class="css-tab__label">Produits / prix</p> </li>
                    <li class="tablinks " data-tab="categories" data-tab-text="Catégories"> <p class="css-tab__label">Catégories</p> </li>
                    <li class="tablinks " data-tab="price" data-tab-text="Groupe de Prix"> <p class="css-tab__label">Groupe de Prix</p> </li>
                    <li class="tablinks creer" data-tab="create-date" data-tab-text="Créer DATE"> <p class="css-tab__label">Créer DATE</p> </li>
                </ul>
            </article>
        </section>

        <section id="wrapper_tabcontent">

            <article id="products" class="tab-content current">
                {% include 'products/products_price.html.twig' %} 
            </article>
                
            <article id="categories" class="tab-content create-brand tab-create">
                 {% include 'products/products_price.html.twig' %}
            </article>

            <article id="price" class="tab-content  tab-create">
            </article>

            <article id="create-date" class="tab-content  tab-create">
            </article>
            
        </section>        

    </main>
{% endblock %}