.content-allergens{
    //.content-allergens-show{
    //    margin-top: 30px;
    //    display: flex;
    //    .content-allergens-show-left{
    //        width: 100%;
    //        max-width: 1000px;
    //    }
    //    .content-allergens-show-right{
    //        width: 100%;
    //        max-width: 530px;
    //    }
    //}
}

.allergenes{
    .content-table{
        margin-top: 40px;

    }

    .table-allergenes{
        .table-custome{
            width: 80%;
            max-width: 100%;
        }

    }
}


.categories{
    .content-table{
        margin-top: 40px;
    }
    .table-categories{
        .table-custome{
            width: 80%;
            max-width: 100%;
        }
    }
}

.image-td{
    height: 30px;
    width: 30px;
}