<section class="popup_container popup_delete_medias_container">

    <article class="popup popup_delete_medias">
        <div class="popup_header">

            <div class="left_side popup_header_item">
                <div class="item icon-container">
                    <i class="fas fa-trash icon"></i>
                </div>

                <div class="item title_container">
                    <p class="title">Suppression de média(s)</p>
                </div>

            </div>

            <div class="right_side popup_header_item">

                <div class="item close_popup_button_container">
                    <button type="button" class="close_modal_button">X</button>
                </div>

            </div>

        </div>

        <div class="popup_body">

            <div class="popup_body_item container">
                <div class="container_header">
                    <p>Etes-vous sûr de vouloir supprimer le ou les media(s) sélectionné(s) ?</p>
                </div>

                <div class="container_body media_to_delete_list_container">
                    <ul class="media_to_delete_list"></ul>
                </div>

            </div>

        </div>

        <div class="popup_footer">

            <div class="actions_buttons_container">
                <button class="btn close_modal_button" type="button">Annuler</button>
            </div>

            <div class="actions_buttons_container">
                <button type="button" class="btn media_deleting_confirmation_btn">Valider</button>
            </div>

        </div>

    </article>

</section>