<div class="popup_body_child container step step_2" data-step="2">

    <form id="medias_list_form" name="medias_list">

        <table>
            <thead>
            <tr>
                <th>Fichier</th>
                <th>Téléchargement</th>
                <th>Médias</th>
                <th>Caractéristiques</th>
                <th>Nom</th>
                <th>Date de diffusion</th>
                <th>Critères</th>
                <th>Associer Tags</th>
                <th>Associer Produits</th>
            </tr>
            </thead>

            {#{{ form_start(uploadMediaForm) }}
            <tbody class="file_to_characterisation_list medias_collection">
            {{ form_row(uploadMediaForm) }}
            </tbody>
            {{ form_end(uploadMediaForm) }}#}

            <tbody class="file_to_characterisation_list medias_collection">

            </tbody>

        </table>

    </form>

</div>

<div class="popup_body_child container step step_3" data-step="3">

    <div class="synchro_name_container">
        <label for="synchro_name"></label>
        <input type="text" id="synchro_name" class="synchro_name">
        <button type="button" class="synchro_action_button"><i class="fas fa-play"></i></button>
    </div>

    <div class="synchro_elements_container">

        <div class="synchro_element">

            <div class="synchro_element_preview_container">

            </div>

            <div class="synchro_element_name_container">
                <input type="text" class="synchro_element_name">
            </div>

            <div class="synchro_element_position_container">
                <input type="text" class="synchro_element_position">
            </div>

        </div>

    </div>

    <div class="synchro_associated_data_container">

        <div class="synchro_criterions_container">

        </div>

        <div class="synchro_tags_container">

        </div>

        <div class="synchro_products_container">

        </div>

    </div>

</div>