<section class="popup_container popup_media_info_sheet_container" id="popup_media_info_sheet_container">

    <article class="popup popup_media_info_sheet">
        <div class="popup_header">
            <div class="left_side popup_header_item">
                <div class="item title_container">
                    <p class="title">Infos</p>
                </div>
            </div>

            <div class="right_side popup_header_item">
                <div class="item close_popup_button_container">
                    <button type="button" class="close_modal_button">X</button>
                </div>
            </div>

        </div>

        <div class="popup_body">
            <div class="media_infos_container popup_body_item">

                <div class="media_infos_top_item_top media_infos_top_item">
                    <span class="media_type"></span>
                    <span class="media_title"></span>
                </div>

                {% include "/media/show_media.html.twig" %}

                {#<div class="media_infos_top media_infos_item">

                    <div class="media_infos_top_item_top media_infos_top_item">
                        <span class="media_type"></span>
                        <span class="media_title"></span>
                    </div>

                    <div class="media_infos_top_item_bottom media_infos_top_item">

                        <div class="left_side side">
                            <div class="media_miniature_container"></div>
                        </div>

                        <div class="right_side side">

                            <div class="media_validity_container">
                                <div class="container_header">
                                    <div class="icon_container">
                                        <i class="far fa-clock"></i>
                                    </div>
                                    <span>Date de validité</span>
                                </div>

                                <div class="container_body">
                                    <span class="media_diff_start"></span> au <span class="media_diff_end"></span>
                                </div>
                            </div>

                            <div class="container media_incrustations_container">

                                <div class="container_header">
                                    <div class="icon_container">
                                        <i class="fas fa-euro-sign"></i>
                                    </div>
                                    <span class="container_header_title">Incrustations</span>
                                </div>

                                <div class="container_body">

                                    <table class="container_table_media">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Prix</th>
                                                <th>Rupture</th>
                                                <th>Texte</th>
                                            </tr>
                                        </thead>

                                        <tbody class="media_incrustations_list">

                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="media_infos_bottom media_infos_item">
                    <div class="side left_side">

                        <div class="container">
                            <div class="container_child">
                                <span class="container_child_title">Nom du produit :</span>
                            </div>
                            <div class="container_child media_name_container">
                                <span class="media_name"></span>
                            </div>
                        </div>

                        <div class="container media_characteristics_container">
                            <div class="container_child">
                                <span class="container_child_title">Caractéristiques :</span>
                            </div>
                            <div class="container_child">
                                <p class="media_characteristics"></p>
                            </div>
                        </div>

                        <div class="container associated_data_container">
                            <div class="container_child">
                                <span class="container_child_criteres"> Critères</span>
                            </div>
                            <div class="container_child media_criterions_container"></div>
                        </div>

                        <div class="container associated_data_container">
                            <div class="container_child">
                                <p class="container_child_tags btn_tags" >
                                    <span class="mini-cercle"><i class="fas fa-plus"></i></span>TAGS</p>
                            </div>
                            <div class="container_child media_tags_container"></div>
                        </div>

                        <div class="container associated_data_container">
                            <div class="container_child">
                                <span class="container_child_allergenes">Allergènes</span>
                            </div>
                            <div class="container_child media_allergens_container"></div>
                        </div>

                        <div class="container media_diffusion_spaces_container">
                            <div class="container_header">
                                <div class="icon_container">
                                    <i class="fas fa-spinner"></i>
                                </div>
                                <span class="containeer_header_info" >En diffusion sur : </span>
                                <i class="arrow fas fa-caret-up"></i>
                            </div>
                            <div class="container_body"></div>
                        </div>
                    </div>

                    <div class="side right_side">
                        <div class="media_products_associated_container">
                            <div class="container_header">
                                <div class="icon_container">
                                    <i class="icon fas fa-link"></i>
                                </div>
                                <span class="container_header_title">Produits associés</span>
                            </div>
                            <div class="container_body">
                                <table class="media_products_list"></table>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="media_infos_diffusion ">

                    <div class="media_infos_diffusion_left ">

                        <div class="container_header">
                            <div class="icon_container">
                                <i class="fas fa-spinner"></i>
                            </div>
                            <span class="containeer_header_info" >En diffusion sur </span>
                        </div>

                        <div class="media_infos_diffusion_show">

                            <ul class="menu-list accordion">

                                <li id="nav1" class="toggle accordion-toggle">
                                    <div class="icon_container">
                                        <i class="fas fa-spinner"></i>
                                    </div>
                                    <a class="menu-link">Menuboard</a>
                                </li>

                                <ul class="menu-submenu accordion-content">
                                    <div class="table">
                                        <table class="table-custome" >
                                            <thead  class="table-info thead-content">
                                            <tr>
                                                <th>
                                                    <div class="checkboxs-list" >
                                                        <div class="dropdown mutliSelect">
                                                            <div class="select-input">
                                                                <button type="button" class="btn-dropdown" id="select-groupe" data-down="down-groupe">
                                                                    <span class="multiSel">Orientation</span>
                                                                    <div class="logo-icone"><i class="fas fa-angle-down"></i></div>
                                                                </button>
                                                                <div class="select-down">
                                                                    <ul id="down-groupe" class="row-chkbox" >
                                                                        <li>
                                                                            <label class="container-chkbox">Tous
                                                                                <input type="radio" name="orientation"  data-satuts="select-groupe" value="admin">
                                                                                <span class="checkmark-chkbox"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li>
                                                                            <label class="container-chkbox">Horizonntal
                                                                                <input type="radio" name="orientation"  data-satuts="select-groupe" value="siege">
                                                                                <span class="checkmark-chkbox"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li>
                                                                            <label class="container-chkbox">vertical
                                                                                <input type="radio" name="orientation"  data-satuts="select-groupe" value="directeur">
                                                                                <span class="checkmark-chkbox"></span>
                                                                            </label>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="checkboxs-list" >
                                                        <div class="dropdown mutliSelect">
                                                            <div class="select-input">
                                                                <button type="button" class="btn-dropdown" id="select-groupe" data-down="down-groupe2">
                                                                    <span class="multiSel">Nbre d'écr.</span>
                                                                    <div class="logo-icone"><i class="fas fa-angle-down"></i></div>
                                                                </button>
                                                                <div class="select-down">
                                                                    <ul id="down-groupe2" class="row-chkbox" >
                                                                        <li>
                                                                            <label class="container-chkbox">Tous
                                                                                <input type="radio" name="orientation"  data-satuts="select-groupe" value="admin">
                                                                                <span class="checkmark-chkbox"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li>
                                                                            <label class="container-chkbox">Horizonntal
                                                                                <input type="radio" name="orientation"  data-satuts="select-groupe" value="siege">
                                                                                <span class="checkmark-chkbox"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li>
                                                                            <label class="container-chkbox">vertical
                                                                                <input type="radio" name="orientation"  data-satuts="select-groupe" value="directeur">
                                                                                <span class="checkmark-chkbox"></span>
                                                                            </label>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="checkboxs-list" >
                                                        <div class="dropdown mutliSelect">
                                                            <div class="select-input">
                                                                <button type="button" class="btn-dropdown" id="select-groupe" data-down="down-groupe3">
                                                                    <span class="multiSel">TAGS à Choix unique</span>
                                                                    <div class="logo-icone"><i class="fas fa-angle-down"></i></div>
                                                                </button>
                                                                <div class="select-down">
                                                                    <ul id="down-groupe3" class="row-chkbox" >
                                                                        <li>
                                                                            <label class="container-chkbox">Tous
                                                                                <input type="radio" name="orientation"  data-satuts="select-groupe" value="admin">
                                                                                <span class="checkmark-chkbox"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li>
                                                                            <label class="container-chkbox">Horizonntal
                                                                                <input type="radio" name="orientation"  data-satuts="select-groupe" value="siege">
                                                                                <span class="checkmark-chkbox"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li>
                                                                            <label class="container-chkbox">vertical
                                                                                <input type="radio" name="orientation"  data-satuts="select-groupe" value="directeur">
                                                                                <span class="checkmark-chkbox"></span>
                                                                            </label>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="checkboxs-list" >
                                                        <div class="dropdown mutliSelect">
                                                            <div class="select-input">
                                                                <button type="button" class="btn-dropdown" id="select-groupe" data-down="down-groupe4">
                                                                    <span class="multiSel">TAGS</span>
                                                                    <div class="logo-icone"><i class="fas fa-angle-down"></i></div>
                                                                </button>
                                                                <div class="select-down">
                                                                    <ul id="down-groupe4" class="row-chkbox" >
                                                                        <li>
                                                                            <label class="container-chkbox">Tous
                                                                                <input type="radio" name="orientation"  data-satuts="select-groupe" value="admin">
                                                                                <span class="checkmark-chkbox"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li>
                                                                            <label class="container-chkbox">Horizonntal
                                                                                <input type="radio" name="orientation"  data-satuts="select-groupe" value="siege">
                                                                                <span class="checkmark-chkbox"></span>
                                                                            </label>
                                                                        </li>
                                                                        <li>
                                                                            <label class="container-chkbox">vertical
                                                                                <input type="radio" name="orientation"  data-satuts="select-groupe" value="directeur">
                                                                                <span class="checkmark-chkbox"></span>
                                                                            </label>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>Prog.</th>
                                                <th>Affichier</th>
                                            </tr>
                                            </thead>

                                            <div class="div-tbody">
                                                <tbody class="tbody tbody-content scrollbar-table">
                                                <tr>
                                                    <td>Horizonntal</td>
                                                    <td>5</td>
                                                    <td>nat</td>
                                                    <td>gouter</td>
                                                    <td><i class="icon icon-iy-programming"></i></td>
                                                    <td><i class="icon icon-iy-programming"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>Horizonntal</td>
                                                    <td>5</td>
                                                    <td>nat</td>
                                                    <td>gouter</td>
                                                    <td><i class="icon icon-iy-programming"></i></td>
                                                    <td><i class="icon icon-iy-programming"></i></td>
                                                </tr>
                                                </tbody>
                                            </div>

                                        </table>
                                    </div>
                                </ul>

                            </ul>
                        </div>
                    </div>

                    <div class="media_infos_diffusion_right">

                        <div class="container_header">
                            <h3 class="containeer_header_info" >Sites </h3>
                            <span>6 ecr HALAL Ptit DEJ</span>
                        </div>

                        <div class="table">
                            <table class="table-custome" >
                                <thead  class="table-info thead-content">
                                <tr>
                                    <th>Nom des sites</th>
                                    <th>Ville</th>
                                    <th>Programmation</th>
                                </tr>
                                </thead>

                                <div class="div-tbody">
                                    <tbody class="tbody tbody-content scrollbar-table">
                                    <tr>
                                        <td>Q187</td>
                                        <td>Bobigny</td>
                                        <td><i class="icon icon-iy-programming"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Q187</td>
                                        <td>Bobigny</td>
                                        <td><i class="icon icon-iy-programming"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Q187</td>
                                        <td>Bobigny</td>
                                        <td><i class="icon icon-iy-programming"></i></td>
                                    </tr>
                                    </tbody>
                                </div>

                            </table>
                        </div>
                    </div>
                </div>#}

            </div>

        </div>


        <div class="popup_footer">
            <div class="actions_buttons_container">
                <button class="btn close_modal_button" type="button">Fermer</button>
            </div>
        </div>

    </article>
</section>