.customer-list{

    .customer-table-list{
        margin-top: 30px;
    }
}

.customer-show{
    .customer-show-table{
        margin-top: 30px;
    }
    .customer-show-btn{
        margin-top: 20px;
        text-align: center;
    }
}