{% extends 'base.html.twig' %}

{% block title %}Reinitialisation du mot de passe{% endblock %}


{% block body %}

    <div style="margin-left: 10%">

        {% if isAuthorizedToChangePassword is same as(true) %}

            <form method="post" action="" name="user">

                {% for message in app.flashes('message') %}
                    <p>
                        {{ message }}
                    </p>
                {% endfor %}

                <div>
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="user[password]" required>
                </div>

                <div>
                    <label for="confirmation">Confirmation</label>
                    <input type="password" id="confirmation" name="user[password_confirm]" required>
                </div>

                <button type="submit">Valider</button>

            </form>

        {% else %}

            <p>Désolé, ce lien n'est plus valide ! Dans quelques minutes vous allez recevoir un nouveau lien par mail.
            </p>

            <p>
                Si vous ne recevez pas le mail, veuillez utiliser cette <a style="color: #5381ff; text-decoration: underline" href="{{ path('user::passwordForget') }}">page</a> pour saisir à nouveau votre email.
            </p>

        {% endif %}

    </div>

{% endblock %}