.tab-create-edit{
    margin-left: 2.5%;
    .tab-content-title{
        .title{
            &::after{
                display: none;
            }
        }
    }
}
    
.tab-create-edit{
    .form-content-product{
        margin-top: 40px ;
        .form-content-product-left{
            width: 100%;
            max-width: 800px;
        }
        .bloc-date{
            width: 75%;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #C0CCD1;
            p{
                text-align: center;
                padding: 11px;
                color: #283338;
            }
        }
        .row{
            display: flex;
            &:nth-child(odd){
                .row-col{
                    background-color: #F6F6F6 ;  
                }
            }
            .row-col{
                padding: 10px 25px;
                width: 75%;
                background: #EBEBEB 0% 0% no-repeat padding-box;
                .select2{
                    width: 100%!important;
                }
            }
            
            .label-custome{
                padding: 0;
                width: 25%;
                margin: auto 0px;
            }
            .input-custome{
                width: 100%;
            } 
        }

        .row-category{
            .input-custome{
                width: 50%;
            }
           
        }
        .row-amount{
            .input-custome{
                width: 25%;
            }
        }
        .row-pricetype{
            .input-custome{
                width: 25%;
            }
        }
        #factories_prices{
            div{
                div{
                    div{
                        display: flex;
                        padding: 5px 0px;
                        .input-custome{
                            width: 18%;
                        }
                    }
                }
            }
        }
        .row-date{
            .row-col{
                text-align: center;
                position: relative;
                span{
                    margin: 0px 5px;
                }
                .datepicker{
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border: 1px solid #A4B4BB;
                    border-radius: 6px;
                    font: 17px "Barlow";
                    letter-spacing: 0px;
                    color: #343434;
                    padding: 5px 5px;
                    width: 25%;
                    &::after{
                        content: "\f107";
                        font-family: FontAwesome;
                        position: relative;
                        color: #E3E3E3;
                        top: 0px;
                        right: 0;
                        height: 32px;
                        width: 32px;
                        text-align: center;
                        font-size: 24px;
                        border-radius: 0.3rem;
                        background: #A4B4BB 0% 0% no-repeat padding-box;
                        pointer-events: none;
                    }
                }
                
                
            }
        }
    }
}


#product_editor_product_category{
    
    option{
        font-size: 15px;
        min-height: 60px;
        padding: 6px;
    }
}


.add-popup{
    top:-130px;
    height: 110%;
    width: 100%;
    .modal{
        margin: 30% auto 0 auto;
        width: 1000px;
        max-width: 100%;
        height: 700px;
        max-height: 100%;
        padding: 0;
    }
    .header-modal{
        background: #4D646D 0% 0% no-repeat padding-box;
        display: flex;
        padding:8px;
        color: white;
        .btn{
            margin-top: 5px;
            position: absolute;
            background: #FF4040;
            right: 8px;
            &:hover{
                background: rgb(207, 73, 73);
            }
        }
    }
}

.add-popup-allergens{
    .modal{
        width: 800px;
        max-width: 100%;
    }
    .content-popup-allergens{
        height: 100%;
        max-height: 610px;
        .table-custome{
            margin-top: 40px;
            .tbody{
                td{
                    &:nth-child(1){
                        width: 10%;
                        .container-input{
                            display: initial;
                            .container-rdo-tags{
                                left: 15px;
                            }
                        }
                    }
                    &:nth-child(2){
                        width: 10%;
                    }
                    &:nth-child(3){
                        .desc{
                            background: #FFFFFF 0% 0% no-repeat padding-box;
                            border: 1px solid #899CA4;
                            border-radius: 9px;
                            width: 80%;
                            text-align: left;
                            padding: 0px 10px; 
                        }
                    }
                }
            }
        }
    }
}